h1 Приглашения


- @invites.each do |invite|
  .row
    .span5

      | Команда «
      = invite.community.name
      | » приглашена на мероприятие «
      = link_to invite.event.name, invite.event
      | »

    .span3
      .btn-group.pull-right
        = link_to 'Принять приглашение', accept_invite_path(invite.id), class: 'btn btn-mini btn-success'
        = link_to 'Отказаться', cancel_invite_path(invite.id), class: 'btn btn-mini'

  hr