.FormBody
  = simple_nested_form_for @spot do |f|

    = f.input :name, input_html: {:class => 'input-block-level'}
    .clearBth
    = f.input :about, input_html: {:class => 'input-block-level'}
    .clearBth
    = f.input :address, input_html: {:class => 'input-block-level'}
    .clearBth
    = f.input :kind, collection: Spot::KINDS, as: :select, input_html: {:class => 'input-block-level'}
    .clearBth
    = f.input :paid, collection: Spot::PAIDS, as: :select, input_html: {:class => 'input-block-level'}
    .clearBth
    = f.input :place_id, as: :select, collection: Place.ordering, input_html: {:class => 'chosen-select', style: 'width: 100%', 'data-placeholder'=>'Выберите местонахождение'}, :include_blank => true

    button Сохранить изменения
