- spots.each do |obj|
  .grpBody
    .postText
      h1
        a href='#{spot_path obj}' = obj.name
      - unless obj.place.nil?
        span.geo = obj.place.fullname
        |  &nbsp;
      - unless obj.paid.empty?
        span.info = obj.paid == '0' ? 'Бесплатная' : 'Платная'
        |  &nbsp;
      - unless obj.kind.empty?
        span.info = obj.kind == '0' ? 'Открытая' : 'Крытая'
      .clearBth
      .grpText
        p = truncate obj.about, length: 300


      div style="float: right;"
        - if can? :update, obj
          = link_to '<i class="icon-pencil"></i> Редактировать'.html_safe, edit_spot_path(obj), class: 'btn btn-mini'
        - if can? :destroy, obj
          = link_to '<i class="icon-remove"></i> Удалить'.html_safe, obj, :confirm => 'Вы уверены?', :method => :delete, class: 'btn btn-mini'
      / div style='line-height: 22px;'
      /   a href='#{spot_path obj}'
      /     = obj.comments.count.to_s + ' ' + Russian::p(obj.comments.count,'отзыв','отзыва','отзывов')
