main
  section
    .grpFilter
      h1 Площадки
      a.custom_btn.search_btn href='/search/spots/'
        button Найти площадку
      - if can? :create, Spot
        = link_to new_spot_path do
          button Добавить площадку
    = render partial: 'spots/list', locals: {:spots=>@spots}
