main
  section
    .grpFilter
      h1 = @spot.name
    .grpBody
      .btn-group style="float: right;"
        - if can? :update, @spot
          = link_to '<i class="icon-pencil"></i>'.html_safe, edit_spot_path(@spot), class: 'btn btn-mini'
        - if can? :destroy, @spot
          = link_to '<i class="icon-remove"></i>'.html_safe, @spot, :confirm => 'Вы уверены?', :method => :delete, class: 'btn btn-mini'
      div
        - unless @spot.place.nil?
          span.geo = @spot.place.fullname
        - unless @spot.paid.nil?
          span.info = @spot.paid == 0 ? 'Бесплатная' : 'Платная'
        - unless @spot.kind.nil?
          span.info = @spot.kind == 0 ? 'Открытая' : 'Крытая'
      div.clearBth
      / div.favorite id='favorite_#{@spot.class.to_s}_#{@spot.id.to_s}'
      /   = render partial: 'favorites/favorite', locals: { model: @spot }

      .row
        .span4
          h5
            a href='/spots/#{@spot.id.to_s}/photoalbums/' Фотографии
          - if @spot.photoalbums.any?
            - i = 5
            - @spot.photoalbums.each do |photoalbum|
              - if i > 0
                - photoalbum.photos.limit(i).each do |photo|
                  div.img_spots
                    a href="/spots/#{@spot.id}/photoalbums/#{photo.photoalbum_id}/photos/#{photo.id}" class='modal_link'
                      img src="#{photo.photo.thumb.url}"
                  - i=i-1
          - else
            p.muted Фотографий пока нет

        .span4
          h5
            a href='/spots/#{@spot.id.to_s}/videoalbums/'
              ' Видео
          - if @spot.videoalbums.any?
            - i = 2
            - @spot.videoalbums.each do |videoalbum|
              - if i > 0
                - videoalbum.videos.limit(i).each do |video|
                  div style='width: 49%; margin: 0 1% 10px 0; float: left;'
                    a href="/spots/#{@spot.id}/videoalbums/#{video.videoalbum_id}/videos/#{video.id}" class='modal_link'
                      img class="img-rounded" src="#{video.thumb}"
                  - i=i-1

          - if !@spot.videoalbums.any? || i==2
            p.muted Видео пока нет
      .clearBth
      div
        p = @spot.address

        p = @spot.about.html_safe
      .clearBth

    = render partial: 'comments/form2', locals: { model: @spot, reverse: true, limit: 30}
    .clearBth
    div style='width: 100%'
      div id="map" style='width: 100%; height: 400px;'

    /
      script src="//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry" type="text/javascript"
      script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'
      script type='text/javascript'
        |
          $(document).ready(function(){
          mmap = Gmaps.build('Google');
          mmap.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
            markers = handler.addMarkers([
              {
                "lat": 50,
                "lng": 50,
                "icon": '1'
              }
            ]);
            mmap.bounds.extendWith(markers);
            mmap.fitMapToBounds();
          });
          });
