
= simple_nested_form_for @sport_event do |f|

  .row
    .span6
      = f.input :header, input_html: {:class => 'input-block-level'}

      = f.input :date
    .span2
      label for='sport_event_image'
        ' Изображение:
        br
        img alt="" src="#{@sport_event.image.url}" style='margin-top: 4px;max-width: 100px'
        br
        span style="color: #709FD3; font-size: 11px;"
          | изменить изображение
      div.hide
        = f.input :image
      div#sport_event_image_alert style='font-size: 12px;'

  .clearfix
  = f.input :announce, input_html: {:class => 'input-block-level'}
  = f.input :content, input_html: {:class => 'input-block-level'}
  = f.submit 'Сохранить изменения', :class => 'btn btn-success btn-mini', style: 'margin-top: 3px'




