- if can? :create, SportEvent
  = link_to '<i class="icon-plus icon-white"></i>'.html_safe, new_sport_event_path, class: 'btn btn-success', style: 'float: right;'
h1 style='margin-bottom: 25px' Новости спорта





- @sport_events.each do |obj|

  hr size='1' style='margin: 15px 0 10px'
  a href='#{sport_event_path obj}'
    img src="#{obj.image.small_thumb.url}" style='float: left;' class='img-rounded'
  .btn-group style="float: right;"
    - if can? :update, obj
      = link_to '<i class="icon-pencil"></i>'.html_safe, edit_sport_event_path(obj), class: 'btn btn-mini'
    - if can? :destroy, obj
      = link_to '<i class="icon-remove"></i>'.html_safe, obj, :confirm => 'Вы уверены?', :method => :delete, class: 'btn btn-mini'

  div style='margin-left: 80px'
    p.muted style="font-size: 11px; margin: 0;" = Russian::strftime(obj.date, '%d %B %Y в %H:%M')
    h4 style='margin: 0 0 5px'
      a href='#{sport_event_path obj}' = obj.header
    p = obj.announce
    a href='#{sport_event_path obj}' style='font-size: 12px'
      = obj.comments.count.to_s + ' ' + Russian::p(obj.comments.count,'комментарий','комментария','комментариев')
  div style='clear: both;'

div style='min-height: 60px;'
  = paginate @sport_events

