
.btn-group style="float: right;"
  - if can? :update, @sport_event
    = link_to '<i class="icon-pencil"></i>'.html_safe, edit_sport_event_path(@sport_event), class: 'btn btn-mini'
  - if can? :destroy, @sport_event
    = link_to '<i class="icon-remove"></i>'.html_safe, @sport_event, :confirm => 'Вы уверены?', :method => :delete, class: 'btn btn-mini'


p.muted style='margin: 0 0 3px; font-size: 12px;' = Russian::strftime(@sport_event.date, '%d %B %Y в %H:%M')
h1 = @sport_event.header

div class='favorites' id='favorite_#{@sport_event.class.to_s}_#{@sport_event.id.to_s}'
  = render partial: 'favorites/favorite', locals: { model: @sport_event }

= @sport_event.content.html_safe

.row

  - if can? :update, @sport_event || @sport_event.photoalbums.any?
    .span4
      h5
        a href='/sport_events/#{@sport_event.id.to_s}/photoalbums/'
          ' Фотографии
      div style='clear: both'
      - if @sport_event.photoalbums.any?



        - i = 5
        - @sport_event.photoalbums.each do |photoalbum|
          - if i > 0
            - photoalbum.photos.limit(i).each do |photo|
              div style='width: #{i==5 ? 49 : 24}%; margin: 0 1% 1% 0; float: left;'
                a  href="/sport_events/#{@sport_event.id}/photoalbums/#{photo.photoalbum_id}/photos/#{photo.id}" class='modal_link'
                  img class="img-rounded" src="#{photo.photo.thumb.url}"
              - i=i-1
        div style='clear: both'
      - else
        p.muted Фотографий пока нет

  - if can? :update, @sport_event || @sport_event.videoalbums.any?
    .span4
      h5
        a href='/sport_events/#{@sport_event.id.to_s}/videoalbums/'
          ' Видео
      div style='clear: both'
      - if @sport_event.videoalbums.any?
        - i = 2
        - @sport_event.videoalbums.each do |videoalbum|
          - if i > 0
            - videoalbum.videos.limit(i).each do |video|
              div style='width: 49%; margin: 0 1% 10px 0; float: left;'
                a href="/sport_events/#{@sport_event.id}/videoalbums/#{video.videoalbum_id}/videos/#{video.id}" class='modal_link'
                  img class="img-rounded" src="#{video.thumb}"
              - i=i-1

        div style='clear: both'
      - if !@sport_event.videoalbums.any? || i==2
        p.muted Видео пока нет



= render partial: 'comments/form', locals: { model: @sport_event, limit: 30, reverse: true, name: 'Обсуждение'}
