
= simple_nested_form_for @ad do |f|


  = f.input :name, input_html: {:class => 'input-block-level'}

  .row
    .span4
      = f.input :kind, collection: Ad::KINDS, as: :select, input_html: {:class => 'input-block-level'}
    .span4
      = f.input :price,  input_html: {:class => 'input-block-level'}

  = f.input :description, input_html: {:class => 'input-block-level'}

  = f.input :place_id, as: :select, collection: Place.ordering , input_html: {:class => 'chosen-select', style: 'width: 100%', 'data-placeholder'=>'Выберите местонахождение'}, :include_blank => true
  div style="height: 10px;"

  = f.submit 'Сохранить изменения', :class => 'btn btn-success btn-mini', style: 'margin-top: 3px'
