- ads.each do |obj|

  div style='margin: 15px 0 10px; height: 20px'

  div
    div style='float: right'
      - unless obj.place.nil?
        span.badge-success.badge = obj.place.fullname
        |  &nbsp;
      - unless obj.kind.nil?
        span.badge-info.badge = Ad::KINDS.invert[obj.kind]
        |  &nbsp;
      - unless obj.price.nil?
        span.badge-info.badge
          = obj.price
          |  руб.

    .user
      - user = obj.user
      a href="#{user_path user}" style="font-size: 12px; display: block;"
        img.img-rounded src="#{user.avatar.mini_thumb.url}" style='float: left; margin-right: 7px;'
        strong
          = user.name

    h3 style='margin: 0 0 5px'
      a href='#{ad_path obj}' = obj.name

    p = truncate obj.description, length: 300


    div style='background-color: #f3f9ff; padding: 3px 3px 2px 10px; border-radius: 3px;'

      .btn-group style="float: right;"
        - if can? :update, obj
          = link_to '<i class="icon-pencil"></i> Редактировать'.html_safe, edit_spot_path(obj), class: 'btn btn-mini'
        - if can? :destroy, obj
          = link_to '<i class="icon-remove"></i> Удалить'.html_safe, obj, :confirm => 'Вы уверены?', :method => :delete, class: 'btn btn-mini'
      div style='line-height: 22px;'
        a href='#{ad_path obj}'
          = obj.comments.count.to_s + ' ' + Russian::p(obj.comments.count,'комментарий','комментария','комментариев')


  div style='clear: both;'
