h1 style='margin-bottom: 25px' Объявления
- if can? :create, Ad
  = link_to 'Создать объявление'.html_safe, new_ad_path, class: 'custom_btn plus_btn'

div style='clear: both'

= render partial: 'ads/list', locals: {:ads=>@ads}
