
.btn-group style="float: right;"
  - if can? :update, @ad
    = link_to '<i class="icon-pencil"></i>'.html_safe, edit_ad_path(@ad), class: 'btn btn-mini'
  - if can? :destroy, @ad
    = link_to '<i class="icon-remove"></i>'.html_safe, @ad, :confirm => 'Вы уверены?', :method => :delete, class: 'btn btn-mini'


p
  - unless @ad.place.nil?
    span.badge-success.badge = @ad.place.fullname
    |  &nbsp;
  - unless @ad.kind.nil?
    span.badge-info.badge = Ad::KINDS.invert[@ad.kind]
    |  &nbsp;
  - unless @ad.price.nil?
    span.badge-info.badge
      = @ad.price
      |  руб.
.user
  - user = @ad.user
  a href="#{user_path user}" style="font-size: 12px; display: block;"
    img.img-rounded src="#{user.avatar.mini_thumb.url}" style='float: left; margin-right: 7px;'
    strong
      = user.name
h1 style='margin-top: 10px' = @ad.name
div class='favorites' id='favorite_#{@ad.class.to_s}_#{@ad.id.to_s}'
  = render partial: 'favorites/favorite', locals: { model: @ad }

.row
  .span4
    h5
      a href='/ads/#{@ad.id.to_s}/photoalbums/'
        ' Фотографии
    div style='clear: both'
    - if @ad.photoalbums.any?



      - i = 5
      - @ad.photoalbums.each do |photoalbum|
        - if i > 0
          - photoalbum.photos.limit(i).each do |photo|
            div style='width: #{i==5 ? 49 : 24}%; margin: 0 1% 1% 0; float: left;'
              a  href="/ads/#{@ad.id}/photoalbums/#{photo.photoalbum_id}/photos/#{photo.id}" class='modal_link'
                img class="img-rounded" src="#{photo.photo.thumb.url}"
            - i=i-1
      div style='clear: both'
    - else
      p.muted Фотографий пока нет


  .span4
    h5
      a href='/ads/#{@ad.id.to_s}/videoalbums/'
        ' Видео
    div style='clear: both'
    - if @ad.videoalbums.any?
      - i = 2
      - @ad.videoalbums.each do |videoalbum|
        - if i > 0
          - videoalbum.videos.limit(i).each do |video|
            div style='width: 49%; margin: 0 1% 10px 0; float: left;'
              a href="/ads/#{@ad.id}/videoalbums/#{video.videoalbum_id}/videos/#{video.id}" class='modal_link'
                img class="img-rounded" src="#{video.thumb}"
            - i=i-1

      div style='clear: both'
    - if !@ad.videoalbums.any? || i==2
      p.muted Видео пока нет

= @ad.description.html_safe


= render partial: 'comments/form', locals: { model: @ad, limit: 30, reverse: true, name: 'Обсуждение'}

