
= simple_nested_form_for @message do |f|


  = f.input :header, input_html: {:class => 'input-block-level'}

  = f.input :date
  = f.input :announce, input_html: {:class => 'input-block-level'}
  = f.input :content, input_html: {:class => 'input-block-level'}


  = f.submit 'Сохранить изменения', :class => 'btn btn-success btn-mini', style: 'margin-top: 3px'




