main
  section
    .grpFilter
      h1 style='margin-bottom: 15px' Диалоги
    .grpBody

      - bl = []
      - @messages.each do |message|

        - unless (message.sender.id != current_user.id && bl.include?(message.sender.id)) || (message.receiver.id != current_user.id && bl.include?(message.receiver.id))
          div class='message_block message_status#{message.receiver.id == current_user.id ? message.receiver_status : '1'}'
            - if message.sender.id == current_user.id
              - bl << message.receiver.id
              - link = '/users/'+message.receiver.id.to_s+'/messages#send'
              .grpImg_dialog 
                a href='#{user_path message.receiver}'    
                  img src="#{message.receiver.avatar.mini_thumb.url}"
            - else
              - bl << message.sender.id
              - link = '/users/'+message.sender.id.to_s+'/messages#send'
              .grpImg_dialog 
                a href='#{user_path message.sender}'
                  img src="#{message.sender.avatar.mini_thumb.url}"
            .info_dialog
              h1
                - if message.sender.id == current_user.id
                  a href="#{user_path message.receiver}"
                    = message.receiver.fname
                    '
                    = message.receiver.lname
                - else
                  a href="#{user_path message.sender}"
                    = message.sender.fname
                    '
                    = message.sender.lname
              p = timeago(message.created_at)
            .text_dialog
              p = truncate(message.content, :omission => "...", :length => 250)
              
            .button_dialog
              a href='#{link}'
                button
                  | Продолжить диалог
            .clearBth
      - unless @messages.any?
        p Нет ни одного сообщения


      /
        - Place.new(name: 'Екатеринбург', parent_id: 1).save
        - Place.new(name: 'Нижний Новгород', parent_id: 1).save
        - Place.new(name: 'Самара', parent_id: 1).save
        - Place.new(name: 'Омск', parent_id: 1).save
        - Place.new(name: 'Казань', parent_id: 1).save
        - Place.new(name: 'Челябинск', parent_id: 1).save
        - Place.new(name: 'Ростов-на-Дону', parent_id: 1).save
        - Place.new(name: 'Уфа', parent_id: 1).save
        - Place.new(name: 'Волгоград', parent_id: 1).save
        - Place.new(name: 'Пермь', parent_id: 1).save
        - Place.new(name: 'Красноярск', parent_id: 1).save
        - Place.new(name: 'Воронеж', parent_id: 1).save
        - Place.new(name: 'Саратов', parent_id: 1).save
        - Place.new(name: 'Краснодар', parent_id: 1).save
        - Place.new(name: 'Тольятти', parent_id: 1).save
        - Place.new(name: 'Ижевск', parent_id: 1).save
        - Place.new(name: 'Ульяновск', parent_id: 1).save
        - Place.new(name: 'Барнаул', parent_id: 1).save
        - Place.new(name: 'Владивосток', parent_id: 1).save
        - Place.new(name: 'Ярославль', parent_id: 1).save
        - Place.new(name: 'Иркутск', parent_id: 1).save
        - Place.new(name: 'Тюмень', parent_id: 1).save
        - Place.new(name: 'Махачкала', parent_id: 1).save
        - Place.new(name: 'Хабаровск', parent_id: 1).save
        - Place.new(name: 'Оренбург', parent_id: 1).save
        - Place.new(name: 'Новокузнецк', parent_id: 1).save
        - Place.new(name: 'Кемерово', parent_id: 1).save
        - Place.new(name: 'Рязань', parent_id: 1).save
        - Place.new(name: 'Томск', parent_id: 1).save
        - Place.new(name: 'Астрахань', parent_id: 1).save
        - Place.new(name: 'Пенза', parent_id: 1).save
        - Place.new(name: 'Набережные Челны', parent_id: 1).save
        - Place.new(name: 'Липецк', parent_id: 1).save
        - Place.new(name: 'Тула', parent_id: 1).save
        - Place.new(name: 'Киров', parent_id: 1).save
        - Place.new(name: 'Чебоксары', parent_id: 1).save
        - Place.new(name: 'Калининград', parent_id: 1).save
        - Place.new(name: 'Брянск', parent_id: 1).save
        - Place.new(name: 'Курск', parent_id: 1).save
        - Place.new(name: 'Иваново', parent_id: 1).save
        - Place.new(name: 'Магнитогорск', parent_id: 1).save
        - Place.new(name: 'Улан-Удэ', parent_id: 1).save
        - Place.new(name: 'Тверь', parent_id: 1).save
        - Place.new(name: 'Ставрополь', parent_id: 1).save
        - Place.new(name: 'Нижний Тагил', parent_id: 1).save
        - Place.new(name: 'Белгород', parent_id: 1).save
        - Place.new(name: 'Архангельск', parent_id: 1).save
        - Place.new(name: 'Владимир', parent_id: 1).save
        - Place.new(name: 'Сочи', parent_id: 1).save
        - Place.new(name: 'Курган', parent_id: 1).save
        - Place.new(name: 'Смоленск', parent_id: 1).save
        - Place.new(name: 'Калуга', parent_id: 1).save
        - Place.new(name: 'Чита', parent_id: 1).save
        - Place.new(name: 'Орёл', parent_id: 1).save
        - Place.new(name: 'Волжский', parent_id: 1).save
        - Place.new(name: 'Череповец', parent_id: 1).save
        - Place.new(name: 'Владикавказ', parent_id: 1).save
        - Place.new(name: 'Мурманск', parent_id: 1).save
        - Place.new(name: 'Сургут', parent_id: 1).save
        - Place.new(name: 'Вологда', parent_id: 1).save
        - Place.new(name: 'Саранск', parent_id: 1).save
        - Place.new(name: 'Тамбов', parent_id: 1).save
        - Place.new(name: 'Стерлитамак', parent_id: 1).save
        - Place.new(name: 'Грозный', parent_id: 1).save
        - Place.new(name: 'Якутск', parent_id: 1).save
        - Place.new(name: 'Кострома', parent_id: 1).save
        - Place.new(name: 'Комсомольск-на-Амуре', parent_id: 1).save
        - Place.new(name: 'Петрозаводск', parent_id: 1).save
        - Place.new(name: 'Таганрог', parent_id: 1).save
        - Place.new(name: 'Нижневартовск', parent_id: 1).save
        - Place.new(name: 'Йошкар-Ола', parent_id: 1).save
        - Place.new(name: 'Братск', parent_id: 1).save
        - Place.new(name: 'Новороссийск', parent_id: 1).save
        - Place.new(name: 'Дзержинск', parent_id: 1).save
        - Place.new(name: 'Шахты', parent_id: 1).save
        - Place.new(name: 'Нальчик', parent_id: 1).save
        - Place.new(name: 'Орск', parent_id: 1).save
        - Place.new(name: 'Сыктывкар', parent_id: 1).save
        - Place.new(name: 'Нижнекамск', parent_id: 1).save
        - Place.new(name: 'Ангарск', parent_id: 1).save
        - Place.new(name: 'Старый Оскол', parent_id: 1).save
        - Place.new(name: 'Великий Новгород', parent_id: 1).save
        - Place.new(name: 'Балашиха', parent_id: 1).save
        - Place.new(name: 'Благовещенск', parent_id: 1).save
        - Place.new(name: 'Прокопьевск', parent_id: 1).save
        - Place.new(name: 'Бийск', parent_id: 1).save
        - Place.new(name: 'Химки', parent_id: 1).save
        - Place.new(name: 'Псков', parent_id: 1).save
        - Place.new(name: 'Энгельс', parent_id: 1).save
        - Place.new(name: 'Рыбинск', parent_id: 1).save
        - Place.new(name: 'Балаково', parent_id: 1).save
        - Place.new(name: 'Северодвинск', parent_id: 1).save
        - Place.new(name: 'Армавир', parent_id: 1).save
        - Place.new(name: 'Подольск', parent_id: 1).save
        - Place.new(name: 'Королёв', parent_id: 1).save
        - Place.new(name: 'Южно-Сахалинск', parent_id: 1).save
        - Place.new(name: 'Петропавловск-Камчатский', parent_id: 1).save
        - Place.new(name: 'Сызрань', parent_id: 1).save
        - Place.new(name: 'Норильск', parent_id: 1).save
        - Place.new(name: 'Златоуст', parent_id: 1).save
        - Place.new(name: 'Каменск-Уральский', parent_id: 1).save
        - Place.new(name: 'Мытищи', parent_id: 1).save
        - Place.new(name: 'Люберцы', parent_id: 1).save
        - Place.new(name: 'Волгодонск', parent_id: 1).save
        - Place.new(name: 'Новочеркасск', parent_id: 1).save
        - Place.new(name: 'Абакан', parent_id: 1).save
        - Place.new(name: 'Находка', parent_id: 1).save
        - Place.new(name: 'Уссурийск', parent_id: 1).save
        - Place.new(name: 'Березники', parent_id: 1).save
        - Place.new(name: 'Салават', parent_id: 1).save
        - Place.new(name: 'Электросталь', parent_id: 1).save
        - Place.new(name: 'Миасс', parent_id: 1).save
        - Place.new(name: 'Первоуральск', parent_id: 1).save
        - Place.new(name: 'Рубцовск', parent_id: 1).save
        - Place.new(name: 'Альметьевск', parent_id: 1).save
        - Place.new(name: 'Ковров', parent_id: 1).save
        - Place.new(name: 'Коломна', parent_id: 1).save
        - Place.new(name: 'Майкоп', parent_id: 1).save
        - Place.new(name: 'Пятигорск', parent_id: 1).save
        - Place.new(name: 'Одинцово', parent_id: 1).save
        - Place.new(name: 'Колпино', parent_id: 1).save
        - Place.new(name: 'Копейск', parent_id: 1).save
        - Place.new(name: 'Хасавюрт', parent_id: 1).save
        - Place.new(name: 'Железнодорожный', parent_id: 1).save
        - Place.new(name: 'Новомосковск', parent_id: 1).save
        - Place.new(name: 'Кисловодск', parent_id: 1).save
        - Place.new(name: 'Серпухов', parent_id: 1).save
        - Place.new(name: 'Новочебоксарск', parent_id: 1).save
        - Place.new(name: 'Нефтеюганск', parent_id: 1).save
        - Place.new(name: 'Димитровград', parent_id: 1).save
        - Place.new(name: 'Нефтекамск', parent_id: 1).save
        - Place.new(name: 'Черкесск', parent_id: 1).save
        - Place.new(name: 'Орехово-Зуево', parent_id: 1).save
        - Place.new(name: 'Дербент', parent_id: 1).save
        - Place.new(name: 'Камышин', parent_id: 1).save
        - Place.new(name: 'Невинномысск', parent_id: 1).save
        - Place.new(name: 'Красногорск', parent_id: 1).save
        - Place.new(name: 'Муром', parent_id: 1).save
        - Place.new(name: 'Батайск', parent_id: 1).save
        - Place.new(name: 'Новошахтинск', parent_id: 1).save
        - Place.new(name: 'Сергиев Посад', parent_id: 1).save
        - Place.new(name: 'Ноябрьск', parent_id: 1).save
        - Place.new(name: 'Щёлково', parent_id: 1).save
        - Place.new(name: 'Кызыл', parent_id: 1).save
        - Place.new(name: 'Октябрьский', parent_id: 1).save
        - Place.new(name: 'Ачинск', parent_id: 1).save
        - Place.new(name: 'Северск', parent_id: 1).save
        - Place.new(name: 'Новокуйбышевск', parent_id: 1).save
        - Place.new(name: 'Елец', parent_id: 1).save
        - Place.new(name: 'Арзамас', parent_id: 1).save
        - Place.new(name: 'Обнинск', parent_id: 1).save
        - Place.new(name: 'Новый Уренгой', parent_id: 1).save
        - Place.new(name: 'Каспийск', parent_id: 1).save
        - Place.new(name: 'Элиста', parent_id: 1).save
        - Place.new(name: 'Пушкино', parent_id: 1).save
        - Place.new(name: 'Жуковский', parent_id: 1).save
        - Place.new(name: 'Артём', parent_id: 1).save
        - Place.new(name: 'Междуреченск', parent_id: 1).save
        - Place.new(name: 'Ленинск-Кузнецкий', parent_id: 1).save
        - Place.new(name: 'Сарапул', parent_id: 1).save
        - Place.new(name: 'Ессентуки', parent_id: 1).save
        - Place.new(name: 'Воткинск', parent_id: 1).save
        - Place.new(name: 'Ногинск', parent_id: 1).save
        - Place.new(name: 'Тобольск', parent_id: 1).save
        - Place.new(name: 'Ухта', parent_id: 1).save
        - Place.new(name: 'Серов', parent_id: 1).save
        - Place.new(name: 'Бердск', parent_id: 1).save
        - Place.new(name: 'Великие Луки', parent_id: 1).save
        - Place.new(name: 'Мичуринск', parent_id: 1).save
        - Place.new(name: 'Киселёвск', parent_id: 1).save
        - Place.new(name: 'Новотроицк', parent_id: 1).save
        - Place.new(name: 'Зеленодольск', parent_id: 1).save
        - Place.new(name: 'Соликамск', parent_id: 1).save
        - Place.new(name: 'Раменское', parent_id: 1).save
        - Place.new(name: 'Домодедово', parent_id: 1).save
        - Place.new(name: 'Магадан', parent_id: 1).save
        - Place.new(name: 'Глазов', parent_id: 1).save
        - Place.new(name: 'Каменск-Шахтинский', parent_id: 1).save
        - Place.new(name: 'Железногорск', parent_id: 1).save
        - Place.new(name: 'Канск', parent_id: 1).save
        - Place.new(name: 'Назрань', parent_id: 1).save
        - Place.new(name: 'Пушкин', parent_id: 1).save
        - Place.new(name: 'Гатчина', parent_id: 1).save
        - Place.new(name: 'Саров', parent_id: 1).save
        - Place.new(name: 'Новоуральск', parent_id: 1).save
        - Place.new(name: 'Воскресенск', parent_id: 1).save
        - Place.new(name: 'Долгопрудный', parent_id: 1).save
        - Place.new(name: 'Бугульма', parent_id: 1).save
        - Place.new(name: 'Кузнецк', parent_id: 1).save
        - Place.new(name: 'Губкин', parent_id: 1).save
        - Place.new(name: 'Кинешма', parent_id: 1).save
        - Place.new(name: 'Ейск', parent_id: 1).save
        - Place.new(name: 'Реутов', parent_id: 1).save
        - Place.new(name: 'Усть-Илимск', parent_id: 1).save
        - Place.new(name: 'Железногорск', parent_id: 1).save
        - Place.new(name: 'Усолье-Сибирское', parent_id: 1).save
        - Place.new(name: 'Чайковский', parent_id: 1).save
        - Place.new(name: 'Азов', parent_id: 1).save
        - Place.new(name: 'Бузулук', parent_id: 1).save
        - Place.new(name: 'Озёрск', parent_id: 1).save
        - Place.new(name: 'Балашов', parent_id: 1).save
        - Place.new(name: 'Юрга', parent_id: 1).save
        - Place.new(name: 'Кирово-Чепецк', parent_id: 1).save
        - Place.new(name: 'Кропоткин', parent_id: 1).save
        - Place.new(name: 'Клин', parent_id: 1).save
        - Place.new(name: 'Красноуфимск', parent_id: 1).save
        - Place.new(name: 'Выборг', parent_id: 1).save
        - Place.new(name: 'Ханты-Мансийск', parent_id: 1).save
        - Place.new(name: 'Троицк', parent_id: 1).save
        - Place.new(name: 'Бор', parent_id: 1).save
        - Place.new(name: 'Шадринск', parent_id: 1).save
        - Place.new(name: 'Белово', parent_id: 1).save
        - Place.new(name: 'Минеральные Воды', parent_id: 1).save
        - Place.new(name: 'Анжеро-Судженск', parent_id: 1).save
        - Place.new(name: 'Биробиджан', parent_id: 1).save
        - Place.new(name: 'Лобня', parent_id: 1).save
        - Place.new(name: 'Петергоф', parent_id: 1).save
        - Place.new(name: 'Чапаевск', parent_id: 1).save
        - Place.new(name: 'Георгиевск', parent_id: 1).save
        - Place.new(name: 'Черногорск', parent_id: 1).save
        - Place.new(name: 'Минусинск', parent_id: 1).save
        - Place.new(name: 'Михайловск', parent_id: 1).save
        - Place.new(name: 'Елабуга', parent_id: 1).save
        - Place.new(name: 'Дубна', parent_id: 1).save
        - Place.new(name: 'Воркута', parent_id: 1).save
        - Place.new(name: 'Новоалтайск', parent_id: 1).save
        - Place.new(name: 'Егорьевск', parent_id: 1).save
        - Place.new(name: 'Асбест', parent_id: 1).save
        - Place.new(name: 'Ишим', parent_id: 1).save
        - Place.new(name: 'Белорецк', parent_id: 1).save
        - Place.new(name: 'Белогорск', parent_id: 1).save
        - Place.new(name: 'Кунгур', parent_id: 1).save
        - Place.new(name: 'Лысьва', parent_id: 1).save
        - Place.new(name: 'Гуково', parent_id: 1).save
        - Place.new(name: 'Ступино', parent_id: 1).save
        - Place.new(name: 'Туймазы', parent_id: 1).save
        - Place.new(name: 'Кстово', parent_id: 1).save
        - Place.new(name: 'Вольск', parent_id: 1).save
        - Place.new(name: 'Ишимбай', parent_id: 1).save
        - Place.new(name: 'Зеленогорск', parent_id: 1).save
        - Place.new(name: 'Сосновый Бор', parent_id: 1).save
        - Place.new(name: 'Буйнакск', parent_id: 1).save
        - Place.new(name: 'Борисоглебск', parent_id: 1).save
        - Place.new(name: 'Наро-Фоминск', parent_id: 1).save
        - Place.new(name: 'Будённовск', parent_id: 1).save
        - Place.new(name: 'Донской', parent_id: 1).save
        - Place.new(name: 'Полевской', parent_id: 1).save
        - Place.new(name: 'Лениногорск', parent_id: 1).save
        - Place.new(name: 'Павловский Посад', parent_id: 1).save
        - Place.new(name: 'Славянск-на-Кубани', parent_id: 1).save
        - Place.new(name: 'Заречный', parent_id: 1).save
        - Place.new(name: 'Туапсе', parent_id: 1).save
        - Place.new(name: 'Россошь', parent_id: 1).save
        - Place.new(name: 'Кумертау', parent_id: 1).save
        - Place.new(name: 'Лабинск', parent_id: 1).save
        - Place.new(name: 'Сибай', parent_id: 1).save
        - Place.new(name: 'Клинцы', parent_id: 1).save
        - Place.new(name: 'Ржев', parent_id: 1).save
        - Place.new(name: 'Тихорецк', parent_id: 1).save
        - Place.new(name: 'Нерюнгри', parent_id: 1).save
        - Place.new(name: 'Алексин', parent_id: 1).save
        - Place.new(name: 'Ревда', parent_id: 1).save
        - Place.new(name: 'Александров', parent_id: 1).save
        - Place.new(name: 'Дмитров', parent_id: 1).save
        - Place.new(name: 'Мелеуз', parent_id: 1).save
        - Place.new(name: 'Сальск', parent_id: 1).save
        - Place.new(name: 'Лесосибирск', parent_id: 1).save
        - Place.new(name: 'Гусь-Хрустальный', parent_id: 1).save
        - Place.new(name: 'Чистополь', parent_id: 1).save
        - Place.new(name: 'Павлово', parent_id: 1).save
        - Place.new(name: 'Чехов', parent_id: 1).save
        - Place.new(name: 'Котлас', parent_id: 1).save
        - Place.new(name: 'Белебей', parent_id: 1).save
        - Place.new(name: 'Искитим', parent_id: 1).save
        - Place.new(name: 'Краснотурьинск', parent_id: 1).save
        - Place.new(name: 'Апатиты', parent_id: 1).save
        - Place.new(name: 'Всеволожск', parent_id: 1).save
        - Place.new(name: 'Прохладный', parent_id: 1).save
        - Place.new(name: 'Михайловка', parent_id: 1).save
        - Place.new(name: 'Анапа', parent_id: 1).save
        - Place.new(name: 'Тихвин', parent_id: 1).save
        - Place.new(name: 'Верхняя Пышма', parent_id: 1).save
        - Place.new(name: 'Свободный', parent_id: 1).save
        - Place.new(name: 'Ивантеевка', parent_id: 1).save
        - Place.new(name: 'Шуя', parent_id: 1).save
        - Place.new(name: 'Когалым', parent_id: 1).save
        - Place.new(name: 'Щёкино', parent_id: 1).save
        - Place.new(name: 'Жигулёвск', parent_id: 1).save
        - Place.new(name: 'Крымск', parent_id: 1).save
        - Place.new(name: 'Вязьма', parent_id: 1).save
        - Place.new(name: 'Горно-Алтайск', parent_id: 1).save
        - Place.new(name: 'Видное', parent_id: 1).save
        - Place.new(name: 'Арсеньев', parent_id: 1).save
        - Place.new(name: 'Избербаш', parent_id: 1).save
        - Place.new(name: 'Выкса', parent_id: 1).save
        - Place.new(name: 'Климовск', parent_id: 1).save
        - Place.new(name: 'Лиски', parent_id: 1).save
        - Place.new(name: 'Волжск', parent_id: 1).save
        - Place.new(name: 'Краснокаменск', parent_id: 1).save
        - Place.new(name: 'Фрязино', parent_id: 1).save
        - Place.new(name: 'Узловая', parent_id: 1).save
        - Place.new(name: 'Лыткарино', parent_id: 1).save
        - Place.new(name: 'Нягань', parent_id: 1).save
        - Place.new(name: 'Рославль', parent_id: 1).save
        - Place.new(name: 'Геленджик', parent_id: 1).save
        - Place.new(name: 'Боровичи', parent_id: 1).save
        - Place.new(name: 'Тимашёвск', parent_id: 1).save
        - Place.new(name: 'Белореченск', parent_id: 1).save
        - Place.new(name: 'Солнечногорск', parent_id: 1).save
        - Place.new(name: 'Назарово', parent_id: 1).save
        - Place.new(name: 'Кириши', parent_id: 1).save
        - Place.new(name: 'Черемхово', parent_id: 1).save
        - Place.new(name: 'Краснокамск', parent_id: 1).save
        - Place.new(name: 'Лесной', parent_id: 1).save
        - Place.new(name: 'Вышний Волочёк', parent_id: 1).save
        - Place.new(name: 'Бугуруслан', parent_id: 1).save
        - Place.new(name: 'Берёзовский', parent_id: 1).save
        - Place.new(name: 'Балахна', parent_id: 1).save
        - Place.new(name: 'Ливны', parent_id: 1).save
        - Place.new(name: 'Донецк', parent_id: 1).save
        - Place.new(name: 'Североморск', parent_id: 1).save
        - Place.new(name: 'Саяногорск', parent_id: 1).save
        - Place.new(name: 'Кимры', parent_id: 1).save
        - Place.new(name: 'Мегион', parent_id: 1).save
        - Place.new(name: 'Кизляр', parent_id: 1).save
        - Place.new(name: 'Урус-Мартан', parent_id: 1).save
        - Place.new(name: 'Снежинск', parent_id: 1).save
        - Place.new(name: 'Кингисепп', parent_id: 1).save
        - Place.new(name: 'Заринск', parent_id: 1).save
        - Place.new(name: 'Курганинск', parent_id: 1).save
        - Place.new(name: 'Шелехов', parent_id: 1).save
        - Place.new(name: 'Можга', parent_id: 1).save
        - Place.new(name: 'Сертолово', parent_id: 1).save
        - Place.new(name: 'Ярцево', parent_id: 1).save
        - Place.new(name: 'Шали', parent_id: 1).save
        - Place.new(name: 'Отрадный', parent_id: 1).save
        - Place.new(name: 'Торжок', parent_id: 1).save
        - Place.new(name: 'Рузаевка', parent_id: 1).save
        - Place.new(name: 'Волхов', parent_id: 1).save
        - Place.new(name: 'Берёзовский', parent_id: 1).save
        - Place.new(name: 'Куйбышев', parent_id: 1).save
        - Place.new(name: 'Дзержинский', parent_id: 1).save
        - Place.new(name: 'Грязи', parent_id: 1).save
        - Place.new(name: 'Чусовой', parent_id: 1).save
        - Place.new(name: 'Надым', parent_id: 1).save
        - Place.new(name: 'Верхняя Салда', parent_id: 1).save
        - Place.new(name: 'Сафоново', parent_id: 1).save
        - Place.new(name: 'Осинники', parent_id: 1).save
        - Place.new(name: 'Кольчугино', parent_id: 1).save
        - Place.new(name: 'Гудермес', parent_id: 1).save
        - Place.new(name: 'Канаш', parent_id: 1).save
        - Place.new(name: 'Рассказово', parent_id: 1).save
        - Place.new(name: 'Сатка', parent_id: 1).save
        - Place.new(name: 'Мончегорск', parent_id: 1).save
        - Place.new(name: 'Усть-Кут', parent_id: 1).save
        - Place.new(name: 'Тулун', parent_id: 1).save
        - Place.new(name: 'Красное Село', parent_id: 1).save
        - Place.new(name: 'Шебекино', parent_id: 1).save
        - Place.new(name: 'Спасск-Дальний', parent_id: 1).save
        - Place.new(name: 'Камень-на-Оби', parent_id: 1).save
        - Place.new(name: 'Белая Калитва', parent_id: 1).save
        - Place.new(name: 'Печора', parent_id: 1).save
        - Place.new(name: 'Чебаркуль', parent_id: 1).save
        - Place.new(name: 'Радужный', parent_id: 1).save
        - Place.new(name: 'Усть-Лабинск', parent_id: 1).save
        - Place.new(name: 'Мценск', parent_id: 1).save
        - Place.new(name: 'Мыски', parent_id: 1).save
        - Place.new(name: 'Ломоносов', parent_id: 1).save
        - Place.new(name: 'Кронштадт', parent_id: 1).save
        - Place.new(name: 'Амурск', parent_id: 1).save
        - Place.new(name: 'Курчатов', parent_id: 1).save
        - Place.new(name: 'Качканар', parent_id: 1).save
        - Place.new(name: 'Салехард', parent_id: 1).save
        - Place.new(name: 'Ефремов', parent_id: 1).save
        - Place.new(name: 'Стрежевой', parent_id: 1).save
        - Place.new(name: 'Аксай', parent_id: 1).save
        - Place.new(name: 'Переславль-Залесский', parent_id: 1).save
        - Place.new(name: 'Ахтубинск', parent_id: 1).save
        - Place.new(name: 'Кашира', parent_id: 1).save
        - Place.new(name: 'Заинск', parent_id: 1).save
        - Place.new(name: 'Советск', parent_id: 1).save
        - Place.new(name: 'Пугачёв', parent_id: 1).save
        - Place.new(name: 'Лангепас', parent_id: 1).save
        - Place.new(name: 'Бирск', parent_id: 1).save
        - Place.new(name: 'Урюпинск', parent_id: 1).save
        - Place.new(name: 'Моршанск', parent_id: 1).save
        - Place.new(name: 'Пыть-Ях', parent_id: 1).save
        - Place.new(name: 'Конаково', parent_id: 1).save
        - Place.new(name: 'Ртищево', parent_id: 1).save
        - Place.new(name: 'Вязники', parent_id: 1).save
        - Place.new(name: 'Кореновск', parent_id: 1).save
        - Place.new(name: 'Усинск', parent_id: 1).save
        - Place.new(name: 'Тутаев', parent_id: 1).save
        - Place.new(name: 'Красный Сулин', parent_id: 1).save
        - Place.new(name: 'Саянск', parent_id: 1).save
        - Place.new(name: 'Большой Камень', parent_id: 1).save
        - Place.new(name: 'Новодвинск', parent_id: 1).save
        - Place.new(name: 'Новозыбков', parent_id: 1).save
        - Place.new(name: 'Людиново', parent_id: 1).save
        - Place.new(name: 'Изобильный', parent_id: 1).save
        - Place.new(name: 'Мариинск', parent_id: 1).save
        - Place.new(name: 'Черняховск', parent_id: 1).save
        - Place.new(name: 'Заволжье', parent_id: 1).save
        - Place.new(name: 'Апшеронск', parent_id: 1).save
        - Place.new(name: 'Троицк', parent_id: 1).save
        - Place.new(name: 'Коряжма', parent_id: 1).save
        - Place.new(name: 'Каменка', parent_id: 1).save
        - Place.new(name: 'Елизово', parent_id: 1).save
        - Place.new(name: 'Фролово', parent_id: 1).save
        - Place.new(name: 'Урай', parent_id: 1).save
        - Place.new(name: 'Тосно', parent_id: 1).save
        - Place.new(name: 'Алексеевка', parent_id: 1).save
        - Place.new(name: 'Коркино', parent_id: 1).save
        - Place.new(name: 'Кыштым', parent_id: 1).save
        - Place.new(name: 'Лянтор', parent_id: 1).save
        - Place.new(name: 'Моздок', parent_id: 1).save
        - Place.new(name: 'Реж', parent_id: 1).save
        - Place.new(name: 'Партизанск', parent_id: 1).save
        - Place.new(name: 'Шарыпово', parent_id: 1).save
        - Place.new(name: 'Светлоград', parent_id: 1).save
        - Place.new(name: 'Сокол', parent_id: 1).save
        - Place.new(name: 'Ирбит', parent_id: 1).save
        - Place.new(name: 'Гай', parent_id: 1).save
        - Place.new(name: 'Алатырь', parent_id: 1).save
        - Place.new(name: 'Алапаевск', parent_id: 1).save
        - Place.new(name: 'Темрюк', parent_id: 1).save
        - Place.new(name: 'Южноуральск', parent_id: 1).save
        - Place.new(name: 'Учалы', parent_id: 1).save
        - Place.new(name: 'Вичуга', parent_id: 1).save
        - Place.new(name: 'Дальнегорск', parent_id: 1).save
        - Place.new(name: 'Протвино', parent_id: 1).save
        - Place.new(name: 'Мирный', parent_id: 1).save
        - Place.new(name: 'Нижнеудинск', parent_id: 1).save
        - Place.new(name: 'Лесозаводск', parent_id: 1).save
        - Place.new(name: 'Баксан', parent_id: 1).save
        - Place.new(name: 'Беслан', parent_id: 1).save
        - Place.new(name: 'Сестрорецк', parent_id: 1).save
        - Place.new(name: 'Ялуторовск', parent_id: 1).save
        - Place.new(name: 'Миллерово', parent_id: 1).save
        - Place.new(name: 'Луга', parent_id: 1).save
        - Place.new(name: 'Кизилюрт', parent_id: 1).save
        - Place.new(name: 'Фурманов', parent_id: 1).save
        - Place.new(name: 'Краснознаменск', parent_id: 1).save
        - Place.new(name: 'Зеленокумск', parent_id: 1).save
        - Place.new(name: 'Кулебаки', parent_id: 1).save
        - Place.new(name: 'Добрянка', parent_id: 1).save
        - Place.new(name: 'Кандалакша', parent_id: 1).save
        - Place.new(name: 'Тында', parent_id: 1).save
        - Place.new(name: 'Тайшет', parent_id: 1).save
        - Place.new(name: 'Тавда', parent_id: 1).save
        - Place.new(name: 'Сердобск', parent_id: 1).save
        - Place.new(name: 'Валуйки', parent_id: 1).save
        - Place.new(name: 'Гулькевичи', parent_id: 1).save
        - Place.new(name: 'Вятские Поляны', parent_id: 1).save
        - Place.new(name: 'Истра', parent_id: 1).save
        - Place.new(name: 'Тейково', parent_id: 1).save
        - Place.new(name: 'Абинск', parent_id: 1).save
        - Place.new(name: 'Азнакаево', parent_id: 1).save
        - Place.new(name: 'Новокубанск', parent_id: 1).save
        - Place.new(name: 'Сухой Лог', parent_id: 1).save
        - Place.new(name: 'Углич', parent_id: 1).save
        - Place.new(name: 'Кинель', parent_id: 1).save
        - Place.new(name: 'Благовещенск', parent_id: 1).save
        - Place.new(name: 'Югорск', parent_id: 1).save
        - Place.new(name: 'Слободской', parent_id: 1).save
        - Place.new(name: 'Острогожск', parent_id: 1).save
        - Place.new(name: 'Трёхгорный', parent_id: 1).save
        - Place.new(name: 'Сланцы', parent_id: 1).save
        - Place.new(name: 'Корсаков', parent_id: 1).save
        - Place.new(name: 'Касимов', parent_id: 1).save
        - Place.new(name: 'Шумерля', parent_id: 1).save
        - Place.new(name: 'Муравленко', parent_id: 1).save
        - Place.new(name: 'Чернушка', parent_id: 1).save
        - Place.new(name: 'Юбилейный', parent_id: 1).save
        - Place.new(name: 'Сосновоборск', parent_id: 1).save
        - Place.new(name: 'Кушва', parent_id: 1).save
        - Place.new(name: 'Кондопога', parent_id: 1).save
        - Place.new(name: 'Артёмовский', parent_id: 1).save
        - Place.new(name: 'Шатура', parent_id: 1).save
        - Place.new(name: 'Щербинка', parent_id: 1).save
        - Place.new(name: 'Благодарный', parent_id: 1).save
        - Place.new(name: 'Балтийск', parent_id: 1).save
        - Place.new(name: 'Нововоронеж', parent_id: 1).save
        - Place.new(name: 'Нурлат', parent_id: 1).save
        - Place.new(name: 'Зима', parent_id: 1).save
        - Place.new(name: 'Славгород', parent_id: 1).save
        - Place.new(name: 'Котельники', parent_id: 1).save
        - Place.new(name: 'Приморско-Ахтарск', parent_id: 1).save
        - Place.new(name: 'Старая Русса', parent_id: 1).save
        - Place.new(name: 'Инта', parent_id: 1).save
        - Place.new(name: 'Аша', parent_id: 1).save
        - Place.new(name: 'Богородицк', parent_id: 1).save
        - Place.new(name: 'Киров', parent_id: 1).save
        - Place.new(name: 'Котовск', parent_id: 1).save
        - Place.new(name: 'Ростов', parent_id: 1).save
        - Place.new(name: 'Богданович', parent_id: 1).save
        - Place.new(name: 'Гагарин', parent_id: 1).save
        - Place.new(name: 'Нарткала', parent_id: 1).save
        - Place.new(name: 'Великий Устюг', parent_id: 1).save
        - Place.new(name: 'Маркс', parent_id: 1).save
        - Place.new(name: 'Можайск', parent_id: 1).save
        - Place.new(name: 'Борзя', parent_id: 1).save
        - Place.new(name: 'Ликино-Дулёво', parent_id: 1).save
        - Place.new(name: 'Дюртюли', parent_id: 1).save
        - Place.new(name: 'Петровск', parent_id: 1).save
        - Place.new(name: 'Карабулак', parent_id: 1).save
        - Place.new(name: 'Малгобек', parent_id: 1).save
        - Place.new(name: 'Удомля', parent_id: 1).save
        - Place.new(name: 'Холмск', parent_id: 1).save
        - Place.new(name: 'Кудымкар', parent_id: 1).save
        - Place.new(name: 'Городец', parent_id: 1).save
        - Place.new(name: 'Дагестанские Огни', parent_id: 1).save
        - Place.new(name: 'Усть-Джегута', parent_id: 1).save
        - Place.new(name: 'Верхний Уфалей', parent_id: 1).save
        - Place.new(name: 'Малоярославец', parent_id: 1).save
        - Place.new(name: 'Скопин', parent_id: 1).save
        - Place.new(name: 'Мирный', parent_id: 1).save
        - Place.new(name: 'Барабинск', parent_id: 1).save
        - Place.new(name: 'Еманжелинск', parent_id: 1).save
        - Place.new(name: 'Сорочинск', parent_id: 1).save
        - Place.new(name: 'Горячий Ключ', parent_id: 1).save
        - Place.new(name: 'Киржач', parent_id: 1).save
        - Place.new(name: 'Луховицы', parent_id: 1).save
        - Place.new(name: 'Десногорск', parent_id: 1).save
        - Place.new(name: 'Сегежа', parent_id: 1).save
        - Place.new(name: 'Аргун', parent_id: 1).save
        - Place.new(name: 'Алейск', parent_id: 1).save
        - Place.new(name: 'Дятьково', parent_id: 1).save
        - Place.new(name: 'Кохма', parent_id: 1).save
        - Place.new(name: 'Знаменск', parent_id: 1).save
        - Place.new(name: 'Дедовск', parent_id: 1).save
        - Place.new(name: 'Североуральск', parent_id: 1).save
        - Place.new(name: 'Карталы', parent_id: 1).save
        - Place.new(name: 'Карпинск', parent_id: 1).save
        - Place.new(name: 'Карасук', parent_id: 1).save
        - Place.new(name: 'Кировск', parent_id: 1).save
        - Place.new(name: 'Топки', parent_id: 1).save
        - Place.new(name: 'Кимовск', parent_id: 1).save
        - Place.new(name: 'Костомукша', parent_id: 1).save
        - Place.new(name: 'Дивногорск', parent_id: 1).save
        - Place.new(name: 'Гусев', parent_id: 1).save
        - Place.new(name: 'Похвистнево', parent_id: 1).save
        - Place.new(name: 'Сасово', parent_id: 1).save
        - Place.new(name: 'Сосногорск', parent_id: 1).save
        - Place.new(name: 'Советская Гавань', parent_id: 1).save
        - Place.new(name: 'Нефтекумск', parent_id: 1).save
        - Place.new(name: 'Морозовск', parent_id: 1).save
        - Place.new(name: 'Полысаево', parent_id: 1).save
        - Place.new(name: 'Дальнереченск', parent_id: 1).save
        - Place.new(name: 'Губаха', parent_id: 1).save
        - Place.new(name: 'Медногорск', parent_id: 1).save
        - Place.new(name: 'Октябрьск', parent_id: 1).save
        - Place.new(name: 'Бутурлиновка', parent_id: 1).save
        - Place.new(name: 'Янаул', parent_id: 1).save
        - Place.new(name: 'Лабытнанги', parent_id: 1).save
        - Place.new(name: 'Калач-на-Дону', parent_id: 1).save
        - Place.new(name: 'Камышлов', parent_id: 1).save
        - Place.new(name: 'Зерноград', parent_id: 1).save
        - Place.new(name: 'Уварово', parent_id: 1).save
        - Place.new(name: 'Заречный', parent_id: 1).save
        - Place.new(name: 'Новоалександровск', parent_id: 1).save
        - Place.new(name: 'Майский', parent_id: 1).save
        - Place.new(name: 'Тара', parent_id: 1).save
        - Place.new(name: 'Новопавловск', parent_id: 1).save
        - Place.new(name: 'Советский', parent_id: 1).save
        - Place.new(name: 'Балабаново', parent_id: 1).save
        - Place.new(name: 'Родники', parent_id: 1).save
        - Place.new(name: 'Соль-Илецк', parent_id: 1).save
        - Place.new(name: 'Красноармейск', parent_id: 1).save
        - Place.new(name: 'Унеча', parent_id: 1).save
        - Place.new(name: 'Кувандык', parent_id: 1).save
        - Place.new(name: 'Обь', parent_id: 1).save
        - Place.new(name: 'Железногорск-Илимский', parent_id: 1).save
        - Place.new(name: 'Татарск', parent_id: 1).save
        - Place.new(name: 'Ипатово', parent_id: 1).save
        - Place.new(name: 'Семилуки', parent_id: 1).save
        - Place.new(name: 'Исилькуль', parent_id: 1).save
        - Place.new(name: 'Озёры', parent_id: 1).save
        - Place.new(name: 'Буй', parent_id: 1).save
        - Place.new(name: 'Заводоуковск', parent_id: 1).save
        - Place.new(name: 'Кировск', parent_id: 1).save
        - Place.new(name: 'Аткарск', parent_id: 1).save
        - Place.new(name: 'Асино', parent_id: 1).save
        - Place.new(name: 'Киреевск', parent_id: 1).save
        - Place.new(name: 'Богородск', parent_id: 1).save
        - Place.new(name: 'Тайга', parent_id: 1).save
        - Place.new(name: 'Невьянск', parent_id: 1).save
        - Place.new(name: 'Павловск', parent_id: 1).save
        - Place.new(name: 'Зея', parent_id: 1).save
        - Place.new(name: 'Котельнич', parent_id: 1).save
        - Place.new(name: 'Красноуральск', parent_id: 1).save
        - Place.new(name: 'Ленск', parent_id: 1).save
        - Place.new(name: 'Северобайкальск', parent_id: 1).save
        - Place.new(name: 'Гурьевск', parent_id: 1).save
        - Place.new(name: 'Зарайск', parent_id: 1).save
        - Place.new(name: 'Гусиноозёрск', parent_id: 1).save
        - Place.new(name: 'Бежецк', parent_id: 1).save
        - Place.new(name: 'Железноводск', parent_id: 1).save
        - Place.new(name: 'Семёнов', parent_id: 1).save
        - Place.new(name: 'Красноармейск', parent_id: 1).save
        - Place.new(name: 'Колпашево', parent_id: 1).save
        - Place.new(name: 'Котово', parent_id: 1).save
        - Place.new(name: 'Давлеканово', parent_id: 1).save
        - Place.new(name: 'Калачинск', parent_id: 1).save
        - Place.new(name: 'Строитель', parent_id: 1).save
        - Place.new(name: 'Вельск', parent_id: 1).save
        - Place.new(name: 'Семикаракорск', parent_id: 1).save
        - Place.new(name: 'Отрадное', parent_id: 1).save
        - Place.new(name: 'Карачаевск', parent_id: 1).save
        - Place.new(name: 'Фокино', parent_id: 1).save
        - Place.new(name: 'Шарья', parent_id: 1).save
        - Place.new(name: 'Омутнинск', parent_id: 1).save
        - Place.new(name: 'Усть-Катав', parent_id: 1).save
        - Place.new(name: 'Бологое', parent_id: 1).save
        - Place.new(name: 'Волоколамск', parent_id: 1).save
        - Place.new(name: 'Губкинский', parent_id: 1).save
        - Place.new(name: 'Таштагол', parent_id: 1).save
        - Place.new(name: 'Оленегорск', parent_id: 1).save
        - Place.new(name: 'Оха', parent_id: 1).save
        - Place.new(name: 'Кубинка', parent_id: 1).save
        - Place.new(name: 'Вилючинск', parent_id: 1).save
        - Place.new(name: 'Нелидово', parent_id: 1).save
        - Place.new(name: 'Нерехта', parent_id: 1).save
        - Place.new(name: 'Николаевск-на-Амуре', parent_id: 1).save
        - Place.new(name: 'Верещагино', parent_id: 1).save
        - Place.new(name: 'Нижний Ломов', parent_id: 1).save
        - Place.new(name: 'Лосино-Петровский', parent_id: 1).save
        - Place.new(name: 'Лермонтов', parent_id: 1).save
        - Place.new(name: 'Вихоревка', parent_id: 1).save
        - Place.new(name: 'Никольск', parent_id: 1).save
        - Place.new(name: 'Оса', parent_id: 1).save
        - Place.new(name: 'Зверево', parent_id: 1).save
        - Place.new(name: 'Няндома', parent_id: 1).save
        - Place.new(name: 'Дудинка', parent_id: 1).save
        - Place.new(name: 'Электрогорск', parent_id: 1).save
        - Place.new(name: 'Бавлы', parent_id: 1).save
        - Place.new(name: 'Менделеевск', parent_id: 1).save
        - Place.new(name: 'Кировград', parent_id: 1).save
        - Place.new(name: 'Калтан', parent_id: 1).save
        - Place.new(name: 'Лысково', parent_id: 1).save
        - Place.new(name: 'Старая Купавна', parent_id: 1).save
        - Place.new(name: 'Куровское', parent_id: 1).save
        - Place.new(name: 'Ряжск', parent_id: 1).save
        - Place.new(name: 'Остров', parent_id: 1).save
        - Place.new(name: 'Хотьково', parent_id: 1).save
        - Place.new(name: 'Нижняя Тура', parent_id: 1).save
        - Place.new(name: 'Хадыженск', parent_id: 1).save
        - Place.new(name: 'Пикалёво', parent_id: 1).save
        - Place.new(name: 'Тогучин', parent_id: 1).save
        - Place.new(name: 'Льгов', parent_id: 1).save
        - Place.new(name: 'Ершов', parent_id: 1).save
        - Place.new(name: 'Сергач', parent_id: 1).save
        - Place.new(name: 'Светлый', parent_id: 1).save
        - Place.new(name: 'Онега', parent_id: 1).save
        - Place.new(name: 'Шахунья', parent_id: 1).save
        - Place.new(name: 'Ковылкино', parent_id: 1).save
        - Place.new(name: 'Нарьян-Мар', parent_id: 1).save
        - Place.new(name: 'Алдан', parent_id: 1).save
        - Place.new(name: 'Рошаль', parent_id: 1).save
        - Place.new(name: 'Козьмодемьянск', parent_id: 1).save
        - Place.new(name: 'Бронницы', parent_id: 1).save
        - Place.new(name: 'Данков', parent_id: 1).save
        - Place.new(name: 'Лодейное Поле', parent_id: 1).save
        - Place.new(name: 'Боготол', parent_id: 1).save
        - Place.new(name: 'Тырныауз', parent_id: 1).save
        - Place.new(name: 'Лебедянь', parent_id: 1).save
        - Place.new(name: 'Черноголовка', parent_id: 1).save
        - Place.new(name: 'Бакал', parent_id: 1).save
        - Place.new(name: 'Алагир', parent_id: 1).save
        - Place.new(name: 'Абдулино', parent_id: 1).save
        - Place.new(name: 'Сысерть', parent_id: 1).save
        - Place.new(name: 'Суровикино', parent_id: 1).save
        - Place.new(name: 'Райчихинск', parent_id: 1).save
        - Place.new(name: 'Котельниково', parent_id: 1).save
        - Place.new(name: 'Тарко-Сале', parent_id: 1).save
        - Place.new(name: 'Среднеуральск', parent_id: 1).save
        - Place.new(name: 'Буинск', parent_id: 1).save
        - Place.new(name: 'Белоярский', parent_id: 1).save
        - Place.new(name: 'Кизел', parent_id: 1).save
        - Place.new(name: 'Пролетарск', parent_id: 1).save
        - Place.new(name: 'Коммунар', parent_id: 1).save
        - Place.new(name: 'Пущино', parent_id: 1).save
        - Place.new(name: 'Электроугли', parent_id: 1).save
        - Place.new(name: 'Калач', parent_id: 1).save
        - Place.new(name: 'Кяхта', parent_id: 1).save
        - Place.new(name: 'Шимановск', parent_id: 1).save
        - Place.new(name: 'Бобров', parent_id: 1).save
        - Place.new(name: 'Карачев', parent_id: 1).save
        - Place.new(name: 'Юрьев-Польский', parent_id: 1).save
        - Place.new(name: 'Новый Оскол', parent_id: 1).save
        - Place.new(name: 'Собинка', parent_id: 1).save
        - Place.new(name: 'Черепаново', parent_id: 1).save
        - Place.new(name: 'Никольское', parent_id: 1).save
        - Place.new(name: 'Новомичуринск', parent_id: 1).save
        - Place.new(name: 'Агрыз', parent_id: 1).save
        - Place.new(name: 'Сортавала', parent_id: 1).save
        - Place.new(name: 'Терек', parent_id: 1).save
        - Place.new(name: 'Нытва', parent_id: 1).save
        - Place.new(name: 'Стародуб', parent_id: 1).save
        - Place.new(name: 'Суворов', parent_id: 1).save
        - Place.new(name: 'Приозерск', parent_id: 1).save
        - Place.new(name: 'Ковдор', parent_id: 1).save
        - Place.new(name: 'Куса', parent_id: 1).save
        - Place.new(name: 'Ардон', parent_id: 1).save
        - Place.new(name: 'Енисейск', parent_id: 1).save
        - Place.new(name: 'Усмань', parent_id: 1).save
        - Place.new(name: 'Нефтегорск', parent_id: 1).save
        - Place.new(name: 'Подпорожье', parent_id: 1).save
        - Place.new(name: 'Яровое', parent_id: 1).save
        - Place.new(name: 'Петровск-Забайкальский', parent_id: 1).save
        - Place.new(name: 'Инза', parent_id: 1).save
        - Place.new(name: 'Слюдянка', parent_id: 1).save
        - Place.new(name: 'Апрелевка', parent_id: 1).save
        - Place.new(name: 'Рыбное', parent_id: 1).save
        - Place.new(name: 'Талица', parent_id: 1).save
        - Place.new(name: 'Жуковка', parent_id: 1).save
        - Place.new(name: 'Радужный', parent_id: 1).save
        - Place.new(name: 'Харабали', parent_id: 1).save
        - Place.new(name: 'Козельск', parent_id: 1).save
        - Place.new(name: 'Арск', parent_id: 1).save
        - Place.new(name: 'Осташков', parent_id: 1).save
        - Place.new(name: 'Туринск', parent_id: 1).save
        - Place.new(name: 'Чегем', parent_id: 1).save
        - Place.new(name: 'Нижняя Салда', parent_id: 1).save
        - Place.new(name: 'Почеп', parent_id: 1).save
        - Place.new(name: 'Сельцо', parent_id: 1).save
        - Place.new(name: 'Константиновск', parent_id: 1).save
        - Place.new(name: 'Новоаннинский', parent_id: 1).save
        - Place.new(name: 'Шумиха', parent_id: 1).save
        - Place.new(name: 'Гаврилов-Ям', parent_id: 1).save
        - Place.new(name: 'Ивдель', parent_id: 1).save
        - Place.new(name: 'Покров', parent_id: 1).save
        - Place.new(name: 'Баймак', parent_id: 1).save
        - Place.new(name: 'Поворино', parent_id: 1).save
        - Place.new(name: 'Катав-Ивановск', parent_id: 1).save
        - Place.new(name: 'Мантурово', parent_id: 1).save
        - Place.new(name: 'Голицыно', parent_id: 1).save
        - Place.new(name: 'Бородино', parent_id: 1).save
        - Place.new(name: 'Московский', parent_id: 1).save
        - Place.new(name: 'Межгорье', parent_id: 1).save
        - Place.new(name: 'Галич', parent_id: 1).save
        - Place.new(name: 'Пласт', parent_id: 1).save
        - Place.new(name: 'Полярный', parent_id: 1).save
        - Place.new(name: 'Яранск', parent_id: 1).save
        - Place.new(name: 'Кирсанов', parent_id: 1).save
        - Place.new(name: 'Бикин', parent_id: 1).save
        - Place.new(name: 'Барыш', parent_id: 1).save
        - Place.new(name: 'Красновишерск', parent_id: 1).save
        - Place.new(name: 'Абаза', parent_id: 1).save
        - Place.new(name: 'Волгореченск', parent_id: 1).save
        - Place.new(name: 'Куртамыш', parent_id: 1).save
        - Place.new(name: 'Покачи', parent_id: 1).save
        - Place.new(name: 'Щигры', parent_id: 1).save
        - Place.new(name: 'Новоузенск', parent_id: 1).save
        - Place.new(name: 'Касли', parent_id: 1).save
        - Place.new(name: 'Болотное', parent_id: 1).save
        - Place.new(name: 'Жирновск', parent_id: 1).save
        - Place.new(name: 'Ясногорск', parent_id: 1).save
        - Place.new(name: 'Приволжск', parent_id: 1).save
        - Place.new(name: 'Кондрово', parent_id: 1).save
        - Place.new(name: 'Бокситогорск', parent_id: 1).save
        - Place.new(name: 'Советск', parent_id: 1).save
        - Place.new(name: 'Мензелинск', parent_id: 1).save
        - Place.new(name: 'Поронайск', parent_id: 1).save
        - Place.new(name: 'Калининск', parent_id: 1).save
        - Place.new(name: 'Навашино', parent_id: 1).save
        - Place.new(name: 'Звенигород', parent_id: 1).save
        - Place.new(name: 'Агидель', parent_id: 1).save
        - Place.new(name: 'Невель', parent_id: 1).save
        - Place.new(name: 'Сухиничи', parent_id: 1).save
        - Place.new(name: 'Камызяк', parent_id: 1).save
        - Place.new(name: 'Плавск', parent_id: 1).save
        - Place.new(name: 'Кашин', parent_id: 1).save
        - Place.new(name: 'Чудово', parent_id: 1).save
        - Place.new(name: 'Иланский', parent_id: 1).save
        - Place.new(name: 'Валдай', parent_id: 1).save
        - Place.new(name: 'Ясный', parent_id: 1).save
        - Place.new(name: 'Ужур', parent_id: 1).save
        - Place.new(name: 'Павловск', parent_id: 1).save
        - Place.new(name: 'Новоульяновск', parent_id: 1).save
        - Place.new(name: 'Краснослободск', parent_id: 1).save
        - Place.new(name: 'Палласовка', parent_id: 1).save
        - Place.new(name: 'Светогорск', parent_id: 1).save
        - Place.new(name: 'Пестово', parent_id: 1).save
        - Place.new(name: 'Данилов', parent_id: 1).save
        - Place.new(name: 'Заполярный', parent_id: 1).save
        - Place.new(name: 'Лакинск', parent_id: 1).save
        - Place.new(name: 'Рыльск', parent_id: 1).save
        - Place.new(name: 'Медвежьегорск', parent_id: 1).save
        - Place.new(name: 'Грязовец', parent_id: 1).save
        - Place.new(name: 'Ленинск', parent_id: 1).save
        - Place.new(name: 'Дегтярск', parent_id: 1).save
        - Place.new(name: 'Купино', parent_id: 1).save
        - Place.new(name: 'Бодайбо', parent_id: 1).save
        - Place.new(name: 'Венёв', parent_id: 1).save
        - Place.new(name: 'Жердевка', parent_id: 1).save
        - Place.new(name: 'Меленки', parent_id: 1).save
        - Place.new(name: 'Петушки', parent_id: 1).save
        - Place.new(name: 'Полярные Зори', parent_id: 1).save
        - Place.new(name: 'Николаевск', parent_id: 1).save
        - Place.new(name: 'Цимлянск', parent_id: 1).save
        - Place.new(name: 'Александровск', parent_id: 1).save
        - Place.new(name: 'Трубчевск', parent_id: 1).save
        - Place.new(name: 'Очёр', parent_id: 1).save
        - Place.new(name: 'Нерчинск', parent_id: 1).save
        - Place.new(name: 'Лукоянов', parent_id: 1).save
        - Place.new(name: 'Карабаново', parent_id: 1).save
        - Place.new(name: 'Кодинск', parent_id: 1).save
        - Place.new(name: 'Белокуриха', parent_id: 1).save
        - Place.new(name: 'Емва', parent_id: 1).save
        - Place.new(name: 'Первомайск', parent_id: 1).save
        - Place.new(name: 'Вяземский', parent_id: 1).save
        - Place.new(name: 'Сим', parent_id: 1).save
        - Place.new(name: 'Мамадыш', parent_id: 1).save
        - Place.new(name: 'Красный Кут', parent_id: 1).save
        - Place.new(name: 'Струнино', parent_id: 1).save
        - Place.new(name: 'Дубовка', parent_id: 1).save
        - Place.new(name: 'Лагань', parent_id: 1).save
        - Place.new(name: 'Арамиль', parent_id: 1).save
        - Place.new(name: 'Южа', parent_id: 1).save
        - Place.new(name: 'Пересвет', parent_id: 1).save
        - Place.new(name: 'Катайск', parent_id: 1).save
        - Place.new(name: 'Гороховец', parent_id: 1).save
        - Place.new(name: 'Шилка', parent_id: 1).save
        - Place.new(name: 'Горняк', parent_id: 1).save
        - Place.new(name: 'Белёв', parent_id: 1).save
        - Place.new(name: 'Далматово', parent_id: 1).save
        - Place.new(name: 'Гвардейск', parent_id: 1).save
        - Place.new(name: 'Фокино', parent_id: 1).save
        - Place.new(name: 'Калязин', parent_id: 1).save
        - Place.new(name: 'Талдом', parent_id: 1).save
        - Place.new(name: 'Сясьстрой', parent_id: 1).save
        - Place.new(name: 'Свирск', parent_id: 1).save
        - Place.new(name: 'Байкальск', parent_id: 1).save
        - Place.new(name: 'Обоянь', parent_id: 1).save
        - Place.new(name: 'Руза', parent_id: 1).save
        - Place.new(name: 'Цивильск', parent_id: 1).save
        - Place.new(name: 'Ак-Довурак', parent_id: 1).save
        - Place.new(name: 'Краснозаводск', parent_id: 1).save
        - Place.new(name: 'Шлиссельбург', parent_id: 1).save
        - Place.new(name: 'Петров Вал', parent_id: 1).save
        - Place.new(name: 'Яхрома', parent_id: 1).save
        - Place.new(name: 'Могоча', parent_id: 1).save
        - Place.new(name: 'Хвалынск', parent_id: 1).save
        - Place.new(name: 'Карабаш', parent_id: 1).save
        - Place.new(name: 'Камешково', parent_id: 1).save
        - Place.new(name: 'Кемь', parent_id: 1).save
        - Place.new(name: 'Анадырь', parent_id: 1).save
        - Place.new(name: 'Торопец', parent_id: 1).save
        - Place.new(name: 'Зеленоградск', parent_id: 1).save
        - Place.new(name: 'Зеленогорск', parent_id: 1).save
        - Place.new(name: 'Аркадак', parent_id: 1).save
        - Place.new(name: 'Снежногорск', parent_id: 1).save
        - Place.new(name: 'Уяр', parent_id: 1).save
        - Place.new(name: 'Кораблино', parent_id: 1).save
        - Place.new(name: 'Чаплыгин', parent_id: 1).save
        - Place.new(name: 'Киренск', parent_id: 1).save
        - Place.new(name: 'Удачный', parent_id: 1).save
        - Place.new(name: 'Юрюзань', parent_id: 1).save
        - Place.new(name: 'Балей', parent_id: 1).save
        - Place.new(name: 'Окуловка', parent_id: 1).save
        - Place.new(name: 'Малая Вишера', parent_id: 1).save
        - Place.new(name: 'Нязепетровск', parent_id: 1).save
        - Place.new(name: 'Гурьевск', parent_id: 1).save
        - Place.new(name: 'Новая Ляля', parent_id: 1).save
        - Place.new(name: 'Сосенский', parent_id: 1).save
        - Place.new(name: 'Чкаловск', parent_id: 1).save
        - Place.new(name: 'Вуктыл', parent_id: 1).save
        - Place.new(name: 'Горнозаводск', parent_id: 1).save
        - Place.new(name: 'Урень', parent_id: 1).save
        - Place.new(name: 'Печоры', parent_id: 1).save
        - Place.new(name: 'Боровск', parent_id: 1).save
        - Place.new(name: 'Лихославль', parent_id: 1).save
        - Place.new(name: 'Адыгейск', parent_id: 1).save
        - Place.new(name: 'Долинск', parent_id: 1).save
        - Place.new(name: 'Волосово', parent_id: 1).save
        - Place.new(name: 'Жуков', parent_id: 1).save
        - Place.new(name: 'Сорск', parent_id: 1).save
        - Place.new(name: 'Называевск', parent_id: 1).save
        - Place.new(name: 'Бабаево', parent_id: 1).save
        - Place.new(name: 'Тюкалинск', parent_id: 1).save
        - Place.new(name: 'Заволжск', parent_id: 1).save
        - Place.new(name: 'Чулым', parent_id: 1).save
        - Place.new(name: 'Сосновка', parent_id: 1).save
        - Place.new(name: 'Звенигово', parent_id: 1).save
        - Place.new(name: 'Углегорск', parent_id: 1).save
        - Place.new(name: 'Судогда', parent_id: 1).save
        - Place.new(name: 'Верхний Тагил', parent_id: 1).save
        - Place.new(name: 'Дрезна', parent_id: 1).save
        - Place.new(name: 'Богучар', parent_id: 1).save
        - Place.new(name: 'Неман', parent_id: 1).save
        - Place.new(name: 'Михайлов', parent_id: 1).save
        - Place.new(name: 'Невельск', parent_id: 1).save
        - Place.new(name: 'Сураж', parent_id: 1).save
        - Place.new(name: 'Ворсма', parent_id: 1).save
        - Place.new(name: 'Кремёнки', parent_id: 1).save
        - Place.new(name: 'Опочка', parent_id: 1).save
        - Place.new(name: 'Тетюши', parent_id: 1).save
        - Place.new(name: 'Закаменск', parent_id: 1).save
        - Place.new(name: 'Хилок', parent_id: 1).save
        - Place.new(name: 'Питкяранта', parent_id: 1).save
        - Place.new(name: 'Завитинск', parent_id: 1).save
        - Place.new(name: 'Болхов', parent_id: 1).save
        - Place.new(name: 'Эртиль', parent_id: 1).save
        - Place.new(name: 'Нариманов', parent_id: 1).save
        - Place.new(name: 'Петухово', parent_id: 1).save
        - Place.new(name: 'Луза', parent_id: 1).save
        - Place.new(name: 'Белая Холуница', parent_id: 1).save
        - Place.new(name: 'Беломорск', parent_id: 1).save
        - Place.new(name: 'Нижние Серги', parent_id: 1).save
        - Place.new(name: 'Заозёрск', parent_id: 1).save
        - Place.new(name: 'Зуевка', parent_id: 1).save
        - Place.new(name: 'Гаджиево', parent_id: 1).save
        - Place.new(name: 'Камбарка', parent_id: 1).save
        - Place.new(name: 'Пионерский', parent_id: 1).save
        - Place.new(name: 'Гремячинск', parent_id: 1).save
        - Place.new(name: 'Щучье', parent_id: 1).save
        - Place.new(name: 'Шагонар', parent_id: 1).save
        - Place.new(name: 'Змеиногорск', parent_id: 1).save
        - Place.new(name: 'Дигора', parent_id: 1).save
        - Place.new(name: 'Светлогорск', parent_id: 1).save
        - Place.new(name: 'Микунь', parent_id: 1).save
        - Place.new(name: 'Дорогобуж', parent_id: 1).save
        - Place.new(name: 'Заозёрный', parent_id: 1).save
        - Place.new(name: 'Высоковск', parent_id: 1).save
        - Place.new(name: 'Каргат', parent_id: 1).save
        - Place.new(name: 'Александровск-Сахалинский', parent_id: 1).save
        - Place.new(name: 'Порхов', parent_id: 1).save
        - Place.new(name: 'Суздаль', parent_id: 1).save
        - Place.new(name: 'Вытегра', parent_id: 1).save
        - Place.new(name: 'Кола', parent_id: 1).save
        - Place.new(name: 'Ожерелье', parent_id: 1).save
        - Place.new(name: 'Кирс', parent_id: 1).save
        - Place.new(name: 'Ермолино', parent_id: 1).save
        - Place.new(name: 'Козловка', parent_id: 1).save
        - Place.new(name: 'Сольцы', parent_id: 1).save
        - Place.new(name: 'Вилюйск', parent_id: 1).save
        - Place.new(name: 'Уржум', parent_id: 1).save
        - Place.new(name: 'Наволоки', parent_id: 1).save
        - Place.new(name: 'Юрьевец', parent_id: 1).save
        - Place.new(name: 'Миньяр', parent_id: 1).save
        - Place.new(name: 'Мариинский Посад', parent_id: 1).save
        - Place.new(name: 'Нюрба', parent_id: 1).save
        - Place.new(name: 'Краснослободск', parent_id: 1).save
        - Place.new(name: 'Каргополь', parent_id: 1).save
        - Place.new(name: 'Ельня', parent_id: 1).save
        - Place.new(name: 'Харовск', parent_id: 1).save
        - Place.new(name: 'Южно-Сухокумск', parent_id: 1).save
        - Place.new(name: 'Рудня', parent_id: 1).save
        - Place.new(name: 'Волчанск', parent_id: 1).save
        - Place.new(name: 'Кувшиново', parent_id: 1).save
        - Place.new(name: 'Володарск', parent_id: 1).save
        - Place.new(name: 'Нея', parent_id: 1).save
        - Place.new(name: 'Ивангород', parent_id: 1).save
        - Place.new(name: 'Тотьма', parent_id: 1).save
        - Place.new(name: 'Суоярви', parent_id: 1).save
        - Place.new(name: 'Пудож', parent_id: 1).save
        - Place.new(name: 'Задонск', parent_id: 1).save
        - Place.new(name: 'Таруса', parent_id: 1).save
        - Place.new(name: 'Болохово', parent_id: 1).save
        - Place.new(name: 'Белозерск', parent_id: 1).save
        - Place.new(name: 'Ядрин', parent_id: 1).save
        - Place.new(name: 'Городовиковск', parent_id: 1).save
        - Place.new(name: 'Сковородино', parent_id: 1).save
        - Place.new(name: 'Нолинск', parent_id: 1).save
        - Place.new(name: 'Покровск', parent_id: 1).save
        - Place.new(name: 'Олёкминск', parent_id: 1).save
        - Place.new(name: 'Устюжна', parent_id: 1).save
        - Place.new(name: 'Верхняя Тура', parent_id: 1).save
        - Place.new(name: 'Верхнеуральск', parent_id: 1).save
        - Place.new(name: 'Ардатов', parent_id: 1).save
        - Place.new(name: 'Облучье', parent_id: 1).save
        - Place.new(name: 'Западная Двина', parent_id: 1).save
        - Place.new(name: 'Серафимович', parent_id: 1).save
        - Place.new(name: 'Михайловск', parent_id: 1).save
        - Place.new(name: 'Перевоз', parent_id: 1).save
        - Place.new(name: 'Костерёво', parent_id: 1).save
        - Place.new(name: 'Теберда', parent_id: 1).save
        - Place.new(name: 'Дно', parent_id: 1).save
        - Place.new(name: 'Олонец', parent_id: 1).save
        - Place.new(name: 'Чадан', parent_id: 1).save
        - Place.new(name: 'Бирюсинск', parent_id: 1).save
        - Place.new(name: 'Ветлуга', parent_id: 1).save
        - Place.new(name: 'Новая Ладога', parent_id: 1).save
        - Place.new(name: 'Верхотурье', parent_id: 1).save
        - Place.new(name: 'Починок', parent_id: 1).save
        - Place.new(name: 'Липки', parent_id: 1).save
        - Place.new(name: 'Комсомольск', parent_id: 1).save
        - Place.new(name: 'Инсар', parent_id: 1).save
        - Place.new(name: 'Болгар', parent_id: 1).save
        - Place.new(name: 'Старица', parent_id: 1).save
        - Place.new(name: 'Пучеж', parent_id: 1).save
        - Place.new(name: 'Белинский', parent_id: 1).save
        - Place.new(name: 'Никольск', parent_id: 1).save
        - Place.new(name: 'Анива', parent_id: 1).save
        - Place.new(name: 'Белоусово', parent_id: 1).save
        - Place.new(name: 'Шахтёрск', parent_id: 1).save
        - Place.new(name: 'Макушино', parent_id: 1).save
        - Place.new(name: 'Медынь', parent_id: 1).save
        - Place.new(name: 'Малмыж', parent_id: 1).save
        - Place.new(name: 'Андреаполь', parent_id: 1).save
        - Place.new(name: 'Салаир', parent_id: 1).save
        - Place.new(name: 'Новосокольники', parent_id: 1).save
        - Place.new(name: 'Сычёвка', parent_id: 1).save
        - Place.new(name: 'Городище', parent_id: 1).save
        - Place.new(name: 'Томмот', parent_id: 1).save
        - Place.new(name: 'Мглин', parent_id: 1).save
        - Place.new(name: 'Бирюч', parent_id: 1).save
        - Place.new(name: 'Лахденпохья', parent_id: 1).save
        - Place.new(name: 'Мамоново', parent_id: 1).save
        - Place.new(name: 'Спасск-Рязанский', parent_id: 1).save
        - Place.new(name: 'Кириллов', parent_id: 1).save
        - Place.new(name: 'Лаишево', parent_id: 1).save
        - Place.new(name: 'Дмитриев', parent_id: 1).save
        - Place.new(name: 'Велиж', parent_id: 1).save
        - Place.new(name: 'Оханск', parent_id: 1).save
        - Place.new(name: 'Полесск', parent_id: 1).save
        - Place.new(name: 'Советск', parent_id: 1).save
        - Place.new(name: 'Спасск', parent_id: 1).save
        - Place.new(name: 'Демидов', parent_id: 1).save
        - Place.new(name: 'Весьегонск', parent_id: 1).save
        - Place.new(name: 'Севск', parent_id: 1).save
        - Place.new(name: 'Темников', parent_id: 1).save
        - Place.new(name: 'Макарьев', parent_id: 1).save
        - Place.new(name: 'Юхнов', parent_id: 1).save
        - Place.new(name: 'Сурск', parent_id: 1).save
        - Place.new(name: 'Красавино', parent_id: 1).save
        - Place.new(name: 'Орлов', parent_id: 1).save
        - Place.new(name: 'Сенгилей', parent_id: 1).save
        - Place.new(name: 'Зубцов', parent_id: 1).save
        - Place.new(name: 'Сретенск', parent_id: 1).save
        - Place.new(name: 'Новохопёрск', parent_id: 1).save
        - Place.new(name: 'Курлово', parent_id: 1).save
        - Place.new(name: 'Макаров', parent_id: 1).save
        - Place.new(name: 'Каменногорск', parent_id: 1).save
        - Place.new(name: 'Мураши', parent_id: 1).save
        - Place.new(name: 'Алзамай', parent_id: 1).save
        - Place.new(name: 'Княгинино', parent_id: 1).save
        - Place.new(name: 'Шацк', parent_id: 1).save
        - Place.new(name: 'Солигалич', parent_id: 1).save
        - Place.new(name: 'Гаврилов Посад', parent_id: 1).save
        - Place.new(name: 'Багратионовск', parent_id: 1).save
        - Place.new(name: 'Себеж', parent_id: 1).save
        - Place.new(name: 'Грайворон', parent_id: 1).save
        - Place.new(name: 'Игарка', parent_id: 1).save
        - Place.new(name: 'Приморск', parent_id: 1).save
        - Place.new(name: 'Пошехонье', parent_id: 1).save
        - Place.new(name: 'Шиханы', parent_id: 1).save
        - Place.new(name: 'Суджа', parent_id: 1).save
        - Place.new(name: 'Дмитровск', parent_id: 1).save
        - Place.new(name: 'Мышкин', parent_id: 1).save
        - Place.new(name: 'Спас-Клепики', parent_id: 1).save
        - Place.new(name: 'Короча', parent_id: 1).save
        - Place.new(name: 'Сусуман', parent_id: 1).save
        - Place.new(name: 'Пыталово', parent_id: 1).save
        - Place.new(name: 'Шенкурск', parent_id: 1).save
        - Place.new(name: 'Усолье', parent_id: 1).save
        - Place.new(name: 'Красный Холм', parent_id: 1).save
        - Place.new(name: 'Жиздра', parent_id: 1).save
        - Place.new(name: 'Любим', parent_id: 1).save
        - Place.new(name: 'Злынка', parent_id: 1).save
        - Place.new(name: 'Билибино', parent_id: 1).save
        - Place.new(name: 'Фатеж', parent_id: 1).save
        - Place.new(name: 'Верея', parent_id: 1).save
        - Place.new(name: 'Чухлома', parent_id: 1).save
        - Place.new(name: 'Туран', parent_id: 1).save
        - Place.new(name: 'Чердынь', parent_id: 1).save
        - Place.new(name: 'Спас-Деменск', parent_id: 1).save
        - Place.new(name: 'Бабушкин', parent_id: 1).save
        - Place.new(name: 'Кадников', parent_id: 1).save
        - Place.new(name: 'Озёрск', parent_id: 1).save
        - Place.new(name: 'Пустошка', parent_id: 1).save
        - Place.new(name: 'Славск', parent_id: 1).save
        - Place.new(name: 'Нестеров', parent_id: 1).save
        - Place.new(name: 'Томари', parent_id: 1).save
        - Place.new(name: 'Гдов', parent_id: 1).save
        - Place.new(name: 'Духовщина', parent_id: 1).save
        - Place.new(name: 'Правдинск', parent_id: 1).save
        - Place.new(name: 'Мосальск', parent_id: 1).save
        - Place.new(name: 'Любань', parent_id: 1).save
        - Place.new(name: 'Певек', parent_id: 1).save
        - Place.new(name: 'Мещовск', parent_id: 1).save
        - Place.new(name: 'Чёрмоз', parent_id: 1).save
        - Place.new(name: 'Малоархангельск', parent_id: 1).save
        - Place.new(name: 'Холм', parent_id: 1).save
        - Place.new(name: 'Новосиль', parent_id: 1).save
        - Place.new(name: 'Ладушкин', parent_id: 1).save
        - Place.new(name: 'Белый', parent_id: 1).save
        - Place.new(name: 'Новоржев', parent_id: 1).save
        - Place.new(name: 'Мезень', parent_id: 1).save
        - Place.new(name: 'Среднеколымск', parent_id: 1).save
        - Place.new(name: 'Краснознаменск', parent_id: 1).save
        - Place.new(name: 'Кологрив', parent_id: 1).save
        - Place.new(name: 'Магас', parent_id: 1).save
        - Place.new(name: 'Сольвычегодск', parent_id: 1).save
        - Place.new(name: 'Кедровый', parent_id: 1).save
        - Place.new(name: 'Северо-Курильск', parent_id: 1).save
        - Place.new(name: 'Плёс', parent_id: 1).save
        - Place.new(name: 'Горбатов', parent_id: 1).save
        - Place.new(name: 'Артёмовск', parent_id: 1).save
        - Place.new(name: 'Островной', parent_id: 1).save
        - Place.new(name: 'Курильск', parent_id: 1).save
        - Place.new(name: 'Приморск', parent_id: 1).save
        - Place.new(name: 'Верхоянск', parent_id: 1).save
        - Place.new(name: 'Высоцк', parent_id: 1).save
        - Place.new(name: 'Чекалин', parent_id: 1).save

      /
        - Place.new(name: 'ЦАО', parent_id: 2).save
        - Place.new(name: 'САО', parent_id: 2).save
        - Place.new(name: 'СВАО', parent_id: 2).save
        - Place.new(name: 'ВАО', parent_id: 2).save
        - Place.new(name: 'ЮВАО', parent_id: 2).save
        - Place.new(name: 'ЮАО', parent_id: 2).save
        - Place.new(name: 'ЮЗАО', parent_id: 2).save
        - Place.new(name: 'ЗАО', parent_id: 2).save
        - Place.new(name: 'СЗАО', parent_id: 2).save

        - Place.new(name: 'Адмиралтейский район', parent_id: 3).save
        - Place.new(name: 'Василеостровский район', parent_id: 3).save
        - Place.new(name: 'Выборгский район', parent_id: 3).save
        - Place.new(name: 'Калининский район', parent_id: 3).save
        - Place.new(name: 'Кировский район', parent_id: 3).save
        - Place.new(name: 'Колпинский район', parent_id: 3).save
        - Place.new(name: 'Красногвардейский район', parent_id: 3).save
        - Place.new(name: 'Красносельский район', parent_id: 3).save
        - Place.new(name: 'Кронштадтский район', parent_id: 3).save
        - Place.new(name: 'Курортный район', parent_id: 3).save
        - Place.new(name: 'Московский район', parent_id: 3).save
        - Place.new(name: 'Невский район', parent_id: 3).save
        - Place.new(name: 'Петроградский район', parent_id: 3).save
        - Place.new(name: 'Петродворцовый район', parent_id: 3).save
        - Place.new(name: 'Приморский район', parent_id: 3).save
        - Place.new(name: 'Пушкинский район', parent_id: 3).save
        - Place.new(name: 'Фрунзенский район', parent_id: 3).save
        - Place.new(name: 'Центральный район', parent_id: 3).save


        - SportType.new(name: 'Командные').save
        - SportType.new(name: 'Экстремальные').save
        - SportType.new(name: 'Иные').save
        - SportType.new(name: 'Футбол', parent_id: 1).save
        - SportType.new(name: 'Хоккей', parent_id: 1).save
        - SportType.new(name: 'Баскетбол', parent_id: 1).save
        - SportType.new(name: 'Волейбол', parent_id: 1).save

        - SportType.new(name: 'Вратарь', parent_id: SportType.where(name: 'Футбол').first.id).save
        - SportType.new(name: 'Защитник', parent_id: SportType.where(name: 'Футбол').first.id).save
        - SportType.new(name: 'Полузащитник', parent_id: SportType.where(name: 'Футбол').first.id).save
        - SportType.new(name: 'Нападающий', parent_id: SportType.where(name: 'Футбол').first.id).save

        - SportType.new(name: 'Вратарь', parent_id: SportType.where(name: 'Хоккей').first.id).save
        - SportType.new(name: 'Защитник', parent_id: SportType.where(name: 'Хоккей').first.id).save
        - SportType.new(name: 'Нападающий', parent_id: SportType.where(name: 'Хоккей').first.id).save

        - SportType.new(name: 'Баскетбол', parent_id: 1).save
        - SportType.new(name: 'Бейсбол', parent_id: 1).save
        - SportType.new(name: 'Гандбол', parent_id: 1).save
        - SportType.new(name: 'Керлинг', parent_id: 1).save
        - SportType.new(name: 'Регби', parent_id: 1).save
        - SportType.new(name: 'Фрисби', parent_id: 1).save
        - SportType.new(name: 'Хоккей с мячом', parent_id: 1).save


        - SportType.new(name: 'Разыгрывающий', parent_id: SportType.where(name: 'Баскетбол').first.id).save
        - SportType.new(name: 'Защитник', parent_id: SportType.where(name: 'Баскетбол').first.id).save
        - SportType.new(name: 'Нападающий', parent_id: SportType.where(name: 'Баскетбол').first.id).save


        - SportType.new(name: 'Доигровщик', parent_id: SportType.where(name: 'Волейбол').first.id).save
        - SportType.new(name: 'Диагональный', parent_id: SportType.where(name: 'Волейбол').first.id).save
        - SportType.new(name: 'Центральный блокирующий', parent_id: SportType.where(name: 'Волейбол').first.id).save
        - SportType.new(name: 'Связующий', parent_id: SportType.where(name: 'Волейбол').first.id).save
        - SportType.new(name: 'Либеро', parent_id: SportType.where(name: 'Волейбол').first.id).save

        - SportType.new(name: 'Вратарь', parent_id: SportType.where(name: 'Гандбол').first.id).save
        - SportType.new(name: 'Нападающий', parent_id: SportType.where(name: 'Гандбол').first.id).save

        - SportType.new(name: 'Скип', parent_id: SportType.where(name: 'Керлинг').first.id).save
        - SportType.new(name: 'Вице-скип', parent_id: SportType.where(name: 'Керлинг').first.id).save
        - SportType.new(name: 'Первый', parent_id: SportType.where(name: 'Керлинг').first.id).save
        - SportType.new(name: 'Второй', parent_id: SportType.where(name: 'Керлинг').first.id).save


        - SportType.new(name: 'Нападающий 1-ой линии', parent_id: SportType.where(name: 'Регби').first.id).save
        - SportType.new(name: 'Нападающий 2-ой линии', parent_id: SportType.where(name: 'Регби').first.id).save
        - SportType.new(name: 'Нападающий задней линии', parent_id: SportType.where(name: 'Регби').first.id).save
        - SportType.new(name: 'Защитник', parent_id: SportType.where(name: 'Регби').first.id).save
        - SportType.new(name: 'Полузащитник', parent_id: SportType.where(name: 'Регби').first.id).save
        - SportType.new(name: 'Замыкающий', parent_id: SportType.where(name: 'Регби').first.id).save
        - SportType.new(name: 'Вратарь', parent_id: SportType.where(name: 'Регби').first.id).save


        - SportType.new(name: 'Нападающий', parent_id: SportType.where(name: 'Хоккей с мячом').first.id).save
        - SportType.new(name: 'Защитник', parent_id: SportType.where(name: 'Хоккей с мячом').first.id).save
        - SportType.new(name: 'Вратарь', parent_id: SportType.where(name: 'Хоккей с мячом').first.id).save



        - SportType.new(name: 'BMX', parent_id: 2).save
        - SportType.new(name: 'Вейкбординг', parent_id: 2).save
        - SportType.new(name: 'Виндсерфинг', parent_id: 2).save
        - SportType.new(name: 'Водные лыжи', parent_id: 2).save
        - SportType.new(name: 'Горные лыжи', parent_id: 2).save
        - SportType.new(name: 'Дельтапланеризм', parent_id: 2).save
        - SportType.new(name: 'Кайтсерфинг', parent_id: 2).save
        - SportType.new(name: 'Маунтин-байк', parent_id: 2).save
        - SportType.new(name: 'Паркур', parent_id: 2).save
        - SportType.new(name: 'Прыжки с парашютом', parent_id: 2).save
        - SportType.new(name: 'Ролики', parent_id: 2).save
        - SportType.new(name: 'Серфинг', parent_id: 2).save
        - SportType.new(name: 'Силовой экстрим', parent_id: 2).save
        - SportType.new(name: 'Скалолазание', parent_id: 2).save
        - SportType.new(name: 'Скейтборд', parent_id: 2).save
        - SportType.new(name: 'Сноуборд', parent_id: 2).save
        - SportType.new(name: 'Триал', parent_id: 2).save

        - SportType.new(name: 'Бадминтон', parent_id: 3).save
        - SportType.new(name: 'Бег', parent_id: 3).save
        - SportType.new(name: 'Дартс', parent_id: 3).save
        - SportType.new(name: 'Пейнтбол', parent_id: 3).save
        - SportType.new(name: 'Пинг-понг', parent_id: 3).save
        - SportType.new(name: 'Страйкбол', parent_id: 3).save
        - SportType.new(name: 'Теннис', parent_id: 3).save
        - SportType.new(name: 'Фрисби фристайл', parent_id: 3).save
