
.btn-group style="float: right;"
  - if can? :update, @message
    = link_to '<i class="icon-pencil"></i>'.html_safe, edit_message_path(@message), class: 'btn btn-mini'
  - if can? :destroy, @message
    = link_to '<i class="icon-remove"></i>'.html_safe, @message, :confirm => 'Вы уверены?', :method => :delete, class: 'btn btn-mini'


p.muted style='margin: 0 0 3px; font-size: 12px;' = timeago(@message.date)
h1 = @message.header
= @message.content.html_safe