
    <h3>Повторная отправка подтверждения</h3>



  <%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => {:method => :post}) do |f| %>
      <%= devise_error_messages! %>


        <div style="width: 49%; float: left;">
          <%= f.input :email, :required => true, input_html: { :class => 'input-block-level' } %>
        </div>



        <div style="width: 49%; margin-left: 51%;">
          <label for="">&nbsp;</label>
          <%= f.submit 'Повторить отправку подтверждения', :class => 'btn btn-block btn-primary' %>
        </div>


        <div class="auth_helpers">
          <%= render "devise/shared/links" %>
        </div>

  <% end %>
