<div class="row">
  <%= bootstrap_flash %>
  <div class="span8">
    <h3>Редактирование профиля</h3>
  </div>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="span8"><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true, :class => 'input-block-level' %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="span8"><div class="alert">В ожидании подтверждения адреса <%= resource.unconfirmed_email %></div></div>
  <% end %>

  <div class="span8">
    <h4>Изменение пароля</h4>
  </div>

  <div class="span8"><%= f.label :password %>
  <%= f.password_field :password, :autocomplete => "off", :class => 'input-block-level' %></div>

  <div class="span8"><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, :class => 'input-block-level' %></div>

  <div class="span8"><%= f.label :current_password %>
  <%= f.password_field :current_password, :class => 'input-block-level' %></div>

  <div class="span8" style="margin-top: 0.5em"><%= f.submit "Обновить данные", :class => 'btn btn-success btn-block' %></div>
<% end %>

  <div class="span5" style="margin-top: 1em">
    <%= link_to "Назад", :back, :class => 'btn btn-mini btn-block' %>
  </div>
    <div class="span3" style="margin-top: 1em">
<%= button_to "Удалить аккаунт", registration_path(resource_name), :data => { :confirm => "Вы уверены, что хотите удалить аккаунт?" }, :method => :delete, :class => 'btn btn-mini btn-danger btn-block' %>


  </div>
</div>