<%= bootstrap_flash %>
<%= devise_error_messages! %>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

	<div class="main_with_auth_title">
		<h1>
			Регистрация
		</h1>
	</div>
	<div class="main_with_auth">
		<div class="main_with_FormBody">

      <%= f.input :email, :required => true %>
      <div class="clearBth"></div>
      <%= f.input :fname, :required => true %>
      <div class="clearBth"></div>
			<%= f.input :lname, :required => true %>
      <div class="clearBth"></div>
			<%= f.input :nickname, :required => true %>
      <div class="clearBth"></div>
      <%= f.input :password, :required => true %>
      <div class="clearBth"></div>
      <%= f.input :password_confirmation, :required => true %>
      <div class="clearBth"></div>
      <label> <a href="/offerta"> Правила пользования </a> принимаю* </label>
      <%= f.check_box :terms, required: true %>
      <%= f.error :terms %>
      <div class="clearBth"></div>
      <button class="new"> Зарегистрироваться</button>

      <% end %>
  </div>
</div>

<script type="text/javascript">

    coverVid(document.querySelector('.video'), 1920, 1080);
</script>
