- if model.favorites.where(user_id: current_user.id).count > 0
  i e
  = link_to 'В избранном'.html_safe, '/favorites/unfavorite?type='+model.class.to_s+'&id='+model.id.to_s, :remote => true
- else
  i e
  = link_to 'Добавить в избранное'.html_safe, '/favorites/favorite?type='+model.class.to_s+'&id='+model.id.to_s, :remote => true
