h1 Избранное

- unless @favorites.any?
  | Вы пока ничего не добавили в избранное

- @favorites.each do |favorite|

  div style='padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #eee;' id='favorite_block_#{favorite.favoritable.class.to_s}_#{favorite.favoritable.id.to_s}'
    p.muted style='margin: 0px; font-size: 12px'
      - favoritable_class = favorite.favoritable.class.to_s
      - if favoritable_class == 'SportEvent'
        ' Новость спорта /
        = timeago favorite.favoritable.date
        '  /

      - if favoritable_class == 'Spot'
        ' Площадка /
      - if favoritable_class == 'Ad'
        ' Объявление /
      = link_to 'Удалить из избранного'.html_safe, '/favorites/unfavorite?type='+favorite.favoritable.class.to_s+'&id='+favorite.favoritable.id.to_s, :remote => true
    h4  style='margin: 0 0 7px;'
      = link_to favorite.favoritable.fullname, favorite.favoritable
    p
      = favorite.favoritable.full_description
