$('#favorite_<%=@model.class.to_s%>_<%=@model.id.to_s%>').html('<%= escape_javascript ( render partial: 'favorites/favorite', locals: { model: @model } ) %>');
$('#favorite_block_<%=@model.class.to_s%>_<%=@model.id.to_s%>').hide();