.grpForm
  - limit ||= 3
  - name ||= false
  - reverse ||= false
  - if name
    h1 style='margin-left: 25px;' #{name}

  - model_class = model.class.to_s
  - if model_class=='Team' || model_class=='Infogroup'
    - model_class = 'Community'

  - new_comment = Comment.new
  - new_comment.commentable_id = model.id
  - new_comment.commentable_type = model_class


  = simple_form_for new_comment, remote: true do |f|
    .writer
      label.cssarrow
        = f.input :commentable_id, as: :hidden
        = f.input :commentable_type, as: :hidden
        = f.input :content, as: :text, placeholder: "Поделитесь своими мыслями...", label: false
      button Отправить
      span
        | или нажмите&nbsp;
        b Enter


  div id='comments_#{model_class}_#{model.id}'
    = render partial: 'comments/list2', locals: { comments: model.comments, limit: limit, reverse: reverse }
