- limit ||= 3
- reverse ||= false
/- comments_limited = comments.limit(limit)
- comments_limited = comments

- if limit < comments.count && !reverse
  a href='#' class='more_comment' onclick='$(this).hide(); $(".hidden_comment").show(); return false;'
    | Показать еще #{(comments.count-limit)}

- if reverse
  - n = 0
- else
  - n = comments.count
- comments_limited.each do |comment|
  - if reverse
    - n = n+1
  - else
    - n = n-1
  - css_class = 'visible_comment' unless n >= limit
  - css_class = 'hidden_comment' if n >= limit
  .post
    .postBody
      .avaImg
        img src=comment.user.avatar.small_thumb.url
      .postText
        span.removeButton
          - if can? :destroy, comment and params[:controller] != "videos"
            = link_to 'Удалить', comment, :confirm => 'Вы уверены?', :method => :delete

        h1 style="padding-bottom: 0px; margin-bottom: 0px;"
          a href="#{user_path comment.user}"
            = comment.user.fname
            '
            = comment.user.lname
        span.comment_date = comment.created_at.strftime("%d.%m.%Y %H:%M")
        br
        br
        p
          = simple_format comment.content

        - if comment.commentable_type == 'User' || comment.commentable_type == 'Community'

          div.nested_comments id='comments_#{comment.class}_#{comment.id}'
            - if comment.comments.any?
              = render partial: 'comments/mini_list2', locals: { comments: comment.comments, limit: 3 }
          div id='comments_for_#{comment.id}'
            br
            - new_comment = Comment.new
            - new_comment.commentable_id = comment.id
            - new_comment.commentable_type = 'Comment'
            = simple_form_for new_comment, remote: true do |f|

              = f.input :commentable_id, as: :hidden
              = f.input :commentable_type, as: :hidden
              = f.input :content, as: :string, placeholder: 'Напишите комментарий...', input_html: { class: 'comment_content_input' }, label: false

              div style='clear: both'
