- limit ||= 3
- reverse ||= false
/- comments_limited = comments.limit(limit)
- comments_limited = comments

- if limit < comments.count && !reverse
  a href='#' class='more_comment' onclick='$(this).hide(); $(".hidden_comment").show(); return false;'
    | Показать еще #{(comments.count-limit)}

- if reverse
  - n = 0
- else
  - n = comments.count
- comments_limited.each do |comment|
  - if reverse
    - n = n+1
  - else
    - n = n-1
  - css_class = 'visible_comment' unless n >= limit
  - css_class = 'hidden_comment' if n >= limit

  div id="comment_#{comment.id}" class='#{css_class}'
    a href='#{user_path comment.user}'
      img src="#{comment.user.avatar.small_thumb.url}" style='float: left;' class='img-rounded'
    div style="float: right;"
      - if can? :destroy, comment
        = link_to '<i class="icon-remove" style="opacity: 0.5;"></i>'.html_safe, comment, :confirm => 'Вы уверены?', :method => :delete

    div style='margin-left: 85px'
      p style='margin-bottom: 4px'
        strong
          a href="#{user_path comment.user}"
            = comment.user.fname
            '
            = comment.user.lname
          - if comment.retweetable
            i.fa.fa-retweet.icon-retweet-view
            - if comment.retweetable.user
              a href="#{user_path comment.retweetable.user}"
                = comment.retweetable.user.fname
                '&nbsp;
                = comment.retweetable.user.lname
              ':
      .comment_text
        - if comment.retweetable
          - if comment.retweetable.respond_to?(:content)
            = comment.retweetable.content
          - if comment.retweetable.respond_to?(:photo)
            .image-retweet-view
              = image_tag comment.retweetable.photo
          - if comment.retweetable.respond_to?(:video)
            .video-retweet-view
              == comment.retweetable.video_frame_without_autoplay
          .clearfix
        - else
          = simple_format comment.content

      .comment_meta
        span.muted style='font-size: 12px'
          = timeago(comment.created_at)
        - if comment.comments.count == 0 && (comment.commentable_type == 'User' || comment.commentable_type == 'Community')
          span
            |  |
            a href='#' onclick='$("#comments_for_#{comment.id}").show();$(this).parent().hide();return false;' style='margin-left: 5px; font-size: 11px;' Комментировать
        a href='#' class="fa fa-heart like-action" likeable-id="#{comment.id}" likeable-type="Comment"
        span.like-count
          - likes_cnt = comment.likes.count
          = likes_cnt unless likes_cnt == 0
        a href='#' class="fa fa-retweet retweet-action" retweetable-id="#{comment.id}" retweetable-type="Comment"
        span.retweet-count
          - retweets_cnt = Comment.where(retweetable_type: 'Comment', retweetable_id: comment.id).count
          = retweets_cnt unless retweets_cnt == 0

    - if comment.commentable_type == 'User' || comment.commentable_type == 'Community'

      div.nested_comments id='comments_#{comment.class}_#{comment.id}'
        - if comment.comments.any?
          = render partial: 'comments/mini_list', locals: { comments: comment.comments, limit: 3 }

      - new_comment = Comment.new
      - new_comment.commentable_id = comment.id
      - new_comment.commentable_type = 'Comment'

      div id='comments_for_#{comment.id}' style='margin-left: 85px; #{comment.comments.count > 0 ? '':'display: none;'}'
        = simple_form_for new_comment, remote: true do |f|

          = f.input :commentable_id, as: :hidden
          = f.input :commentable_type, as: :hidden
          = f.input :content, as: :string, input_html: {:class => 'input-small comment_content_input', style: 'float: left; width: 77%; padding: 2px 5px; font-size: 12px', placeholder: 'Комментировать...'}, label: false

          = f.submit 'Отправить', :class => 'btn btn-small', style: 'float: left; margin-left: 1%; width: 19%;'
          div style='clear: both'

- if limit < comments.count && reverse
  a href='#' class='more_comment' onclick='$(this).hide(); $(this).parent().children(".hidden_comment").show(); return false;'
    | Показать еще #{(comments.count-limit)}
