
/- if comments.count > 0
  h5 #{comments.count} #{Russian::p(comments.count,'комментарий', 'комментария', 'комментариев')}
- limit ||= 3
- reverse ||= false
/- comments_limited = comments.limit(limit)
- comments_limited = comments

- if limit < comments.count
  a href='#' class='more_comment' onclick='$(this).hide(); $(this).parent().find(".hidden_comment").show(); return false;'
    | Показать еще #{(comments.count-limit).to_s + ' ' + Russian::p(comments.count-limit,'комментарий','комментария','комментариев')}


- n = comments.count
- comments_limited.each do |comment|
  - n = n-1
  - css_class = 'hidden_comment' if n >= limit
  - css_class = 'visible_comment' unless n >= limit

  div id="comment_#{comment.id}" class='#{css_class}'
    a href='#{user_path comment.user}'
      img src="#{comment.user.avatar.mini_thumb.url}" style='float: left;' class='img-rounded'
    div style="float: right;"
      - if can? :destroy, comment
        = link_to '<i class="icon-remove" style="opacity: 0.5;"></i>'.html_safe, comment, :confirm => 'Вы уверены?', :method => :delete

    div style='margin-left: 55px'
      p style='margin-bottom: 4px; font-size: 13px'
        strong
          a href="#{user_path comment.user}"
            = comment.user.fname
            '
            = comment.user.lname
      .comment_text
        = simple_format comment.content
      .comment_meta
        span.muted style='font-size: 11px'
          = timeago(comment.created_at)
