
/- if comments.count > 0
  h5 #{comments.count} #{Russian::p(comments.count,'комментарий', 'комментария', 'комментариев')}
- limit ||= 3
- reverse ||= false
/- comments_limited = comments.limit(limit)
- comments_limited = comments

- if limit < comments.count
  button.allComment onclick='$(this).hide(); $(this).parent().find(".hidden_comment").show(); return false;' Показать все комментарии

  / a href='#' class='more_comment' onclick='$(this).hide(); $(this).parent().find(".hidden_comment").show(); return false;'
    / | Показать еще #{(comments.count-limit).to_s + ' ' + Russian::p(comments.count-limit,'комментарий','комментария','комментариев')}


- n = comments.count
- comments_limited.each do |comment|
  - n = n-1
  - css_class = 'hidden_comment' if n >= limit
  - css_class = 'visible_comment' unless n >= limit
  div id="comment_#{comment.id}" class='#{css_class}'
    .comment
      .avaImg
        img src="#{comment.user.avatar.mini_thumb.url}"
      .commentText
        span.name style="margin-bottom: 0px;"
          a href="#{user_path comment.user}"
            = comment.user.fname
            '
            = comment.user.lname
        span.comment_date = comment.created_at.strftime("%d.%m.%Y %H:%M")
        p = simple_format comment.content
   
