<% unless @comment.commentable_type == 'Comment' %>
$('#comments_<%= @comment.commentable_type %>_<%= @comment.commentable_id %>').html('<%= escape_javascript ( render partial: 'comments/list2', locals: { comments: @comments, reverse: @comment.wall?, limit: @comment.wall? ? 30 : 3 } ) %>');
<% else %>
$('#comments_<%= @comment.commentable_type %>_<%= @comment.commentable_id %>').html('<%= escape_javascript ( render partial: 'comments/mini_list2', locals: { comments: @comments } ) %>');
<% end %>

$("#comment_<%= @comment.id %>" ).css('opacity', '0').animate({ opacity: 1 }, 1000);
$('.comment_content_input').val('');
$('.text .required').val('');