label.white
  ' Местонахождение
= select_tag :place, options_for_select([[]] + Place.order('lft').collect {|i| ["#{'-' * i.level} #{unless i.root? then i.parent.name + ', ' end} #{i.name}",i.id] }, params[:place]), :class => 'chosen-select', style: 'width: 100%', 'data-placeholder'=>'Выберите'
br
br
= check_box_tag 'past', 'true', false, style:'float:left'
label.white style="margin-left:10px;"
  ' Прошедшее?
br
br
label.white style="margin-left:10px;"
  ' Дата начала
= text_field_tag 'start_date', nil, "type" => "date", class:'datepicker'
br
br
label.white style="margin-left:10px;"
  ' Дата окончания
= text_field_tag 'finish_date', nil, "type" => "date", class:'datepicker'
br
br
