.grpFilter.friends
  h1 Поиск
  - content_for :right_sidebar
    form action='/search/#{model}'
      label.white for='q' По тексту:
      input.input-block-level type='text' name='q' style='margin-right: 10px;' value='#{params[:q]}'
      br
      br
      = render "/search/#{model}_search" rescue ''
      button Найти
  ul class="nav nav-pills" style="font-size: 12px"
    - models = {'users'=>'Пользователи','teams'=>'Команды','infogroups'=>'Группы','spots'=>'Площадки', 'events' => 'Мероприятия'}
    - models.each do |m,mn|
      li class="#{'active' if m==model}"
        a href="/search/#{m}" #{mn}
