label.white
  ' Название:
= text_field_tag :name, params[:name] ,class: 'input-block-level'
br
br
label.white
  ' Вид спорта:
= select_tag :sport_type, options_for_select([[]] + SportType.with_depth_below(2).collect { |a| ["#{'- ' * a.level}" + a.name,a.id] }, params[:sport_type]), class: 'input-block-level'
br
br
label.white
  ' Местонахождение
= select_tag :place, options_for_select([[]] + Place.order('lft').collect {|i| ["#{'-' * i.level} #{unless i.root? then i.parent.name + ', ' end} #{i.name}",i.id] }, params[:place]), :class => 'chosen-select', style: 'width: 100%', 'data-placeholder'=>'Выберите'
br
br
