.vertical_padding
  label.white
    ' Местонахождение
  = select_tag :place, options_for_select([[]] + Place.order('lft').collect {|i| ["#{'-' * i.level} #{unless i.root? then i.parent.name + ', ' end} #{i.name}",i.id] }, params[:place]), :class => 'chosen-select', style: 'width: 100%', 'data-placeholder'=>'Выберите'
  div style="height: 10px;"
