label.white
  ' Название:
= text_field_tag :name, params[:name] ,class: 'input-block-level'

br
br
label.white
  ' Вид спорта:
= select_tag :sport_type, options_for_select([[]] + SportType.with_depth_below(2).collect { |a| ["#{'- ' * a.level}" + a.name,a.id] }, params[:sport_type]), class: 'input-block-level'

br
br
label.white
  ' Местонахождение
= select_tag :place, options_for_select([[]] + Place.order('lft').collect {|i| ["#{'-' * i.level} #{unless i.root? then i.parent.name + ', ' end} #{i.name}",i.id] }, params[:place]), :class => 'chosen-select', style: 'width: 100%', 'data-placeholder'=>'Выберите'


br
br
h1 В поиске игроков:
label.checkbox.white
  = check_box_tag :search_player, 1, params[:search_player] == '1'
  = ' Ищет игрока '

div style='padding-bottom: 5px;'
  = select_tag :sport_type_id, options_for_select([[]] + SportType.with_depth_below(3).collect { |a| ["#{'- ' * a.level}" + a.name,a.id] }, params[:sport_type_id]), class: 'input-block-level'
div style='padding-bottom: 5px;'
  = select_tag :level, options_for_select({'' => ''}.merge(UsersSportType::LEVELS.each{ |k,v| [v, k] }), params[:level]), class: 'input-block-level'
