label.white
  ' Имя:
= text_field_tag :fname, params[:fname] ,class: 'input-block-level'
br
br
label.white
  ' Фамилия:
= text_field_tag :lname, params[:lname] ,class: 'input-block-level'
br
br
label.white
  ' Псевдоним:
= text_field_tag :nickname, params[:nickname] ,class: 'input-block-level'
br
br
label.white
  ' Вид спорта:
= select_tag :sport_type_id, options_for_select([[]] + SportType.with_depth_below(3).collect { |a| ["#{'- ' * a.level}" + a.name,a.id] }, params[:sport_type_id]), class: 'input-block-level'
br
/ br
/ label.white
/   ' Уровень:
/ = select_tag :level, options_for_select({'' => ''}.merge(UsersSportType::LEVELS.each{ |k,v| [v, k] }), params[:level]), class: 'input-block-level'
br
br
label.checkbox.white
  = check_box_tag :search_team, 1, params[:search_team] == '1'
  = ' Ищет команду '

.vertical_padding
label.white
  ' Образование и работа:
= select_tag :occupation_kind, options_for_select({''=>''}.merge(Occupation::KINDS), params[:occupation_kind]), class: 'input-block-level'
br
br
= text_field_tag :occupation_name, params[:occupation_name] , class: 'input-block-level'
br
br
