



  <% links = [] %>
  <%- if controller_name != 'sessions' %>
      <% links << link_to( 'Войти на сайт', new_session_path(resource_name) )%>
  <% end -%>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
      <% links << link_to('Восстановить пароль', new_password_path(resource_name) )%>
  <% end -%>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <% links << link_to('Зарегистрироваться', new_registration_path(resource_name), online: "yaCounter28061058.reachGoal('Register'); return true;" )%>
  <% end -%>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
      <% links << link_to('Не получили инструкции по подтверждению?', new_confirmation_path(resource_name) )%>
  <% end -%>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
      <% links << link_to('Не получили инструкции по разблокировке?', new_unlock_path(resource_name) )%>
  <% end -%>

  <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
          <% links << link_to("Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) )%>
      <% end -%>
  <% end -%>

  <%- if links.any? %>

  <%=links.join(', ').html_safe%>
  <% end -%>


