= tinymce_assets

= simple_nested_form_for @key_value do |f|
  - if @key_value.errors.any?
    #error_explanation
      h2 = "#{pluralize(@key_value.errors.count, "error")} prohibited this key_value from being saved:"
      ul
        - @key_value.errors.full_messages.each do |message|
          li = message
  - if @key_value.new_record?
    .field
      = f.input :key, input_html: {:class => 'input-block-level'}
  .field
    = f.input :value, label: false, input_html: {:class => 'input-block-level tinymce'}
    = tinymce
  .actions = f.submit 'Save', class: 'btn'
