h1 Список настраиваемых параметров:
ul
  - @key_values.each do |key_value|
    li
      = link_to key_value.key, edit_key_value_path(key_value)

h1 Справочники:
ul
  li
    = link_to 'Пользователи', admin_users_path
  li
    = link_to 'Места', admin_places_path
  li
    = link_to 'Спорт', admin_sport_types_path
  li
    = link_to 'Отправить обновления пользователям', admin_posting_updates_path
  li
    = link_to 'Изображения', admin_photoalbums_path 

