* {margin: 0;padding: 0;}
body{background:url(../img/background.png) top center repeat-x;}
#header{}
.header{min-height:94px;margin-bottom:20px}
#logo{display:inline-block;margin: 10px 0px 15px 0px;}
.home_top_menu{margin:30px 0 0 0 !important}
.home_top_menu li{list-style:none;display:inline-block;margin-right:12px;}
.top_menu{margin:10px 0 0 0 !important}
.top_menu li{list-style:none;display:inline-block;margin-right:12px;}
.top_menu li a{font-weight:bold;font-size:16px;}
.padding_top{padding-top:18px}
.language{color:#325f91;}
.language a{font-size:16px;color:#325f91;text-shadow:0px 1px 0px #dcecff;text-decoration:underline;}
.home_language{color:#325f91;padding-top:40px;text-align:center;}
.home_language a{font-size:18px;color:#325f91;text-shadow:0px 1px 0px #cce3ff;text-decoration:underline;}
.language_active{text-decoration: none !important}
.user_exit{font-size:16px;text-shadow:0px 1px 0px #dcecff}
.home_info,.user_counter,.join{margin-top:20px}
.home_info{font-size: 36px;line-height: 30px;color:#5e5e5e;font-weight:bold;}
.user_counter{color:#5e5e5e;font-size:16px;line-height:28px;text-align:center}
.user_counter span{background:url(../img/user_counter.png)top center no-repeat;font-size: 58px;line-height:68px;color:white;text-shadow:0px 1px 0 black;letter-spacing: 12px;padding-left: 8px;font-weight:bolder;display:block}
.join{text-align:right;}
.join a{color: white;text-shadow:0px 1px 0px #7b5100;text-decoration:underline; display:inline-block;text-align:center;padding: 30px 20px 26px; font-size: 24px;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;
background-image: -moz-linear-gradient(top, #f5be00, #c97600);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5be00), to(#c97600));
background-image: -webkit-linear-gradient(top, #f5be00, #c97600);
background-image: -o-linear-gradient(top, #f5be00, #c97600);
background-image: linear-gradient(to bottom, #f5be00, #c97600);
border-right:1px solid #ffe78c;
border-left:1px solid #ffe78c;
border-top: 1px solid #fff0b5;
border-bottom:1px solid #ffe78c;}
.join a:hover{text-decoration:none;color:#0f3e72;text-shadow:0px 1px 0px white;}

.side_menu ul{margin:0px 0 15px 0}
.side_menu ul li{list-style:none;}
.side_menu ul li a{color:#709fd2;font-size: 20px;padding: 4px 10px;display:block;border:1px white solid;text-decoration:underline;}
.side_menu ul li a:hover,.side_menu ul li.active a{margin-bottom:0px;color:#0f3e72;text-decoration:none;text-shadow:0px 1px 0px white;display:block;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;
background-image: -moz-linear-gradient(top, #f5be00, #c97600);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5be00), to(#c97600));
background-image: -webkit-linear-gradient(top, #f5be00, #c97600);
background-image: -o-linear-gradient(top, #f5be00, #c97600);
background-image: linear-gradient(to bottom, #f5be00, #c97600);
border-right:1px solid #ffe78c;
border-left:1px solid #ffe78c;
border-top: 1px solid #fff0b5;
border-bottom:1px solid #ffe78c;
}
.content h1{color:#325f91;font-size:24px;line-height:26px;margin-top:0px;}
.text-style01{color:#325f91;font-size:16px;font-weight:bold;padding-bottom:15px;vertical-align:top;display:table-cell;}
.text-style02{color:#808080;}
.text-style03{color:#325f91;}
.text-style04{font-size:12px;} .text-style04 p{color:#999999}
.text-style05{color:#325f91;font-size:16px;line-height:16px;display:block;margin-bottom:10px}

.favorites{display:inline-block;width:100%;margin:0 0 10px}
.favorites img{float:left;margin-right:6px}
.favorites a{color:#cb9206;font-weight:bold;font-size:13px;line-height:15px;}
.favorites a:hover{color:#cb9206;}

.home_news h2{color:#3d6ca0;font-size:20px;line-height:20px;margin: 26px 0;}
.home_news p{color:#5e5e5e;font-size:12px;line-height:14px;display:block;}
.home_news p span{color:#5e5e5e;font-size:12px;display:block;}
.home_news p a{color:#3d6ca0;font-size:14px !important;line-height:14px !important;display:block;margin: 2px 0 4px;font-weight:bold;}

.news ul{margin:0px}
.news ul li{list-style:none;font-size:12px;color:#999999}
.news a{font-weight:bold;font-size:14px;display:block;}

.comments h2,.wall h2{font-size:16px;line-height:20px;margin:30px 0 15px}
#redex { resize: none; width:100%;}
#message{ resize: none; width:100%;height:54px;background:#f2f2f2}
.send-btn{text-decoration:underline;margin-bottom:10px !important}
.comment-text{display:inline-block;width:100%;margin:10px 0 5px;line-height:12px;}
.comment-text img{float:left;margin-right:10px}
.comment-text a{font-weight:bolder;display:block}
.comment-text span{font-size:12px;color:#999999;display:block;margin:6px 0 12px}

.category_sports h2{color:#325f91;font-size: 22px;display:table-cell;vertical-align:middle}
.category_sports ul{padding-bottom:15px;}
.category_sports li{display:inline-block;list-style:none;padding-right:12px;color:#325f91;font-size:12px;}
.category_sports li:before{content:'|';letter-spacing:12px;color:#325f91}
.category_sports li.first:before{content:''}

.category_sports_list{padding-top:15px}
.category_sports_list h2{color:#3d6ca0;font-size:20px;line-height:20px;margin: 26px 0;}
.category_sports_list p{color:#5e5e5e;font-size:12px;line-height:14px;display:block;padding-bottom:10px}
.category_sports_list p span{color:#5e5e5e;font-size:12px;display:block;}
.category_sports_list p a{color:#3d6ca0;font-size:14px !important;line-height:14px !important;display:block;margin: 2px 0 4px;font-weight:bold;}


.group_head{-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;background:#ddedff;padding:4px;margin-bottom:10px}
.group_head h1{margin-bottom:2px}
.group_head span{color:#999999;vertical-align:top;font-size:12px}
.group_head span b{font-weight:normal;color:#709fd2;margin-right:20px}
.group_head span img{margin-right:5px;vertical-align:top;padding-top:2px}

.group_btn01,.group_btn02{height:35px;background:url(../img/group_btn.png) no-repeat;display:block;line-height:35px;color:white;text-indent:40px;margin-bottom: 5px;text-shadow:0px 1px 0 #1d4f81;text-decoration:underline}
.group_btn01:hover,.group_btn02:hover{text-decoration:none;color:white}
.group_btn01{background-position:left top}
.group_btn02{background-position:left bottom}

.group_add_btn01,.group_add_btn02{color:white;font-size:20px;height:45px;line-height:45px;text-indent:50px;display:inline-block;padding-right:20px;margin-right:15px;text-shadow:0px 1px 0px #00396d}
.group_add_btn01:hover,.group_add_btn02:hover{color:white;}
.group_add_btn01{background:url(../img/group_btn_01.png) no-repeat;}
.group_add_btn02{background:url(../img/group_btn_02.png) no-repeat;}

.group_list{padding-top:15px;}
.group_list .span4{padding:15px 0}
.group_list a{color:#3d6ca0;font-size:16px;line-height:16px;margin: 0px 0 5px;font-weight:bold;display:block;}
.group_list span{color:#999999;vertical-align:top;font-size:12px;}
.group_list span b{font-weight:normal;color:#709fd2}
.group_list span img{margin-right:5px;vertical-align:top;padding-top:2px}
.add_group{color:#cb9206 !important;font-size:12px !important;text-decoration:underline} .add_group:hover{text-decoration:none;}
.add_group img{margin-right:5px;}

.user_group {margin:0px;padding:0px}
.user_group li{list-style:none;display:block;margin-bottom:5px;min-height:40px;margin-bottom:5px}
.user_group li a{position:relative;float:left;}
.user_group li a img{float:left;margin-right:10px;}
.user_group li span{color:#999999;font-size:12px;display:block;line-height:5px}
.user_group_name{font-weight:bold;vertical-align:top;line-height:14px}
.add_riends {color:#cb9206 !important;font-size:12px;}
.add_riends img{margin:4px 4px 0 0 !important;}

.user_info_profil {margin:0px;padding:0px}
.user_info_profil li{list-style:none;display:block;margin-bottom:5px;min-height:40px;margin-bottom:5px}
.user_info_profil li a{position:relative;float:left;}
.user_info_profil li a img{float:left;margin-right:10px;}
.user_info_profil li span{color:#999999;font-size:12px;display:block;line-height:5px}
.user_info_profil_name{font-weight:bold;vertical-align:top;line-height:14px}
.add_riends {color:#cb9206 !important;font-size:12px;}
.add_riends01 img{padding-top:2px !important}
.add_riends02 img{margin-top:0px !important;display:block;}



.date_event{font-size:12px;color:#325f91;margin-bottom:10px}
.date_event span{font-size:14px;color:#ed1c24}
.date_event b{color:#c1272d;font-weight:normal}
.date_event img{margin:0 0 5px 10px}

.event_btn_01,.event_btn_02,.event_btn_03{color:white;font-size:14px;height:34px;line-height:34px;text-indent: 45px;display:inline-block;padding-right:20px;margin-right:15px;text-shadow:0px 1px 0px #00396d;margin-bottom:15px}
.event_btn_01:hover,.event_btn_02:hover,.event_btn_03:hover{color:white;}
.event_btn_01{background:url(../img/event_btn_01.png) no-repeat;}
.event_btn_02{background:url(../img/event_btn_02.png) no-repeat;}
.event_btn_03{background:url(../img/event_btn_03.png) no-repeat;}

/*.team{-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;padding:4px;margin-bottom:10px}*/
.team span{color:#999999;vertical-align:top;font-size:12px}
.team span b{font-weight:normal;color:#709fd2}
.team span img{margin-right:5px;vertical-align:top;padding-top:2px}

.team_list h2{font-size:16px;font-weight:bolder;color:#325f91;line-height:16px;text-indent:10px}
.team div{margin-bottom:20px}
.team_all_list {margin:0px;padding:10px 10px 0px 10px}
.team_all_list li{list-style:none;display:block;margin-bottom:5px;min-height:40px;margin-bottom:5px}
.team_all_list li b{display:inline-block;float:left;line-height:30px;height:30px;margin-right:10px}
.team_all_list li a{position:relative;float:left;}
.team_all_list li a img{float:left;margin-right:10px;}
.team_all_list li span{color:#999999;font-size:12px;display:block;line-height: 12px;}

.team_list_all{padding-top:15px;}
.team_list_all .span4{padding:15px 0}
.team_list_all a{color:#3d6ca0;font-size: 24px;line-height:16px;margin: 0px 0 5px;font-weight:bold;display:block;}
.team_list_all span{color:#999999;vertical-align:top;font-size:12px;}
.team_list_all span i{color:#3d6ca0;font-style:normal;margin-right:30px}
.team_list_all span b{font-weight:normal;color:#709fd2}
.team_list_all span img{margin-right:5px;vertical-align:top;padding-top:2px}
.add_group{color:#cb9206 !important;font-size:12px !important;text-decoration:underline} .add_group:hover{text-decoration:none;}
.add_group img{margin-right:5px;}

.team_list_all_btn01,.team_list_all_btn02{color:white;font-size:20px;height:45px;line-height:45px;text-indent:50px;display:inline-block;padding-right:20px;margin-right:15px;text-shadow:0px 1px 0px #00396d}
.team_list_all_btn01:hover,.team_list_all_btn02:hover{color:white;}
.team_list_all_btn01{background:url(../img/team_list_btn_01.png) no-repeat;}
.team_list_all_btn02{background:url(../img/team_list_btn_02.png) no-repeat;}

.team_meropriyatia ul{margin:0px;padding:0px;}
.team_meropriyatia ul li{color:#325f91;font-size:12px;list-style:none;line-height:14px;margin-bottom:6px;font-weight:bolder}
.team_meropriyatia ul li span{color:#999999;margin-right:5px}

.team_page h2{font-size: 16px;font-weight: bolder;color: #325f91;line-height: 16px;margin-bottom:5px}
.team_page h3{color:black;font-size: 16px;font-weight: bolder;line-height: 20px;margin-bottom: 2px;}
.team_page b{font-size:12px}

.profil_page{font-size:12px;font-weight:bold;margin-bottom:4px;}
.profil_page span{color:#325f91;}
.profil_page span a{text-decoration:underline;}
.profil_page span a:hover{text-decoration:none;}

.game_findings ul{margin:0px;padding:0px;}
.game_findings ul li{color:#325f91;font-size:12px;list-style:none;line-height:14px;margin-bottom:6px;font-weight:bolder}
.game_findings ul li span{color:#999999}

.show_all{-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;background:#325f91;text-align:center;padding:4px;margin:4px 0 10px}
.show_all a{color:white;text-decoration:underline;width:100%;display:inline-block;}
.show_all a:hover{text-decoration:none;color:white}

.bottom_line{border-bottom:1px solid #709fd2;margin-bottom:5px}
.bottom_line_profil{border-bottom:1px dotted #709fd2;margin-bottom:5px}

.user_team {margin:0px;padding:0px}
.user_team li{list-style:none;display:block;margin-bottom:5px;min-height:40px;margin-bottom:5px}
.user_team li a{position:relative;float:left;}
.user_team li a img{float:left;margin-right:10px;}
.user_team li span{color:#999999;font-size: 14px;display:block;line-height: 14px;}
.user_team_name{font-weight:bold;vertical-align:top;line-height:14px}
.add_riends {color:#cb9206 !important;font-size:12px;}
.add_riends img{margin:4px 4px 0 0;}

.meropriyatia_btn01,.meropriyatia_btn02{color:white;font-size:20px;height:45px;line-height:45px;text-indent:50px;display:inline-block;padding-right:20px;margin-right:15px;text-shadow:0px 1px 0px #00396d}
.meropriyatia_btn01:hover,.meropriyatia_btn02:hover{color:white;}
.meropriyatia_btn01{background:url(../img/meropriyatia_btn_01.png) no-repeat;}
.meropriyatia_btn02{background:url(../img/meropriyatia_btn_02.png) no-repeat;}
.meropriyatia_list h2{font-size:16px;font-weight:bolder;color:#325f91;line-height:16px;}

.overpast div{margin-bottom:25px}
.overpast img{float:left;margin-right:12px}
.overpast span{color:#999999;font-size:12px;line-height:12px;vertical-align:top}
.overpast a{color:#325f91;font-size:16px;font-weight:bolder}

.actual div{margin-bottom:25px}
.actual img{float:left;margin-right:12px}
.actual span{color:#999999;font-size:12px;line-height:16px;float:left;vertical-align:top}
.actual span b{font-weight:normal;font-size:12px;line-height:12px;vertical-align:top;color:#325f91;}
.actual span img{margin-right:4px;}
.actual a{color:#325f91;font-size:16px;font-weight:bolder}
.actual .activete,.actual .activete b{color:#ed1c24 !important;}

.setings{float:right;right:0;color:#abd2ff;font-size:12px;line-height:20px;vertical-align:top;margin-right:6px}
.setings:hover{color:#abd2ff;}
.setings img{margin:-2px 4px 0 0}

.profil_info{}
.profil_info ul{margin:0px;padding:0px}
.profil_info ul li{list-style:none;font-size:12px;color:#325f91;font-weight:bolder}
.profil_info ul li span{color:#999999}
.profil_info ul li a{color:#325f91}
.profil_info ul li a:hover{}

.margin_top{margin-top:20px}
.margin_bottom{padding-bottom:20px}
.photogallery01 img{float:left;margin:0 4px 4px 0}
.videogallery01 a,.photogallery01 a{float:left;width:100%;font-size:16px;font-weight:bolder;margin-bottom:5px;text-decoration:underline}
.videogallery01 a:hover,.photogallery01 a:hover{text-decoration:none}

.footer{border-top:1px solid #c0cedf;margin: 25px 0 5px;padding-top: 12px;font-size:12px;font-weight:bold;color:#5e5e5e;}
.footer a{color:#3d6ca0;text-decoration:underline}
.footer img{margin-right:4px}
.footer a:hover{text-decoration:none;}
.footer ul{text-align:center;}
.footer ul li{display:inline-block;list-style:none;margin:0px 3px}
.footer ul li a img{margin:0px}
.depix{text-align:right;}


@media (min-width: 768px) and (max-width: 979px) {
.btn-large {padding: 9px 16px !important;}
.home_top_menu li,.top_menu li{margin:0px}
.top_menu li a{padding: 4px 10px;}
.search-query{width:75px !important;}
}
@media (max-width: 767px) {
.join a{display:block}
.home_top_menu{text-align:center}
.home_top_menu li,.top_menu li{margin:0px}
.top_menu li {float:left;width:100% !important;text-align:center}
.top_menu li a{display:block;margin-bottom:2px;}
.language{padding-top:12px}
.btn-large {padding: 7px 10px !important;}
.binding{text-align:right;}
.language,.user_exit{text-align:center;margin:10px}
.home_language{padding-top:10px;}
}
