.grpBody
  .FormBody
    - if @user || @community || @event || @spot || @sport_event || @ad
    - entity = @community if @community
    - entity = @user if @user
    - entity = @event if @event
    - entity = @spot if @spot
    - entity = @sport_event if @sport_event
    - entity = @ad if @ad
    = simple_nested_form_for [entity, @photoalbum] do |f|
      label Название
      = f.input :name, input_html: {:class => 'input-block-level'}, label: false
      br
      button.new Создать фотоальбом
