<div class="grpBody without_line">
  <%= form_for [@photoalbum.photoalbumable, @photoalbum, Photo.new], :html => { :multipart => true, :id => "fileupload"  } do |f| %>
    <div class="fileupload-buttonbar">
      <a class="button green" onclick="choosePhotos();">Добавить фотографии</a>
      <span class="fileinput-button">
        <span class="btn btn-success fileinput-button">
          <%= f.file_field :photo, multiple: true, hidden: true %>
        </span>
      </span>
      <button type="submit" class="start">
        Загрузить все
      </button>
      <button type="reset" class="red cancel">
        Отменить загрузку
      </button>
      <% obj_name = @photoalbum.photoalbumable.class.to_s.underscore %>
      <% obj_name = 'community' if obj_name == 'team' %>
      <a class="button" href="<%= self.send(obj_name + '_photoalbum_path', @photoalbum.photoalbumable,@photoalbum) %>">Посмотреть фотоальбом</a>
    </div>
    <div class="fileupload-loading"></div>
      <div class="grpBody">
        <table class="files table table-bordered table-striped">

        </table>
      </div>
    </div>
  <% end %>
</div>
<script>
  var fileUploadErrors = {
  maxFileSize: 'File is too big',
  minFileSize: 'File is too small',
  acceptFileTypes: 'Filetype not allowed',
  maxNumberOfFiles: 'Max number of files exceeded',
  uploadedBytes: 'Uploaded bytes exceed file size',
  emptyResult: 'Empty file upload result'
  };
</script>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">

  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-upload fade">
    <td class="preview"><span class="fade"></span></td>
    <td class="name">{%=file.name%}</td>
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    {% if (file.error) { %}
    <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
    {% } else if (o.files.valid && !i) { %}
    <td>
      <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
    </td>
    <td class="start">{% if (!o.options.autoUpload) { %}
      <button class="btn btn-mini btn-primary">
        <i class="icon-upload icon-white"></i>
        <span>Загрузить</span>
      </button>
      {% } %}</td>
    {% } else { %}
    <td colspan="2"></td>
    {% } %}

    <td class="cancel">{% if (!i) { %}
      <button>
        Загрузить
      </button>
      {% } %}</td>
    <td class="cancel">{% if (!i) { %}
      <button class="red">
        Удалить
      </button>
      {% } %}</td>
  </tr>
  {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">

</script>

<script type="text/javascript" charset="utf-8">
  $(function () {
      // Initialize the jQuery File Upload widget:
      $('#fileupload').fileupload();
      //
      // Load existing files:
      $.getJSON($('#fileupload').prop('action'), function (files) {
          //console.log(files);
          var fu = $('#fileupload').data('blueimpFileupload'),
                  template;
          //console.log(fu);
          fu._adjustMaxNumberOfFiles(-files.length);
          console.log(files);
          template = fu._renderDownload(files)
                  .appendTo($('#fileupload .files'));
          // Force reflow:
          fu._reflow = fu._transition && template.length &&
          template[0].offsetWidth;
          template.addClass('in');
          $('#loading').remove();
      });

  });
</script>
