main
  section
    - photoalbum = Photoalbum.new
    - if @user
      - photoalbum.photoalbumable = @user
      - breadcrumb :user_photoalbums, @user

    - if @community
      - photoalbum.photoalbumable = @community
      - breadcrumb :community_photoalbums, @community

    - if @event
      - photoalbum.photoalbumable = @event
      - breadcrumb :event_photoalbums, @event
    - if @spot
      - photoalbum.photoalbumable = @spot
      - breadcrumb :spot_photoalbums, @spot
    - if @sport_event
      - photoalbum.photoalbumable = @sport_event
      - breadcrumb :sport_event_photoalbums, @sport_event
    - if @ad
      - photoalbum.photoalbumable = @ad
      - breadcrumb :ad_photoalbums, @ad
    .grpFilter
      h1 Фотоальбомы
      - if @user == current_user
        - obj_name = photoalbum.photoalbumable.class.to_s.downcase
        - obj_name = 'community' if obj_name == 'team'
        - obj_name = 'sport_event' if obj_name == 'sportevent'
        a href='#{self.send('new_' + obj_name + '_photoalbum_path', photoalbum.photoalbumable,photoalbum)}'
          button Создать новый фотоальбом
    .grpBody
      - i=0
      - @photoalbums.each do |photoalbum|
        - obj_name = photoalbum.photoalbumable.class.to_s.underscore
        - obj_name = 'community' if obj_name == 'team'
        - if i%4==0
          div style='clear: both'
        - i=i+1
        .grpImg
          a href="#{self.send(obj_name + '_photoalbum_path', photoalbum.photoalbumable,photoalbum)}"
            img width="120px" src='#{photoalbum.photos.first_or_initialize.photo.thumb.url}'
        .postText
          h1
            a href="#{self.send(obj_name + '_photoalbum_path', photoalbum.photoalbumable,photoalbum)}"
              = photoalbum.name
          .grpText
            p
              - updated_at = Russian::strftime(photoalbum.updated_at, '%d %B %Y')
              - created_at = Russian::strftime(photoalbum.created_at, '%d %B %Y')
              ' Создан
              = created_at
              br
              ' Обновлен:
              = updated_at
          - if @user == current_user
            a style="margin-right:5px;" href="#{self.send(obj_name + '_photoalbum_path', photoalbum.photoalbumable,photoalbum)}/upload"
              button Добавить фотографии
            = link_to self.send(obj_name + '_photoalbum_path', photoalbum.photoalbumable,photoalbum), :confirm => 'Вы уверены?', :method => :delete do
              button Удалить


      - unless @photoalbums.any?
        | Нет ни одного фотоальбома
