main
  section
    .grpFilter

      - if @user
        - breadcrumb :user_photoalbum, @photoalbum, @user
      - if @community
        - breadcrumb :community_photoalbum, @photoalbum, @community
      - if @event
        - breadcrumb :event_photoalbum, @photoalbum, @event
      - if @spot
        - breadcrumb :spot_photoalbum, @photoalbum, @spot
      - if @sport_event
        - breadcrumb :sport_event_photoalbum, @photoalbum, @sport_event
      - if @ad
        - breadcrumb :ad_photoalbum, @photoalbum, @ad

      h1
        ' Фотоальбом
        = @photoalbum.name

      - obj_name = @photoalbum.photoalbumable.class.to_s.underscore
      - obj_name = 'community' if obj_name == 'team'
      - if @user == current_user
        a.custom_btn.plus_btn href="#{self.send(obj_name + '_photoalbum_path', @photoalbum.photoalbumable,@photoalbum)}/upload"
          button Загрузить фото
        a style="margin-right:5px;" href="#{self.send('edit_' +obj_name + '_photoalbum_path', @photoalbum.photoalbumable,@photoalbum)}"
          button style="margin-left: 10px;" Переименовать 

    .grpBody
      - @photoalbum.photos.each do |photo|
        .grpPhoto
          a href="#{@user ? '/users/'+@user.id.to_s : (@community ? '/communities/'+ @community.id.to_s : (@event ? '/events/'+ @event.id.to_s : (@sport_event ? '/sport_events/'+ @sport_event.id.to_s : (@ad ? '/ads/'+ @ad.id.to_s : '/spots/'+ @spot.id.to_s)))) }/photoalbums/#{@photoalbum.id}/photos/#{photo.id}" class='modal_link'
            img width="150px;" src="#{photo.photo.thumb.url}"
      - unless @photoalbum.photos.any?
        | В этом фотоальбоме нет ни одной фотографии
