<h3>Повторная отправка инструкции по разблокировке</h3>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => {:method => :post}) do |f| %>

    <%= devise_error_messages! %>

    <div class="span8">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, :class => 'input-block-level' %>
    </div>

    <div>
      <%= f.submit "Отправить повторно", :class => 'btn btn-block' %>
    </div>

<% end %>

<%= render "devise/shared/links" %>
