- if resource.errors.any?
    .alert.alert-danger
      p
        strong
          ' Внимание, при сохранении
          = Russian.p(resource.errors.count,'произошла','произошли','произошли')
          '
          = RuPropisju.propisju_shtuk(resource.errors.count, 2, ['ошибка','ошибки','ошибок'] )
          ' !
      ul
        - resource.errors.full_messages.each do |message|
          li = message