.FormBody
  - if @user
    - breadcrumb :user_videoalbum, @videoalbum, @user
  - if @community
    - breadcrumb :community_videoalbum, @videoalbum, @community
  - if @event
    - breadcrumb :event_videoalbum, @videoalbum, @event
  - if @spot
    - breadcrumb :spot_videoalbum, @videoalbum, @spot
  - if @sport_event
    - breadcrumb :sport_event_videoalbum, @videoalbum, @sport_event
  - if @ad
    - breadcrumb :ad_videoalbum, @videoalbum, @ad

  - if @user || @community || @event || @spot || @sport_event || @ad
    - entity = @community if @community
    - entity = @user if @user
    - entity = @event if @event
    - entity = @spot if @spot
    - entity = @sport_event if @sport_event
    - entity = @ad if @ad
    = simple_nested_form_for [entity, @videoalbum,Video.new] do |f|
      = f.input :video, input_html: {:class => 'input-block-level'}
      div style="float:left;"
        p
          | Например:
          |  http://www.youtube.com/watch?v=SOMEVIDEOID
        p
          |или
          |  http://youtu.be/SOMEVIDEOID
      br
      br
      br

      button.new Добавить видео
