main
  section
    .grpFilter
      - videoalbum = Videoalbum.new
      - if @user
        - videoalbum.videoalbumable = @user
        - breadcrumb :user_videoalbums, @user
      - if @community
        - videoalbum.videoalbumable = @community
        - breadcrumb :community_videoalbums, @community
      - if @event
        - videoalbum.videoalbumable = @event
        - breadcrumb :event_videoalbums, @event
      - if @spot
        - videoalbum.videoalbumable = @spot
        - breadcrumb :spot_videoalbums, @spot
      - if @sport_event
        - videoalbum.videoalbumable = @sport_event
        - breadcrumb :sport_event_videoalbums, @sport_event
      - if @ad
        - videoalbum.videoalbumable = @ad
        - breadcrumb :ad_videoalbums, @ad

      h1 Видеоальбомы
      - if @user == current_user
        - obj_name = videoalbum.videoalbumable.class.to_s.underscore
        - obj_name = 'community' if obj_name == 'team'
        a.custom_btn.plus_btn href='#{self.send('new_' + obj_name + '_videoalbum_path', videoalbum.videoalbumable,videoalbum)}'
          button Новый видеоальбом
    .grpBody
      - i=0
      - @videoalbums.each do |videoalbum|
        - obj_name = videoalbum.videoalbumable.class.to_s.underscore
        - obj_name = 'community' if obj_name == 'team'
        - if i%4==0
          div style='clear: both'
        - i=i+1
        .grpImg
          a href="#{self.send(obj_name + '_videoalbum_path', videoalbum.videoalbumable,videoalbum)}"
            img width="120px" class="img-rounded" src='#{videoalbum.videos.first_or_initialize.thumb}'
        .postText
          h1
            a href="#{self.send(obj_name + '_videoalbum_path', videoalbum.videoalbumable,videoalbum)} "
              = videoalbum.name
          .grpText
            p
              - updated_at = Russian::strftime(videoalbum.updated_at, '%d %B %Y')
              - created_at = Russian::strftime(videoalbum.created_at, '%d %B %Y')
              ' Создан
              = created_at
              - if updated_at != created_at
                br
                ' Обновлен:
                = updated_at
          - if @user == current_user
            a style="margin-right:5px;" href="#{self.send(obj_name + '_videoalbum_path', videoalbum.videoalbumable,videoalbum)}/upload"
              button Добавить видео
            = link_to self.send(obj_name + '_videoalbum_path', videoalbum.videoalbumable,videoalbum), :confirm => 'Вы уверены?', :method => :delete do
              button Удалить


      - unless @videoalbums.any?
        | Нет ни одного видеоальбома
