main
  section
    .grpFilter
      - if @user
        - breadcrumb :user_videoalbum, @videoalbum, @user
      - if @community
        - breadcrumb :community_videoalbum, @videoalbum, @community
      - if @spot
        - breadcrumb :spot_videoalbum, @videoalbum, @spot
      - if @sport_event
        - breadcrumb :sport_event_videoalbum, @videoalbum, @sport_event
      - if @ad
        - breadcrumb :ad_videoalbum, @videoalbum, @ad

      h1
        ' Видеоальбом
        = @videoalbum.name


      - obj_name = @videoalbum.videoalbumable.class.to_s.underscore
      - obj_name = 'community' if obj_name == 'team'
      - if @user == current_user
          a.custom_btn.plus_btn href="#{self.send(obj_name + '_videoalbum_path', @videoalbum.videoalbumable,@videoalbum)}/upload"
            button Загрузить видео
          a href="#{self.send('edit_' + obj_name + '_videoalbum_path', @videoalbum.videoalbumable,@videoalbum)}"
            button style="margin-left: 10px;" Переименовать

    .grpBody
      - @videoalbum.videos.each do |video|
        .grpPhoto
          a href="#{@user ? '/users/'+@user.id.to_s : (@community ? '/communities/'+ @community.id.to_s : (@event ? '/events/'+ @event.id.to_s : (@sport_event ? '/sport_events/'+ @sport_event.id.to_s : (@ad ? '/ads/'+ @ad.id.to_s : '/spots/'+ @spot.id.to_s)))) }/videoalbums/#{@videoalbum.id}/videos/#{video.id}" class='modal_link'
            img width="150px" class="img-rounded" src="#{video.thumb}"
      - unless @videoalbum.videos.any?
        | В этом видеоальбоме нет ни одной видео
