div.node id="node_#{place.id}"
  div.node_expander
    - if place.leaf?
      i.fa.fa-circle
    - else
      i.fa.fa-plus-circle
  div.node_before
  div.node_container
    .node_operations style='float: right'
      = link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_place_path(place)
      = link_to '<i class="fa fa-times"></i>'.html_safe, admin_place_path(place), data: {:confirm => 'Вы уверены?'}, :method => :delete
    = place.name

  div.node_children
  div.node_after