= link_to 'Создать', new_admin_place_path, class: 'btn btn-primary', style: 'float: right'
h1 Места

div style='padding: 10px 0;'
  .btn-group.pull-right
    a.btn.btn-info.btn-fa.btn-xs.expand_all
      .fa.fa-expand
      ' Раскрыть все
    a.btn.btn-info.btn-fa.btn-xs.collapse_all
      .fa.fa-compress
      ' Свернуть все
  div style='clear: both;'

.node_tree#places
  - @places.each do |place|
    = render partial: 'node', locals: { place: place }
