aside
  .group.no_hover
    = yield :right_sidebar
  h1 Вам будет интересно:
  - users = Community.limit(5).order("RAND()")
  - users.each do |user|
    - membership = user.memberships.where(user_id: current_user.id).first_or_initialize
    - unless user.id == current_user.id || current_user.communities.pluck(:id).include?(user.id)
      .group
        .photoBox
          a href= community_path(user)
            img src=user.avatar.mini_thumb.url
        .groupProp
          a href= community_path(user)
            h2
              = truncate(user.name, :length => 17)
          - if membership.user_status < 1
            - add = ''
            - exit = 'hide'
          - else
            - add = 'hide'
            - exit = ''
          div id="community_block_#{user.id}"
            = link_to "/communities/"+user.id.to_s+"/membership_request", {:remote => true, :id=>'membership_request_'+user.id.to_s, class: 'btn btn-mini btn_add '+add} do
              button Подписаться
            = link_to "/communities/"+user.id.to_s+"/membership_cancel", {:remote => true, :id=>'membership_request_'+user.id.to_s, class: 'btn btn-mini btn_remove '+exit} do
              button Отписаться
        / span.rem ×
