.clear
nav
  ul.leftMenu
    li
      a href="/users/#{current_user.id}" class="#{ 'leftActive' if params[:controller] == 'users' and params[:action] == 'show'}"
        i N
        span.leftSpan
            - if is_english
                | Profile
            - else
                | Профиль
    li
      a href="/users/#{current_user.id}/friends" class="#{ 'leftActive' if params[:controller] == 'users' and params[:action] == 'friends'}"
        i S
        span.leftSpan
            - if is_english
                | Friends
            - else
                | Друзья
    li
      a href="/communities?type=Team" class="#{ 'leftActive' if params[:controller] == 'communities' and params[:type] == 'Team'}"
        i L
        span.leftSpan
            - if is_english
                | Team
            - else
                | Команда
    li
      a href="/communities?type=Infogroup" class="#{ 'leftActive' if params[:controller] == 'communities' and params[:type] == 'Infogroup'}"
        i T
        span.leftSpan
            -if is_english
                | Group
            - else
                | Группы
    li
      a href="/events" class="#{ 'leftActive' if params[:controller] == 'events'}"
        i P
        span.leftSpan
            - if is_english
                | Event
            - else
                | Мероприятия
    li
      a href="/users/#{current_user.id}/photoalbums" class="#{ 'leftActive' if params[:controller] == 'photoalbums'}"
        i F
        span.leftSpan
            - if is_english
                | Photo
            - else
                | Фото
    li
      a href="/users/#{current_user.id}/videoalbums" class="#{ 'leftActive' if params[:controller] == 'videoalbums'}"
        i f
        span.leftSpan
            - if is_english
                | Video
            - else
                | Видео
    li style="display: none;"
      a href="/favorites"
        i e
        span.leftSpan
            - if is_english
                | Preferrer
            - else
                | Избранное
    li
      a href="#"
        i c
        span.leftSpan
          - if is_english
            | Calendar
          - else
            | Календарь
    li style="display: none;"
      a href="#"
        i B
        span.leftSpan Клубы
    li  style="display: none;"
      a href="#"
        i i
        span.leftSpan Магазины
    li
      a href="/spots" class="#{ 'leftActive' if params[:controller] == 'spots'}"
        i J
        span.leftSpan
          - if is_english
              | Spots
          - else
              | Площадки
