= simple_nested_form_for @user do |f|
  #tabs
    .grpFilter.editprofile
      h1 Редактирование профиля 
      ul#tabs.nav.nav-pills data-tabs="tabs"
        li class="active"
          a href="#main_data" data-toggle="tab" Основное
        li
          a href="#work_and_education" data-toggle="tab" Образование и работа
        li
          a href="#about_sport" data-toggle="tab" Спортивные достижения
        li
          a href="#contacts" data-toggle="tab" Контакты
        li
          a href="#privacy" data-toggle="tab" Приватность

    .grpBody.no_bottom_border
      .FormBody
        .tab-content
          #main_data.tab-pane.fade.in
            div style="width:60%; float: left;"
              h1 Личная информация
              br
              = f.input :fname
              span
              = f.input :lname, input_html: {:class => 'input-block-level'}
              span
              = f.input :nickname, input_html: {:class => 'input-block-level'}
              span
              = f.input :sex, as: :select, collection: { 'Мужской'=>true, 'Женский'=>false }, input_html: {:class => 'input-block-level'}
              span
              = f.input :birthday_day, as: :select, :include_blank => true, collection: 1..31, label: 'День рождения'
              span
              = f.input :birthday_month, as: :select, :include_blank => true, collection: {'января'=>1,'февраля'=>2,'марта'=>3,'апреля'=>4,'мая'=>5,'июня'=>6,'июля'=>7,'августа'=>8,'сентября'=>9,'октября'=>10,'ноября'=>11,'декабря'=>12}, label: 'Месяц рождения'
              span
              = f.input :birthday_year, as: :select, :include_blank => true, collection: Date.today.year-99..Date.today.year, label: 'Год рождения'
              span
              = f.input :place_id, as: :select, collection: Place.ordering, :include_blank => true
              span
              br
            div style="width: 40%; float:left; min-height: 350px;"
              label for='user_avatar'
                h1 Фотография
                br
                img alt="" src="#{@user.avatar.url}" style='margin-top: 4px; max-width: 100%'
                br
                span.profile_btn
                  | изменить фотографию
              div.hide
                = f.input :avatar
              div#user_avatar_alert style='font-size: 12px;'
            span
            label for='user_cover_page' style="width: 100% !important;"
              h1 Обложка страницы
              br
              img alt="" src="#{@user.cover_page.url}" class="cover_page" style="width: 100%;"
              br
              span.profile_btn style="float: right;"
                | изменить обложку
              div.hide
                = f.input :cover_page
              div#user_cover_page_alert style='font-size: 12px;'
          #contacts.tab-pane.fade.in
            h1 Контакты
            p Оставьте свои контактные данные, чтобы в дальнейшем получать е-мэйл уведомления от своей команды.

            span
            = f.input :email2, input_html: {:class => 'input-block-level'}
            span
            = f.input :phone, input_html: {:class => 'input-block-level'}


          #work_and_education.tab-pane.fade.in

            h1 Учёба и работа
            = f.simple_fields_for :occupations do |nested_f|
              .row style='border-bottom: 1px dotted #999; margin-bottom: 15px;'
                = nested_f.input :kind, required: true, as: :select, collection: Occupation::KINDS, input_html: {:class => 'input-block-level', placeholder: 'Тип', onchange: '$(this).parent().parent().parent().parent().find(".occupation_kind").hide();$(this).parent().parent().parent().parent().find(".occupation_kind_"+$(this).val()).removeClass("hide");$(this).parent().parent().parent().parent().find(".occupation_kind_"+$(this).val()).show();'}, label: 'Тип'

                /= nested_set_options(Place.with_depth_below(1).to_a) {|i| "#{'-' * i.level} #{unless i.root? then i.parent.name + ', ' end} #{i.name}" }
                span
                = nested_f.input :place_id, as: :select, collection: Place.ordering, input_html: {:class => 'input-block-level'}, label: "Местонахождение"
                span
                br
                label style='margin-bottom: 3px;'  class='muted occupation_kind  #{!nested_f.object.kind.nil? ? 'hide' : ''}' Название
                label style='margin-bottom: 3px;'  class='muted occupation_kind  #{nested_f.object.kind != '0' ? 'hide' : ''} occupation_kind_0' Название организации
                label style='margin-bottom: 3px;'  class='muted occupation_kind  #{nested_f.object.kind != '1' ? 'hide' : ''} occupation_kind_1' Название ВУЗа
                label style='margin-bottom: 3px;'  class='muted occupation_kind  #{nested_f.object.kind != '2' ? 'hide' : ''} occupation_kind_2' Номер школы

                = nested_f.input :name, input_html: {:class => 'input-block-level', placeholder: 'Название'}, label: false
                span
                br
                label style='margin-bottom: 3px;'  class='muted occupation_kind  #{!nested_f.object.kind.nil? ? 'hide' : ''}' Примечание
                label style='margin-bottom: 3px;'  class='muted occupation_kind #{nested_f.object.kind != '0' ? 'hide' : ''} occupation_kind_0' Должность
                label style='margin-bottom: 3px;'  class='muted occupation_kind #{nested_f.object.kind != '1' ? 'hide' : ''} occupation_kind_1' Факультет, группа
                label style='margin-bottom: 3px;'  class='muted occupation_kind #{nested_f.object.kind != '2' ? 'hide' : ''} occupation_kind_2' Класс

                = nested_f.input :description, input_html: {:class => 'input-block-level', placeholder: ''} , label: false
                span
                = nested_f.input :month_start, as: :select, collection: Occupation::MONTH, label: "Месяц начала"
                span
                = nested_f.input :year_start, as: :select, collection: Occupation::YEAR.reverse, label: "Год начала"
                span
                = nested_f.input :month_finish, as: :select, collection: Occupation::MONTH, label: "Месяц окончания"
                span
                = nested_f.input :year_finish, as: :select, collection: Occupation::YEAR.reverse, label: "Год окончания"
                span
                br
                = nested_f.link_to_remove '<span class=profile_btn> Удалить место учебы или работы</span>'.html_safe, class: 'btn btn-block'
                br
                br
            br
            = f.link_to_add "<span class=profile_btn> Добавить место учёбы или работы</span>".html_safe, :occupations, class: 'btn btn-mini btn-success', style: 'float: right'
            br
            	
            /div style='margin-top: 40px'
            / = f.input :about, input_html: {:class => 'input-block-level'}

          #privacy.tab-pane.fade.in
            h1 Приватность
            span
            = f.input :permission_send_message, as: :select, collection: {'Все'=>0,'Друзья'=>1,'Никто'=>2}, input_html: {:class => 'input-block-level'}
            span
            = f.input :permission_view_profile, as: :select, collection: {'Все'=>0,'Друзья'=>1,'Никто'=>2}, input_html: {:class => 'input-block-level'}
            span
            br
            br
            = f.input :permission_view_friends, as: :select, collection: {'Все'=>0,'Друзья'=>1,'Никто'=>2}, input_html: {:class => 'input-block-level'}
            br
            span
            = f.input :permission_view_wall, as: :select, collection: {'Все'=>0,'Друзья'=>1,'Никто'=>2}, input_html: {:class => 'input-block-level'}
            span
            = f.input :permission_view_photo, as: :select, collection: {'Все'=>0,'Друзья'=>1,'Никто'=>2}, input_html: {:class => 'input-block-level'}
            span
            = f.input :permission_view_video, as: :select, collection: {'Все'=>0,'Друзья'=>1,'Никто'=>2}, input_html: {:class => 'input-block-level'}
            span
            = f.input :permission_comment_photo, as: :select, collection: {'Все'=>0,'Друзья'=>1,'Никто'=>2}, input_html: {:class => 'input-block-level'}
            span
            br
            br
            = f.input :permission_comment_video, as: :select, collection: {'Все'=>0,'Друзья'=>1,'Никто'=>2}, input_html: {:class => 'input-block-level'}
            br
            span
            = f.input :permission_comment_wall, as: :select, collection: {'Все'=>0,'Друзья'=>1,'Никто'=>2}, input_html: {:class => 'input-block-level'}

          #about_sport.tab-pane.fade.in
            h1 Мои виды спорта
            - unless @user.users_sport_types.any?
              - @user.users_sport_types.build
            = f.simple_fields_for :users_sport_types do |nested_f|
              = nested_f.input :sport_type_id, as: :select, collection: (SportType.reorder('name desc').map{|u| [u.name,u.id]} << ["Выберите вид спорта...","all"]).reverse, data: {sport_id: "all"}, input_html: {:class => 'input-block-level', placeholder: 'Вид спорта'}, label: "Вид спорта"
              span
              = nested_f.input :level, as: :select, collection: UsersSportType::LEVELS, input_html: {:class => 'input-block-level'}, label: false, placeholder: 'Уровень', include_blank: false, label: 'Уровень'
              span
              br
              = nested_f.input :search_team, label: 'Ищу команду'
              br
              br
              = nested_f.link_to_remove '<span class=profile_btn> Удалить вид спорта </span>'.html_safe, class: 'btn'
              br
              br
            = f.link_to_add "<span class=profile_btn> Добавить вид спорта </span>".html_safe, :users_sport_types, class: 'btn btn-mini btn-success'
            span
            br
            br
            = f.input :about_sport, input_html: {:class => 'input-block-level'}, label: 'Информация о спортивных достижениях'

      br
      button.right.save Сохранить изменения
