.grpBody
  .FormBody
    #invite_to_friend_message
      =form_tag invite_to_friend_user_path,:class=>"form_invite_to"
        =email_field_tag "invite_to_friend","",:placeholder => "Почта вашего друга"
        .clearBth
        button.submit_to_invite Отправить приглашение
        / = submit_tag "Отправить приглашение", :class=>"submit_to_invite"
