- users.each do |user|
  .grpBody
    .grpImg
      a href='#{user_path user}'
        img src="#{user.avatar.small_thumb.url}"
    span id="user_block_#{user.id}"
      .postText
        h1
          a href="#{user_path user}"
            = user.fname
            '
            = user.lname
            - if user.lname.blank? && user.fname.blank?
              span.muted
                ' Неизвестный
        - unless user.id == current_user.id
            a href='/users/#{user.id.to_s}/messages'
              button Написать сообщение
            '
            - friendship = current_user.friends.where(friend_id: user.id).first_or_initialize
            - if friendship.status == 0
              - add = ''
              - remove = ''
            - elsif friendship.status > 0
              - add = 'hide'
              - remove = ''
            - else
              - add = ''
              - remove = 'hide'

            - if friendship.status == 0
              - remove_text = 'Отклонить заявку'
            - else
              - remove_text = 'Удалить из друзей'
            = link_to '/users/'+user.id.to_s+'/add_to_friends', {:remote => true, :id=>'add_to_friends_'+user.id.to_s, class: 'btn_add '+add} do
              button Добавить в друзья
            |&nbsp;
            - unless friendship.id.nil?
              = link_to '/users/'+user.id.to_s+'/remove_from_friends', {:remote => true, :id=>'add_to_friends_'+user.id.to_s, class: 'btn_remove', confirm: 'Вы уверены?'} do
                button.red = remove_text
            - if user.updated_at > 10.minutes.ago
              p.red Online

- unless users.any?
  p
    | Нет ни одного пользователя
