$('#user_block_<%= @user.id %> .btn_remove').removeClass('hide');
$('#user_block_<%= @user.id %> .btn_add').addClass('hide');
$('#user_block_<%= @user.id %> .info').html('Пользователь добавлен в друзья');