main
  section
    #tabs
      .grpFilter.friends
        - if @user.id != current_user.id
          - breadcrumb :friends, @user
          h1 Друзья
        - else
          h1 Мои друзья

        ul class="nav nav-pills"
          li.active
            a href="#friends" data-toggle="tab"
              ' Друзья
              = @friends.count
          li
            a href="#subscribes" data-toggle="tab"
              '  Подписки
              = @subscribes.count

          - if @owner
            li
              a href="#requests" data-toggle="tab"
                '  Входящие заявки
                = @requests.count
            / li
            /   a href="#deny" data-toggle="tab"
            /     '  Исходящие заявки
            /     = @deny.count
            li
              a href="#invite_to_friend_but" data-toggle="tab"
                '  Пригласить друга

      .grpBody
        .tab-content
          #friends.tab-pane.in.active
            - if @owner 
              - @requests.any?
                h5 Входящие заявки:
                = render partial: 'users/list', locals: { users: @requests }
            h5 Друзья:
            .friends
              = render partial: 'users/list', locals: { users: @friends }
          #subscribes.tab-pane.fade.in
            = render partial: 'users/list', locals: { users: @subscribes }
          - if @owner
            #requests.tab-pane.fade.in
              = render partial: 'users/list', locals: { users: @requests }
            / #deny.tab-pane.fade.in
            /   = render partial: 'users/list', locals: { users: @deny }
            #invite_to_friend_but.tab-pane.fade.in
              = render 'users/invite_to_friend'
    .search-result style="display:none;"
      h5 Результаты поиска
      .results
    javascript:
      $(".submit_to_invite").click(function(){
        params = $("#invite_to_friend").val();
        $.post($(".form_invite_to").attr("action") + "?invite_to_friend=" + params,function(data){
        });
        $("#invite_to_friend_message").append("Приглашение " + params + " отправлено</div>");
        $("#invite_to_friend").val("");
        return false;
      });
