main
  section
    .grpFilter
      - breadcrumb :message, @user
      h1 Диалог
    .grpBody
      - author = 0
      - @messages.each do |message|

        div class='message_block message_status#{message.receiver_status}' id='message_#{message.id}'

          - if author != message.sender.id
            hr size='1' style='margin: 15px 0 10px'
            .grpImg_dialog 
              a href='#{user_path message.sender}'
                img src="#{message.sender.avatar.mini_thumb.url}" style='float: left;' class='img-rounded'

            .info_dialog
              - if author != message.sender.id
                  h1
                    a href="#{user_path message.sender}"
                      = message.sender.fname
                      '
                      = message.sender.lname
              - author = message.sender.id
              p = timeago(message.created_at)


            div class='message' href='/users/#{message.receiver.id}/messages#send'
              - if can? :destroy, message
                div style='float: right; margin: 0 0 5px 5px;' class='destroy_message'
                  = link_to '<i class="icon-remove" style="opacity: 0.5;"></i>'.html_safe, message, :confirm => 'Вы уверены, что хотите удалить это сообщение?', :method => :delete

              = simple_format CGI::escapeHTML(message.content)


            div style='clear: both;'
            - if message.receiver_status == 0 && message.receiver_id == current_user.id
              - message.receiver_status = 1
              - message.save

      - unless @messages.any?
        p Нет ни одного сообщения


      hr size='1' style='margin: 15px 0 10px'

      div style='margin-left: 50px; margin-right: 150px;'
        h5#send style='margin-top: 2em;' Отправить сообщение:
        br
        - message = Message.new
        - message.receiver_id = @user.id


      a href='#{user_path current_user}'
        img src="#{current_user.avatar.mini_thumb.url}" style='float: left;' class='img-rounded'

      div style='margin-left: 50px; margin-right: 150px;'

        = simple_form_for message do |f|

          = f.input :receiver_id, as: :hidden
          = f.input :content, input_html: {:class => 'input-block-level', style: 'height: 8em'}, label: false
          br
          button Отправить
