$('#user_block_<%= @user.id %> .btn_remove').addClass('hide');
$('#user_block_<%= @user.id %> .btn_add').removeClass('hide');
$('#user_block_<%= @user.id %> .info').html('Пользователь удалён из друзей');