$('#friends .friends').html('<%= render partial: 'users/list', locals: { users: @custom_friends } %>');
<% if @found_users.size > 0 %>
    $('.search-result').show();
    $('.search-result .results').html('<%= render partial: 'users/list', locals: { users: @found_users } %>');
<% else %>
    $('.search-result').hide();
<% end %>
console.log(<%= @custom_friends.size %>);
console.log(<%= @found_users.size %>);