main
  section
    -user = current_user

    header style="background: url(#{@user.cover_page.url}) no-repeat;"
      .headTitle
        - if @user.avatar.url
          img alt="" src=@user.avatar.big_thumb.url class="img-rounded"
        h1
          = @user.try(:fname)
          |&nbsp;
          - unless @user.nickname.blank?
            = "(#{@user.nickname})"
          |&nbsp;
          = @user.try(:lname)
        - if current_user.id == params[:id].to_i
          div style="height:0px;overflow:hidden"
            = form_for @user, html:{ id: "coverImageForm" } do |f|
              = f.file_field :cover_page, class: "coverImage"
              = hidden_field_tag "redirect_to", "show"
          button onclick="chooseFile();" type="button" id="page_cover_button"  Изменить обложку
        - friend = User.find(params[:id])
        span id="user_block_#{friend.id}" style="float: right; margin-right: 5px; margin-top: 5px;"
          - unless friend.id == current_user.id
              - friendship = current_user.friends.where(friend_id: friend.id).first_or_initialize
              - if friendship.status == 0
                - add = ''
                - remove = ''
              - elsif friendship.status > 0
                - add = 'hide'
                - remove = ''
              - else
                - add = ''
                - remove = 'hide'
              - if friendship.status == 0
                - remove_text = 'Отклонить заявку'
              - else
                - remove_text = 'Удалить из друзей'
              = link_to '/users/'+friend.id.to_s+'/add_to_friends', {:remote => true, :id=>'add_to_friends_'+friend.id.to_s, class: 'btn_add '+add} do
                button Добавить в друзья
              |&nbsp;
              - unless friendship.id.nil?
                = link_to '/users/'+friend.id.to_s+'/remove_from_friends', {:remote => true, :id=>'add_to_friends_'+friend.id.to_s, class: 'btn_remove', confirm: 'Вы уверены?'} do
                  button.red = remove_text
              a href='/users/#{friend.id.to_s}/messages'
                button Написать сообщение

    - unless @user.id == current_user.id
      .photos
        a class="hoverbtn" href="/users/#{@user.id}/photoalbums" Фотографии
        a class="hoverbtn" href="/users/#{@user.id}/videoalbums" Видео
        a class="hoverbtn" href="/users/#{@user.id}/friends" Друзья 
        a class="hoverbtn" href="/users/#{@user.id}/friends" Группы
        a class="hoverbtn" href="/users/#{@user.id}/friends" Команды
      
    = render partial: 'comments/form2', locals: { model: @user, limit: 30, reverse: true }
