
<div id="auth_block" style="width: 500px">
  <%= bootstrap_flash %>
  <%= devise_error_messages! %>
  <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put}) do |f| %>

      <div class="auth_window">

        <div class="wrapper">

          <h2 style="text-align: left">Изменение пароля</h2>

          <div style="width: 49%; float: left;">
            <%= f.input :password, :required => true, :class => 'input-block-level' %>
          </div>
          <div style="margin-left: 51%;">
            <%= f.input :password_confirmation, :required => true, :class => 'input-block-level' %>
          </div>

          <%= f.hidden_field :reset_password_token %>



          <div style="clear: both"></div>
            <%= f.submit 'Изменить пароль', :class => 'btn btn-block btn-warning' %>

          <div style="clear: both"></div>


        </div>
        <!--div class="auth_footer">
          <%= render "devise/shared/links" %>
        </div-->

      </div>
  <% end %>
</div>






