<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post}) do |f| %>
  <div class="main_with_auth_title">
    <h1>
      Восстановление пароля
    </h1>
  </div>
  <div class="main_with_auth">
    <div class="main_with_FormBody">
      <%= f.input :email, :required => true, input_html: { :class => 'input-block-level' } %>
      <div class="clearBth"></div>

        <label></label>
        <button class="new">Восстановить</button>
        <div class="clearBth"></div>


        </div>
  </div>
<% end %>
