p.modal_nav
  - unless @video.prev_video.nil?
    a href="#{@user ? '/users/'+@user.id.to_s : (@community ? '/communities/'+ @community.id.to_s : (@event ? '/events/'+ @event.id.to_s : (@sport_event ? '/sport_events/'+ @sport_event.id.to_s : '/spots/'+ @spot.id.to_s))) }/videoalbums/#{@videoalbum.id}/videos/#{@video.prev_video.id}" class='modal_link2' onclick="$('#modal .modal-body').load($(this).attr('href')+'?modal=true');$('#modal').modal();$('#modal_container').show();$('#modal_container').css('height', $('body').height()+'px'); return false;"
      | &larr;
  - else
    | &larr;
  | &nbsp;
  - unless @video.next_video.nil?
    a href="#{@user ? '/users/'+@user.id.to_s : (@community ? '/communities/'+ @community.id.to_s : (@event ? '/events/'+ @event.id.to_s : (@sport_event ? '/sport_events/'+ @sport_event.id.to_s : (@ad ? '/ads/'+ @ad.id.to_s : '/spots/'+ @spot.id.to_s)))) }/videoalbums/#{@videoalbum.id}/videos/#{@video.next_video.id}" class='modal_link2' onclick="$('#modal .modal-body').load($(this).attr('href')+'?modal=true');$('#modal').modal();$('#modal_container').show();$('#modal_container').css('height', $('body').height()+'px'); return false;"
      | &rarr;
  - else
    | &rarr;

div style='text-align: center;'
  == @video.video_frame
br
h1
  ' Комментарии
  div
    a href='#' class="fa fa-heart like-action" likeable-id="#{@video.id}" likeable-type="Video"
    span.like-count
      - likes_cnt = @video.likes.count
      = likes_cnt unless likes_cnt == 0
    a href='#' class="fa fa-retweet retweet-action" retweetable-id="#{@video.id}" retweetable-type="Video"
    span.retweet-count
      - retweets_cnt = Comment.where(retweetable_type: 'Video', retweetable_id: @video.id).count
      = retweets_cnt unless retweets_cnt == 0

div id='comments_#{@video.class}_#{@video.id}'
  = render partial: 'comments/list2', locals: { comments: @video.comments }

- new_comment = Comment.new
- new_comment.commentable_id = @video.id
- new_comment.commentable_type = @video.class
br
= simple_form_for new_comment, :remote => true do |f|

  = f.input :commentable_id, as: :hidden
  = f.input :commentable_type, as: :hidden
  = f.input :content, input_html: {:class => 'comment_content_input input-block-level', style: 'height: 8em'}, label: false
  br
  button Отправить
