.grpBody
  .FormBody

    = simple_nested_form_for @event do |f|
      = f.input :name
      span
      - unless @event.id.present?
        = f.input :kind, collection: Event::KINDS, as: :select, required: true, input_html: {:class => 'input-block-level'}, :selected => params[:kind]
        span
        = f.input :date, required: true, as: :string, input_html: { class: 'datepicker' }
        / = f.input :date, required: true, start_year: 2013, end_year: Date.today.year + 4
      span
      - unless @event.id.present?
        = f.input :invite_team1_id, as: :select, collection: Team.all, label: 'Выберите первую команду', :include_blank => true, input_html: {:class => 'chosen-select', style: 'width: 100%', 'data-placeholder'=>'Выберите команду'}, :selected => params[:invite_team1_id]
        span
        = f.input :invite_team2_id, as: :select, collection: Team.all, label: 'Выберите вторую команду', :include_blank => true, input_html: {:class => 'chosen-select', style: 'width: 100%', 'data-placeholder'=>'Выберите команду'}
        span
      = f.input :description, input_html: {:class => 'input-block-level'}
      span
      - if @event.date && @event.date < Time.now
        = f.input :result, input_html: {:class => 'input-block-level'}
        span
      = f.input :place_id, as: :select, collection: Place.ordering, :include_blank => true
      span
      br
      button.new Сохранить изменения
