main
  section
    .grpFilter

      h1 Мероприятия
      / = text_field_tag 'start_date_event', nil, "type" => "date", class:'input-block-level', data: {date_event: "all"}, placeholder: 'Дата начала'
      = text_field_tag 'start_date_event', nil, class: 'datepicker',  placeholder: 'Дата начала', data: {date_event: "all"}
      span
      = select_tag(:place_id_event,options_for_select( (Place.all.map{|u| [u.name,u.id]} << ["Место проведения","all"]).reverse),class: "place_select",data: {place_id: "all"})
      span

      - if can? :create, Event
        = link_to new_event_path do
          button Новое мероприятие
        span
        = link_to my_events_path do
          button Мои мероприятия
        span
        = link_to search_events_path do
          button Искать мероприятие
    .grpHeader
    = render partial: 'events/list', locals: {:events=>@events}
