main
  section
    .grpFilter
      h1 Мероприятия с моим участием
      = text_field_tag 'start_date_event', nil, class:'datepicker', data: {date_event: "all"}, placeholder: 'Дата начала'
      span
      = select_tag(:place_id_event,options_for_select( (Place.all.map{|u| [u.name,u.id]} << ["Место проведения","all"]).reverse),class: "place_select",data: {place_id: "all"})
    = render partial: 'events/list', locals: {:events=>@events}
