- if @events.count > 0
  .grpHeader
    h1
      | Найденные мероприятия
.event_all
  - @events.each do |obj|
    .postText
      .grpBody

          div.date_event
            ' Дата мероприятия:
            span
              = obj.date.strftime('%d.%m.%y в %H:%M')
            - deadline = deadline(obj.date)
            - unless deadline.empty?
              span
              img src="/img/date.png" alt="" style='margin-right: 5px;'
              span
              b
                = deadline(obj.date)
            - else
              '  (мероприятие уже состоялось)
          br
          h1
            a href='#{event_path obj}' = obj.name
          p = truncate obj.description, length: 300
          br

          - if obj.date < Time.now && obj.result && obj.result.strip != ''
            div style="margin:0 0 5px 0;"
              strong Результат:&nbsp;
              = obj.result


          .btn-group style="float: right;"
            - if can? :update, obj
              = link_to edit_event_path(obj) do
                span
                  b Редактировать
            - if can? :destroy, obj
              = link_to obj, :confirm => 'Вы уверены?', :method => :delete do
                span
                  b Удалить
          - unless obj.place.nil?
            span.badge-success.badge = obj.place.fullname
            |  &nbsp;
          - unless obj.kind.nil?
            span.badge-info.badge = Event::KINDS.invert[obj.kind]
          a href='#{event_path obj}'
            span
              b
                |(
                = obj.comments.count.to_s + ' ' + Russian::p(obj.comments.count,'комментарий','комментария','комментариев')
                |)
