main
  section
    .grpFilter
      h1 = @event.name

    .grpBody
      .btn-group style="float: right;"
        - if can? :update, @event
          = link_to '<i class="icon-pencil"></i>'.html_safe, edit_event_path(@event), class: 'btn btn-mini'
        - if can? :destroy, @event
          = link_to '<i class="icon-remove"></i>'.html_safe, @event, :confirm => 'Вы уверены?', :method => :delete, class: 'btn btn-mini'

      div.greattext
        - info = []
        - unless @event.kind.nil?
          - info << Event::KINDS.invert[@event.kind]
        - unless @event.place.nil?
          - info << @event.place.name
        - unless info.empty?
          p
            = info.join('. ')
            ' .
        p
          |Дата мероприятия:&nbsp;
          = @event.date.strftime('%d.%m.%y в %H:%M')
        - deadline = deadline(@event.date)
        - unless deadline.empty?
          b
            = deadline(@event.date)

      div.accepted_teams
        - if @event.kind == 1
          h4 Команда, участвующая в мероприятии:
        - if @event.kind == 2
          h4 Команды, участвующие в мероприятии:
        - if @event.team1_id || @event.team2_id
          - if @event.team1_id
            .span4
              = link_to Team.find(@event.team1_id).name, Team.find(@event.team1_id)
              span.muted
                '   – команда подтвердила участие
              - accepted_members = @event.accepted_members(@event.team1_id)
              - n = 0
              - accepted_members.each do |user|
                - n = n+1
                div
                  div.subscribes style='float: left; margin: 0 0.08% 0.16%; #{n>30 ? 'display:none' : ''}'
                    a.has-tooltip href='#{user_path user}'
                      img src="#{user.avatar.small_thumb.url}" class='img-rounded has-tooltip' title="#{user.name}" data-toggle="tooltip" data-placement='bottom' style="height:30px;"
                    span
                      = user.name
                  div style='clear:both; height: 6px;'
            - if @event.team2_id
              .span4
                = link_to Team.find(@event.team2_id).name, Team.find(@event.team1_id)
                span.muted
                  '   – команда подтвердила участие
                - accepted_members = @event.accepted_members(@event.team2_id)
                - n = 0
                - accepted_members.each do |user|
                  - n = n+1
                  div
                    div.subscribes style='float: left; margin: 0 0.08% 0.16%; #{n>30 ? 'display:none' : ''}'
                      a.has-tooltip href='#{user_path user}'
                        img src="#{user.avatar.small_thumb.url}" class='img-rounded has-tooltip' title="#{user.name}" data-toggle="tooltip" data-placement='bottom' style="height:30px;"
                        span
                          = user.name
          - if @invites.size > 0
            - @invites.each do |invite|
              .span4
                = link_to Team.find(invite.community_id).name, Team.find(invite.community_id)
                span.muted
                  '   – команда приглашена
        div
          - if @event.user_can_accept_as_team_member(current_user)
            - if @event.has_accepted_team_member(current_user)
              = link_to 'Не буду участвовать', decline_member_event_path(@event.id), class: 'btn btn-mini'
            - else
              = link_to 'Буду участвовать', accept_member_event_path(@event.id), class: 'btn btn-mini btn-success'

        div.row
          h5
            = RuPropisju.propisju_shtuk(@subscribes.count, 1, ['болельшик','болельщика','болельщиков']).mb_chars.capitalize.to_s

          - n = 0
          - @subscribes.each do |subscribe|
            - n = n+1
            - user = User.find(subscribe.user_id)
            div.subscribes.img_spots style='#{n>30 ? 'display:none' : ''}'
              a.has-tooltip href='#{user_path user}'
                img src="#{user.avatar.small_thumb.url}" class='img-rounded has-tooltip' title="#{user.name}" data-toggle="tooltip" data-placement='bottom'
          .clearBth
          - if current_user.event_subscribes.where(:event_id => @event.id).present?
            button.red = link_to 'Не буду болельщиком', unsubscribe_event_path(@event.id), style: 'color: #fff; font-size: 11px;'
          - else
            button.green = link_to 'Буду болельщиком', subscribe_event_path(@event.id), style: 'color: #fff; font-size: 11px;'
          - if n > 30
            a href='#' onclick='$(this).hide(); $(".subscribes").show(); return false;' class='btn btn-mini pull-right' Показать всех

      .row
        .span4
          h5
            a href='/events/#{@event.id.to_s}/photoalbums/'
              ' Фотографии
          div style='clear: both'
          - if @event.photoalbums.any?



            - i = 5
            - @event.photoalbums.each do |photoalbum|
              - if i > 0
                - photoalbum.photos.limit(i).each do |photo|
                  div.img_spots
                    a href="/communities/#{@event.id}/photoalbums/#{photo.photoalbum_id}/photos/#{photo.id}" class='modal_link'
                      img src="#{photo.photo.thumb.url}"
                  - i=i-1
          - else
            p.muted Фотографий пока нет


        .span4
          h5
            a href='/events/#{@event.id.to_s}/videoalbums/'
              ' Видео
          div style='clear: both'
          - if @event.videoalbums.any?
            - i = 2
            - @event.videoalbums.each do |videoalbum|
              - if i > 0
                - videoalbum.videos.limit(i).each do |video|
                  div style='width: 49%; margin: 0 1% 10px 0; float: left;'
                    a href="/events/#{@event.id}/videoalbums/#{video.videoalbum_id}/videos/#{video.id}" class='modal_link'
                      img class="img-rounded" src="#{video.thumb}"
                  - i=i-1

            div style='clear: both'
          - if !@event.videoalbums.any? || i==2
            p.muted Видео пока нет
      .clearBth
      div
        p = @event.description.html_safe

        - if @event.date < Time.now && @event.result && @event.result.strip != ''
          p
            |Результат:&nbsp;
            = @event.result

    = render partial: 'comments/form2', locals: { model: @event, reverse: true, limit: 30}
