<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <div class="bg_letter" style="background: url('http://playtoget.com/img/bg_letter1.jpg');width: 98%;font-size:12pt;color: white;line-height: 24px;padding:0 1%">
    <h2 style="line-height:29px;text-align: center">Ваш друг <%=@user.name%> приглашает Вас на сайт playtoget.com</h2>
    <p>Ваш логин:</p>
    <p><%=@user_new.email%></p>
    <p>Ваш пароль:</p>
    <p><%=@user_new.password%></p>
    <br>
    <p>Сайт playtoget.com это сайт Играем Вместе - это интернет проект сочетающий в себе основные функции социальной сети, но направленный исключительно на общение людей имеющих общий интерес связанный со спортом и поддержанием здорового образа жизни.</p>
    <p>
       Мы предлагаем вам отдельную интернет площадку на которой вы сможете удовлетворить уже имеющиеся потребности или же найти для себя что-то совершенно новое.
    </p>
    <p>
       Основной принцип нашей работы - это полноценное адаптированнее сайта под задачи пользователей. Поэтому на данном этапе мы запустили первую версию, которая не перенасыщена функционалом. Только после получения обратной связи от пользователей мы сможем реализовать действительно удобный и нужный социальный проект.</p>
    <p>Пользователь <b><%=@user.fname%> <%=@user.lname%></b> хочет пригласить Вас в друзья для того что бы подтвердить добавление вам нужно перейти на сайт <a href=http://playtoget.com/>http://playtoget.com/</a> и подтвердитьдобавление</p>
    <br>
    <hr>
    <br>
    <p>С уважением, Администрация сайта PlayToGet.com
    Спасибо что пользуетесь нашим сервисом</p>
    <br>
    </div>
    <div class="header_letter"><img src="http://playtoget.com/img/upbgletter.jpg" style="width: 100%"></div>
  </body>
</html>

