<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="bg_letter" style="background: url('http://playtoget.com/img/bg_letter1.jpg');width: 98%;font-size:12pt;color: white;line-height: 24px;padding:0 1%">
    <br>
    <%= @message.first.html_safe%>
    <br>
    </div>
  </body>
</html>

