h1 Заявки на вступление в команду #{link_to @community.name, @community}


- @requests.each do |request|
  .row
    .span5
      .user
        - user = request.user
        a href="#{user_path user}" style="font-size: 12px; display: block;"
          img.img-rounded src="#{user.avatar.mini_thumb.url}" style='float: left; margin-right: 7px;'
          strong
            = user.name

    .span3
      .btn-group.pull-right
        = link_to 'Принять заявку', add_member_request_path(request.id), class: 'btn btn-mini btn-success'
        = link_to 'Отказаться', destroy_member_request_path(request.id), class: 'btn btn-mini'

  hr