DOCTYPE html
html
  head
    meta content='text/html; charset=UTF-8' http-equiv='Content-Type'

  body
    div style='padding:10px; width:100%;'
      h1 style='width:100%; padding:20px 20px; font-family: "Trebuchet MS", "Verdana", "Arial", sans-serif; color: #fff; background-color: rgb(184, 217, 255);' Оповещения PlayTogether:
      p style='padding:10px 20px; font-family: "Trebuchet MS", "Verdana", "Arial", sans-serif; font-size:16px;'
        ' Обратная связь PlayTogether
      p style='padding:0 20px; font-family: "Trebuchet MS", "Verdana", "Arial", sans-serif; font-size:16px;'
        ' Email:
        = @user_email
      p style='padding:0 20px; font-family: "Trebuchet MS", "Verdana", "Arial", sans-serif; font-size:16px;'
        ' Текст:
        = @text