h1 Создание рассылки

= simple_form_for :notifies, :url => "/notifies/create/#{@community.id}" do |f|
  = f.input :text, as: :text, input_html: {:class => 'input-block-level'}, label: 'Текст'

  table.table
    - @members.each do |member|
      tr
        td
          strong
            = member.name
        td.operations
          input class="check_boxes" name="notifies[members][]" type="checkbox" value="#{member.id}"

  p style='text-align: right'
      = f.submit 'Отправить', class: 'btn btn.lg btn-primary'