<% if user_signed_in? %>
  <main>
    <section>
      <div class="grpFilter statis">
        <h1>
          <% if is_english %>
              Service
          <% else %>
              О сервисе
          <% end %>
        </h1>
      </div>
      <div class="grpBody">
          <%= KeyValue.where(key: 'О сервисе').first_or_initialize.value.html_safe %>
      </div>
    </section>
  </main>
<% else %>
      <div class="main_with_auth_title">
        <h1>
          <% if is_english %>
              Service
          <% else %>
              О сервисе
          <% end %>
        </h1>
      </div>
      <div class="main_with_auth">
          <%= KeyValue.where(key: 'О сервисе').first_or_initialize.value.html_safe %>
      </div>
<% end %>
