<% if user_signed_in? %>
<main>
  <section>
    <div class="grpFilter">
      <h1> Рекламодателям</h1>
    </div>
    <div class="grpBody">
      <%= KeyValue.where(key: 'Рекламодателям').first_or_initialize.value.html_safe %>
    </div>
  </section>
</main>
<% else %>
  <div class="main_with_auth_title">
    <h1> Рекламодателям</h1>
  </div>
  <div class="main_with_auth">
    <%= KeyValue.where(key: 'Рекламодателям').first_or_initialize.value.html_safe %>
  </div>
<% end %>
