<% if user_signed_in? %>
  <main>
    <section>
      <div class="grpFilter">
        <h1>
          <% if is_english %>
              Ability
          <% else %>
              Возможности
          <% end %>
        </h1>
      </div>
      <div class="grpBody">
        <%= KeyValue.where(key: 'Возможности').first_or_initialize.value.html_safe %>
        <br>
        <div class="modal_body" style='text-align: center;'>
          <% if strip_tags(KeyValue.where(key: 'Видео').first_or_initialize.value)%>
            <iframe width="640" height="360" src="//www.youtube.com/embed/<%= strip_tags(KeyValue.where(key: 'Видео').first_or_initialize.value).strip %>" frameborder="0" allowfullscreen></iframe>
          <% end %>
        </div>
      </div>
    </section>
  </main>
<% else %>
  <div class="main_with_auth_title">
    <h1>
      <% if is_english %>
          Ability
      <% else %>
          Возможности
      <% end %>
    </h1>
  </div>
  <div class="main_with_auth">
    <%= KeyValue.where(key: 'Возможности').first_or_initialize.value.html_safe %>
    <br>
    <div class="modal_body" style='text-align: center;'>
      <% if strip_tags(KeyValue.where(key: 'Видео').first_or_initialize.value)%>
        <iframe width="640" height="360" src="//www.youtube.com/embed/<%= strip_tags(KeyValue.where(key: 'Видео').first_or_initialize.value).strip %>" frameborder="0" allowfullscreen></iframe>
      <% end %>
    </div>
  </div>
<% end %>
