
<script>
    $(document).ready(function() {
      $('#slides').slidesjs({
        width: 1170,
        height: 490,
        play: {
          active: true,
          auto: true,
          interval: 4000,
          swap: true,
          pauseOnHover: true,
          restartDelay: 2500
        }
      });
    });
</script>

<div id="slides" style="display:none;">
  <%Photoalbum.find_by_photoalbumable_type("Slider").photos.each do |photo|%>
  <%=image_tag photo.photo%>
  <%end%>
</div>
