<div class="main_with_auth_title">
  <h1>Правила пользования сайтом Playtogether</h1>
</div>
<div class="main_with_auth">
  <%= KeyValue.where(key: 'Правила пользования сайтом Playtogether').first_or_initialize.value.html_safe %>
</div>
