= simple_form_for [@advert] do |f|
  = f.input :html, as: :text, input_html: {:class => 'input-block-level'}, label: 'HTML'
  p style='text-align: right'
    = f.submit 'Отправить', class: 'btn btn.lg btn-primary'