  <% if params[:modal] %>
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>


        <h2>Вход</h2>


        <div style="width: 49%; float: left;">
          <%= f.input :email, :autofocus => true, :required => true, input_html: {:class => 'input-block-level'} %>
        </div>
        <div style="width: 49%; margin-left: 51%;">
          <%= f.input :password, :required => true, input_html: {:class => 'input-block-level'} %>
        </div>

        <div style="clear: both"></div>



        <div style="width: 49%; float: left;">
          <% if devise_mapping.rememberable? -%>
              <div style="padding-top: 5px;">
                <div class="checkbox">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me, style: 'line-height: 22px; margin-left: -2px; color: #666' %>
                </div>
              </div>
          <% end -%>
        </div>
        <div style="width: 49%; margin-left: 51%;">
          <%= f.submit "Войти", :class => 'btn btn-primary btn-block' %>
        </div>

        <div style="clear: both"></div>


        <div class="auth_helpers">
          <%= render "devise/shared/links" %>
        </div>

    <% end %>
  <% else %>
    <div class="videoBox">
        <video class="video" autoplay loop muted>
            <source src="/uploads/video/bg.mp4" type="video/mp4">
        </video>
    </div>

    <div class="substrate"></div>
    <nav>
    </nav>

    <div class="containerRegistr">
        <ul>
            <li>
              <a href="/features">
                <% if is_english %>
                    Features
                <% else %>
                    Возможности
                <% end %>
              </a>
            </li>
            <li><a href="/about">
              <% if is_english %>
                  About
                <% else %>
                  О сервисе
                <% end %></a></li>
            <li><a href="/advert">
              <% if is_english %>
                Advertising
              <% else %>
                Реклама на сайте
              <% end %>
            </a></li>
        </ul>

        <div class="logoInCenter">
            <a href="/">
                <div class="logoIco"><i>L</i></div>
                <p>Playtogheter</p>
            </a>

        </div>

        <div class="mainRegistr">
           <section>
               <h1>Спорт внутри!</h1>
               <p>
                   Теперь вам не придется переворачивать весь интернет с ног на голову в поисках спортивных площадок и единомышленников.
                   Будьте на связи с друзьями и другими пользователями. Получайте моментальные обновления о вещах, которые вас интересуют.
                   И следите за событиями, разворачивающимися в реальном времени.
               </p>
               <div class="cont">
                   <a href="/registration"><button>Присоединиться</button></a><span>Нас уже <b><%= User.count %></b> человек</span>
               </div>

           </section>
           <%= form_for(:user, :url => session_path(:user), :html => { class: 'registrationForm' }) do |f| %>
            <p> Вход с паролем: </p>
            <% flash.each do |key, value| %>
              <div><%= value %></div>
              <br>
            <% end %>
            <label class="full"><%= f.text_field :email, placeholder: "Логин" %></label>
            <label class="full"><%= f.password_field :password, placeholder: "Пароль" %></label>
            <label><%= f.check_box :remember_me %>
            <%= f.label :remember_me %></label>
            <%= link_to "Забыли пароль?", new_password_path(:user) %>
            <br><button> Войти </button><span class="orRegistr">или<a href="/registration">Зарегистрироваться</a></span>
          <% end %>
        </div>

        <footer>

            <p>© 2013−2015 © PlayTogether: Спорт внутри!</p>
            <ul class="footerMenu">
            <li><a href="/about">
              <% if is_english %>
                  About
                <% else %>
                  О сервисе
                <% end %></a></li>
            <li>
              <a href="/features">
                <% if is_english %>
                    Features
                <% else %>
                    Возможности
                <% end %>
              </a>
            </li>
            <li><a href="/advert">
              <% if is_english %>
                Advertising
              <% else %>
                Реклама на сайте
              <% end %>
            </a></li>
            </ul>

          <ul class="nomargin">
                <li><a href="#" id="vk"></a></li>
                <li><a href="#" id="youtube"></a></li>
                <li><a href="#" id="twitter"></a></li>
                <li><a href="#" id="facebook"></a></li>
            </ul>

        </footer>
    </div>

    <script type="text/javascript">
      coverVid(document.querySelector('.video'), 1920, 1080);
    </script>
  <% end %>
