p.modal_nav
  - unless @photo.prev_photo.nil?
    a href="#{@user ? '/users/'+@user.id.to_s : (@community ? '/communities/'+ @community.id.to_s : (@event ? '/events/'+ @event.id.to_s : (@sport_event ? '/sport_events/'+ @sport_event.id.to_s : (@ad ? '/ads/'+ @ad.id.to_s : '/spots/'+ @spot.id.to_s)))) }/photoalbums/#{@photoalbum.id}/photos/#{@photo.prev_photo.id}" class='modal_link' onclick="$('#modal .modal-body').load($(this).attr('href')+'?modal=true');$('#modal').modal();$('#modal_container').show();$('#modal_container').css('height', $('body').height()+'px'); return false;"
      | &larr;
  - else
    | &larr;
  | &nbsp;
  - unless @photo.next_photo.nil?
    a href="#{@user ? '/users/'+@user.id.to_s : (@community ? '/communities/'+ @community.id.to_s : (@event ? '/events/'+ @event.id.to_s : (@sport_event ? '/sport_events/'+ @sport_event.id.to_s : (@ad ? '/ads/'+ @ad.id.to_s : '/spots/'+ @spot.id.to_s)))) }/photoalbums/#{@photoalbum.id}/photos/#{@photo.next_photo.id}" class='modal_link' onclick="$('#modal .modal-body').load($(this).attr('href')+'?modal=true');$('#modal').modal();$('#modal_container').show();$('#modal_container').css('height', $('body').height()+'px'); return false;"
      | &rarr;
  - else
    | &rarr;

div style='text-align: center;'
  - unless @photo.next_photo.nil?
    a href="#{@user ? '/users/'+@user.id.to_s : (@community ? '/communities/'+ @community.id.to_s : (@event ? '/events/'+ @event.id.to_s : (@sport_event ? '/sport_events/'+ @sport_event.id.to_s : (@ad ? '/ads/'+ @ad.id.to_s : '/spots/'+ @spot.id.to_s)))) }/photoalbums/#{@photoalbum.id}/photos/#{@photo.next_photo.id}" class='modal_link' onclick="$('#modal .modal-body').load($(this).attr('href')+'?modal=true');$('#modal').modal();$('#modal_container').show();$('#modal_container').css('height', $('body').height()+'px'); return false;"
      img src='#{@photo.photo.url}'
  - else
    img src='#{@photo.photo.url}'


h5
  ' Комментарии
  div style='float:right;'
    a href='#' class="fa fa-heart like-action" likeable-id="#{@photo.id}" likeable-type="Photo"
    span.like-count
      - likes_cnt = @photo.likes.count
      = likes_cnt unless likes_cnt == 0
    a href='#' class="fa fa-retweet retweet-action" retweetable-id="#{@photo.id}" retweetable-type="Photo"
    span.retweet-count
      - retweets_cnt = Comment.where(retweetable_type: 'Photo', retweetable_id: @photo.id).count
      = retweets_cnt unless retweets_cnt == 0

div id='comments_#{@photo.class}_#{@photo.id}'
  = render partial: 'comments/list', locals: { comments: @photo.comments }

- new_comment = Comment.new
- new_comment.commentable_id = @photo.id
- new_comment.commentable_type = 'Photo'
= simple_form_for new_comment, :remote => true do |f|

  = f.input :commentable_id, as: :hidden
  = f.input :commentable_type, as: :hidden
  = f.input :content, input_html: {:class => 'input-block-level comment_content_input', style: 'height: 8em'}, label: false

  = f.submit 'Отправить', :class => 'btn btn-primary', style: 'margin-top: 3px'



