= simple_nested_form_for [:admin, @sport_type] do |f|
  == render partial: 'admin/common/error', locals: { resource: @sport_type }

  = f.input :name, input_html: {:class => 'form-control'}, label:'Название'
  = f.input :parent_id, :collection => nested_set_options(SportType) {|i| "#{'-' * i.level} #{i.name}" }, input_html: {:class => 'form-control chosen-select', 'data-placeholder' => ' '}, label: 'Родительский элемент'

  p style='margin: 20px 0 0 0'
    = f.submit 'Сохранить', class: 'btn btn.lg btn-primary'

