div.node id="node_#{sport_type.id}"
  div.node_expander
    - if sport_type.leaf?
      i.fa.fa-circle
    - else
      i.fa.fa-plus-circle
  div.node_before
  div.node_container
    .node_operations style='float: right'
      = link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_sport_type_path(sport_type)
      = link_to '<i class="fa fa-times"></i>'.html_safe, admin_sport_type_path(sport_type), data: {:confirm => 'Вы уверены?'}, :method => :delete
    = sport_type.name

  div.node_children
  div.node_after