= link_to 'Создать', new_admin_sport_type_path, class: 'btn btn-primary', style: 'float: right'
h1 Спорт
div style="background-color: #FFCB48; padding:10px; border-radius:6px; color:white;"
  ' На втором уровне виды спорта, далее - амплуа

div style='padding: 10px 0;'
  .btn-group.pull-right
    a.btn.btn-info.btn-fa.btn-xs.expand_all
      .fa.fa-expand
      ' Раскрыть все
    a.btn.btn-info.btn-fa.btn-xs.collapse_all
      .fa.fa-compress
      ' Свернуть все
  div style='clear: both;'

.node_tree#sport_types
  - @sport_types.each do |sport_type|
    = render partial: 'node', locals: { sport_type: sport_type }
