.container_header{
		max-width: 1255px;
		margin: auto;
		height: 65px;
}
.menu{
     	float: right;

}
.menu ul{
            display: inline-block;
            position: relative;
            margin-top:51px;

}
.menu ul li{
            line-height: 2;
            list-style: none;
			padding-right: 37px;
}
a {
            color: #acacac;
            font-size: 13px;
			text-decoration: none;
}

.header-right{
            float: right;
}
.header-right > img{
  float: left;
  margin-top: 7px;
	margin-right: -24px;
	margin-left: 15px;
	border-radius: 20px;
}
.header-right i{
			margin: 0;
			padding: 8px;
			font-size: 15px;
			color: #5892C7;
			margin: 0px 0px 0px 8px;
}
.activ i{
			color: #ffc400;
}
.header-right i:hover{
			color: #ffc400;
}
.header-right ul li{
            display: inline-block;
            padding-left: 0px;
            margin-top: 14px;
}
.header-right ul{
			margin-left: 73px;
}
.header-right span {
			position: absolute;
}
.search{
            float: left;
	position: relative;
}
.search input{
	font-weight: 700;
  width: 381px;
  height: 45px;
  background-color: #252629;
  color: rgba(255, 255, 255, 0.3);
  border: none;
  padding-left: 21px;
	margin-bottom: 20px;
  border-radius: 3px;
  font-family: Tahoma, sans-serif;
	-webkit-appearance: none;
}

@media screen and (max-width: 960px) {

    .searchActive input, .search input {
        width: 260px;
    }
}
.logo img{
			position: absolute;
			margin-top: -16px;
			/* margin-left: 33px; */
}
.logo-text{
			margin-left: 50px;
			font-weight: 700;

}
.logo{
			margin-left: 0px;
}
.logo h1 {
            font-family: Tahoma;
            font-size: 13px;
            color: #ffffff;
            margin-top: 17px;
            float: left;
			margin-left: 0;
			margin-right: 25px
}
.clear
{
    		clear: both;
    		width: 100%;
    		height: 2px;
}
 i{
			font-family: 'project';
	    	font-size: 25px;

			text-decoration: none;


}


.active, .menu a:hover {
			color: #19c4ff;

}

.active i
{
			border:2px solid #19c4ff;
}

.icon-house1{
			border: solid #acacac;
			border-radius: 4px;
			padding: 9px;
			line-height: 1;
}
.ico-hous{
			margin-left: -14px;
			margin-right:9px ;
}
.icon-1 {
			font-size: 45px;
			color: #007bb6;
			background: #ffffff;
			border-radius: 4px;
			padding: 0;
}
.logo h1 a{
			color: #fff;
}
.logo h1 span {
			margin-right: 21px;
}
.ico-nav{
			position: absolute;
			margin-left: -44px;
}
.menu ul li a span{
			line-height: 4;
}
.ico_nav{
			position: absolute;
			margin-left: -57px;
}
.menu a i:hover{
			border-color: 2px solid #19c4ff;
}
.container > nav
{
    margin-top: 30px;
}
/* ------------------------------------------------------------------- */

/*@media screen and (max-width: 1366px)
{
    .logo h1
    {
      margin-left: 8.4%;
    }
}
@media screen and (max-width: 1280px)
{
    .logo h1
    {
      margin-left: 5.4%;
    }
}
@media screen and (max-width: 1152px)
{
    .logo h1
    {
      margin-left: 0;
    }
    .container > nav
    {
      width: 50px;
      height: 100vh;
      display: inline-block;
      margin: 0 -1px;
      vertical-align: top;
      margin-left: 26px;
      padding-left: 5%;
    }
    .leftMenu li a span
    {
      display: none;
    }
    .logo img
    {
      margin-left: 32px;
    }
}*/
