@import "jquery.fileupload";
@import "jquery.fileupload-ui";
@import "http://webfonts.ru/import/playfair.css";
@import "jquery-ui/datepicker";
@import "chosen";

body {
    background: image-url("bg_png.png") #2c2e32;
    padding: 14px 0;
    font-family: Tahoma, sans-serif;
    overflow-x: hidden;
}

button, a.button, span.button {
    padding: 8px;
    border-radius: 3px;
    background: #007bb6;
    color: #fff;
    font-size: 11px;
    border: none;
    outline: none;
    cursor: pointer;
}
span.button{
  color: #fff !important;
}
.without_line{
  border-bottom: none !important;
}
button:hover {
    background: #2194cb;
}
button:active {
    background: #007bb6;
    box-shadow: inset 0 1px 2px #024d72;
}

.container {
    width: 1250px;
    margin: auto;
    position: relative;
}

.topContainer {
    width: 1250px;
    height: 45px;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
}

.headerLeft {
   display: inline-block;
}

.headerLogotype {
    width: 157px;
    height: 100vh;
    display: inline-block;
    margin: 0 -1px;
    vertical-align: top;
    float: left;
}

.headerLogotype span {
    position: relative;
    top: -30px;
    left: 43px;
    padding-left: 10px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}

.container > header {
    height: 44px;
    width: 100%;
}

.container > nav {
    width: 157px;
    height: 100vh;
    display: inline-block;
    margin: 0 -1px;
    vertical-align: top;
}

main {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    width: 850px;
    margin: 0 -2px;
    vertical-align: top;
    border-radius: 5px;
    overflow: hidden;
    min-height: 600px;
}

section {
    // width: calc(100% - 240px);
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 0 -2px 0 0;
}

section.with_right_images{
  width: calc(100% - 240px);
}

section > header {
    width: 100%;
    height: 194px;
    background: image-url("img1.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.headTitle {
    width: 100%;
    padding: 0 20px;
    position: absolute;
    bottom: -25px;
    left: -5px;
}
.headTitle:after {
    display: block;
    content: '';
    clear: both;
}

.headTitle img {
    height: 110px;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #acacac;
    float: left;
    margin-right: 20px;
    border-radius: 60px;
}

.headTitle h1 {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-shadow: -1px 1px 2px #000;
    position: relative;
    top: 55px;
}

.headTitle button {
    float: right;
    display: inline-block;
    margin-right: 40px;
    position: relative;
    top: 35px;
}

.writer {
    background: #f7f7f7;
    padding: 40px 20px 8px;
}

textarea {
    font-family: Tahoma, sans-serif;
    font-size: 13px;
}

.writer textarea {
    width: calc(100% - 5px);
    outline: none;
    border: none;
    padding: 5px;
    height: 90px;
}

.writer span {
    color: #9dbfd8;
    font-size: 12px;
    margin-left: 5px;
}

.writer span b {
    font-weight: bold;
    text-decoration: underline;
}

.cssarrow {
    position: relative;
    background: #fff;
    border: 1px solid #c3cbd4;
    display: block;
    padding: 0 5px;
    margin: 0 0 10px;
}

.cssarrow:after, .cssarrow:before {
    bottom: 100%;
    left: 45px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.cssarrow:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: 0px;
}

.cssarrow:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #c3cbd4;
    border-width: 12px;
    margin-left: -2px;
}

.postHeader {
    padding: 25px 20px 5px;
    border-bottom: 1px solid #d9e0e7;
}

.postHeader button {
    margin-right: 12px;
    font-weight: bold;
}

.unactiveButton {
    background: #fff;
    color: #007bb6;
}

.unactiveButton:hover, .unactiveButton:active {
    background: #cce5f0;
    box-shadow: none;
}

.postBody {
    width: calc(100% - 25px);
    padding: 20px 0 20px 20px;
    border-bottom: 1px solid #d9e0e7;
}

.postBody p {
    color: #415a69;
    font-size: 13px;
}

.postBody h1,.postText h1 a {
    color: #007bb6;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 10px;
}

.postImg {
    width: 100%;
    margin: 25px 0 10px;
}

.postImg img {
    display: block;
    width: 100%;
}

.postBody a {
    color: #6ba4cb;
    font-size: 13px;
}

.avaImg {
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: top;
    border-radius: 3px;
    margin-right: 20px;
}

.avaImg img {
    display: block;
    width: 100%;
}

.allComment {
    width: 100%;
    border-radius: 0;
    background: #eaf1f4;
    color: #007bb6;
    font-size: 13px;
}

.allComment:hover, .allComment:active {
    background: #c5d7e1;
    color: #007bb6;
    box-shadow: none;
}

.comment {
    margin: 10px 0 0;
}

.comment .name {
    color: #007bb6;
    margin-bottom: 10px;
    font-size: 13px;
    display: block;
}

.postText {
    display: inline-block;
    vertical-align: top;
    /*width: 724px;*/
    width: calc(100% - 90px);

}

.commentText {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 78px);
}

.postBody textarea, input[type="text"].comment_content_input {
    width: calc(100% - 22px);
    margin: 10px 5px;
    height: 20px;
    outline: 5px solid #edede6;
    padding: 2px 5px 0;
}


article {
    width: 240px;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 -3px;
}

.poster {
    width: 100%;
    position: relative;
    height: 400px;
}

.poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.poster .date {
    width: 100%;
    padding: 12px 0;
    color: #fff;
    text-shadow: 0 1px 5px  #000;
    position: absolute;
    text-align: right;
    font-weight: bold;
}

.poster .date h2 {
    font-size: 41px;
    padding-right: 10px;
}

.poster .date h3 {
    font-size: 13px;
    padding-right: 10px;
}

.poster .posterTitle {
    font-size: 14px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 -1px 5px  #000;
    position: absolute;
    bottom: 0;
    padding: 20px;
}

.propButton {
    float: right;
    color: #b1bcc3;
    font-size: 11px;
    cursor: pointer;
    background: #fff;
    font-style: normal;
    font-weight: normal;
    padding: 8px;
    border-radius: 3px;
    position: relative;
    top: -7px;
}

.propButton:hover {
    background: #eaeaea;
}

.propButton:active {
    box-shadow: inset 0 2px 2px #d3d3d3;
}


.postHeader  .propButton {
    margin-top: 8px;
}

#scroll {
    background: rgba(0, 0, 0, 0.5);
}

/*#ascrail2000 {
    left: 1190px !important;
}*/

.leftMenu {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}

.leftMenu li {
    display: block;
    list-style: none;
    width: 100%;
    height: 45px;
    margin-bottom: 5px;
}

.leftMenu li a i {
    font-family: 'project';
    font-size: 25px;
    padding: 0;
    margin: 0;
    border: solid 2px rgba(25, 196, 255, 0);
    border-radius: 3px;
    padding: 8px;
}

.leftMenu li a span {
    padding-left: 10px;
    font-size: 13px;
    position: relative;
    top: -7px;
}

.leftMenu li a {
    color: #acacac;
}

.leftMenu li a:hover {
    color: #19c4ff;
}

.leftMenu li a.leftActive {
    color: #19c4ff;
}

.leftMenu li a.leftActive i {
    border: solid 2px #19c4ff;
}

.searchActive{
    float: left;
    position: relative;
}

.searchActive input{
    font-weight: 700;
    width: 381px;
    height: 45px;
    background-color: #fff;
    color: #747474;
    border: none;
    padding-left: 21px;
    margin-bottom: 20px;
    outline: none;
    border-radius: 3px;
    -webkit-appearance: none;
}

.removeButton, .removeButton a {
    float: right;
    color: #b1bcc3;
    text-decoration: underline;
    font-size: 11px;
    cursor: pointer;
    padding-right: 8px;
}

.removeButton:hover, .removeButton:hover a {
    font-weight: 500;
    color: #a3baca;
}

/*.header-left {
    position: relative;
    left: -19px;
}
*/
.search .searchButton {
    font-family: 'project';
    color: #c9c9c9;
    background: #252629;
    position: absolute;
    right: 3px;
    top: 7px;
    font-size: 13px;
}

.search .searchButton:hover, .search .searchButton:active {
    background: #252629;
    box-shadow: none;
}

.searchActive .searchButton {
    font-family: 'project';
    color: #c9c9c9;
    background: #fff;
    position: absolute;
    right: 3px;
    top: 7px;
    font-size: 13px;
}

.searchActive .searchButton:hover, .searchActive .searchButton:active {
    background: #fff;
    box-shadow: none;
}


.attach {
    font-family: 'project';
    color: #007bb6;
    float: right;
    cursor: pointer;
    font-size: 18px;
    padding-top: 4px;
}

.attach:hover {
    color: #2194cb;
}

aside {
    width: 220px;
    background: #242529;
    padding: 20px 0;
    float: right;
}

aside h1 {
    font-size: 13px;
    color: #7f8081;
    display: block;
    margin: 0 0 10px;
    font-weight: bold;
    padding-left: 10px;
}

.group {
    background: #242529;
    padding: 10px 20px;
    position: relative;
}

.group .rem {
    color: #fff;
    font-size: 13px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    cursor: pointer;
    display: none;
}

.group h2 {
    font-size: 11px;
    color: #7f8081;
}

.group:hover {
    background: #1f2024;
}
.group.no_hover:hover{
  background: none;
}

.group:hover .rem {
    display: block;
}

.group:hover h2 {
    color: #fff;
}

.group .photoBox, .group .groupProp {
    display: inline-block;
    vertical-align: top;
}

.group .photoBox {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.group .photoBox img {
    width: 100%;
    height: 100%;
}

.group .groupProp button {
    font-size: 13px;
    background: none;
    color: #007bb6;
    border: 1px solid #007bb6;
    display: block;
    margin-top: 5px;
}

.group .groupProp button:hover {
    background: #2194cb;
    color: #fff;
    border: 1px solid #2194cb;
}

.group .groupProp button:active {
    background: #007bb6;
    color: #fff;
    border: 1px solid #007bb6;
}



footer {
    width: 100%;
    text-align: center;
    padding: 10px 0 30px;
}

footer p {
    font-size: 11px;
    color: #adadae;
}

footer a {
    color: #19c4ff;
    font-size: 11px;
    text-decoration: underline;
    background-position: center;
    background-size: 100% 100%;
    display: block;
    background-repeat: no-repeat;
}

.nomargin li {
    margin: 0;
    padding: 0;
}

footer li {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 0;
}

#vk {
    background: image-url("vk.png");
    width: 15px;
    height: 15px;
    background-position: center;
    background-size: 100% 100%;
}
#vk:hover {
    background: image-url("vk-hover.png");
}

#youtube {
    background: image-url("you.png");
    width: 15px;
    height: 15px;
    background-position: center;
    background-size: 100% 100%;
}
#youtube:hover {
    background: image-url("you-hover.png");
}

#twitter {
    background: image-url("tv.png");
    width: 15px;
    height: 15px;
    background-position: center;
    background-size: 100% 100%;
}
#twitter:hover {
    background: image-url("tv-hover.png");
}

#facebook {
    background: image-url("fb.png");
    width: 15px;
    height: 15px;
    background-position: center;
    background-size: 100% 100%;
}
#facebook:hover {
    background: image-url("fb-hover.png");
    width: 15px;
    height: 15px;
    background-position: center;
    background-size: 100% 100%;
}

.burgerIco {
    height: 14px;
    margin-right: 5px;
    position: relative;
    top: -1px;
}

.containerRegistr {
    width: 940px;
    height: 100vh;
    text-align: center;
    margin: auto;
    position: relative;
    z-index: 99;
}

.containerRegistr > footer {
    position: absolute;
    bottom: 20px;
}

.substrate {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}


.mainRegistr {
    position: absolute;
    width: 1024px;
    left: 0;
    background: none;
    padding: 0 20px;
    text-shadow: 0 0 2px #000;
}

.mainRegistr > section {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    width: 530px;
    position: relative;
    left: -5px;
}

.mainRegistr > section button {
    padding: 8px 44px;
    font-size: 15px;
    font-weight: bold;
    margin-right: 20px;

}

.mainRegistr > section h1 {
    font-size: 40px;
    text-align: left;
    line-height: 1.25;
    padding-bottom: 16px;
    font-family: 'Playfair Display';
}

.mainRegistr > section p {
    font-size: 15px;
    text-align: left;
    padding-bottom: 20px;
    line-height: 1.6;
}

.registrationForm {
    float: right;
    background: rgba(0, 0, 0, 0.6);
    padding: 25px;
    border-radius: 5px;
    border: 4px solid #686870;
    margin-top: 15px;
    color: #fff;
    text-align: left;
    font-family: Tahoma, sans-serif;
}

.registrationForm p {
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}

.registrationForm > a {
    float: right;
    border-bottom: 1px solid #393939;
    color: #fff;
    padding-top: 5px;
    font-size: 13px;
}

.orRegistr {
    color: #666666;
    font-size: 13px;
    padding-left: 15px;
}

.orRegistr > a {
    border-bottom: 1px solid #393939;
    color: #fff;
    padding-top: 5px;
    font-size: 13px;
    margin-left: 15px;
    display: inline-block;
}


.registrationForm button {
    margin-top: 15px;
    padding: 8px 22px;
    font-size: 13px;
}

.registrationForm label {
    font-size: 13px;
    position: relative;
}

.registrationForm input[type="checkbox"] + span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #c3cbd4;
    cursor: pointer;
}

.registrationForm input[type="checkbox"]:checked + span:after {
    display: block;
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    width: 17px;
    height: 17px;
    background: image-url("check.png") no-repeat 100% 100%;
}

.registrationForm label.full {
    display: block;
    width: 300px;
    margin-bottom: 5px;
}

.registrationForm label.full input {
    width: calc(100% - 20px);
    padding: 5px 10px;
    background: #fff;
    color: #000;
    border: 1px solid #c3cbd4;
    border-radius: 2px;
    outline: none;
}


.videoBox {
    position: absolute;
    top: 0;
}


.reg {
    margin: 0;
    padding: 0;
}

.reg > nav {
    width: 100%;
    height: 50px;
    background: #000;
    position: absolute;
    top: 0;
    z-index: 99;
}

.containerRegistr ul {
    display: block;
    margin: auto;
    text-align: center;
}

.containerRegistr ul li {
    display: inline-block;
    text-align: center;
    padding-top: 15px;
    margin: 0 15px;
}

.containerRegistr li a {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.containerRegistr ul li a:hover {
    color: #a3a3a3;
}

.logoInCenter {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.logoInCenter img {
    display: inline-block;
    width: 64px;
    height: auto;
    margin-bottom: 10px;
}

.logoInCenter p {
    font-size: 16px;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    color: #fff;

}

.cont {
    text-align: left;
}

.containerRegistr .footerMenu li, .containerRegistr footer .nomargin li {
    margin: 0;
    padding-bottom: 3px;
}

.containerRegistr .footerMenu a,  .containerRegistr .footerMenu a:hover {
    color: #19c4ff;
    font-size: 11px;
    text-decoration: underline;
    background-position: center;
    background-size: 100% 100%;
    display: block;
    background-repeat: no-repeat;
    font-weight: normal;
}

.header-right .burg {
    font-family: 'burger';
    margin-left: -5px;
    margin-right: 5px;
}

.logoIco {
    font-family: 'logoL';
    width: 44px;
    height: 44px;
    background: #007bb6;
    overflow: hidden;
    border-radius: 5px;
    text-align: center;
}

.containerRegistr .logoIco {
    font-family: 'logoL';
    width: 65px;
    height: 65px;
    background: #007bb6;
    overflow: hidden;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
}

.logoIco:hover {
   background: #2194cb;

}
.logoIco > i {
    color: #ffffff;
    font-size: 35px;
    font-family: 'logoL';
}

.logoL {
    position: relative;
    top: 5px;
    font-family: 'logoL';
    font-size: 30px;
}

.containerRegistr .logoIco > i {
    color: #ffffff;
    font-size: 47px;
    font-family: 'logoL';
    position: relative;
    top: 8px;
}

.foot {
    float: right;
    width: 1100px;
}

.containerRegistr .mainRegistr section .cont > button {
    padding: 13px 48px;
}

@media screen and (max-width: 1250px) {
    .container {
        width: 100%;
    }

    .footer {
        width: 100%;
    }
    .topContainer {
        width: 100%;
    }

    main {
        width: calc(100% - 160px);
    }

    article {
        display: none;
    }

    section {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        margin: 0 -2px 0 0;
    }
    .foot {
        float: right;
        width: calc(100% - 160px);
    }
}

@media screen and (max-width: 960px) {
    .container > nav, .headerLogotype {
        width: 50px;
        padding-left: 6px;
    }

    .searchActive input, .search input {
        width: 260px;
    }

    .headerLogotype {
        margin-right: 2px;
    }
    main {
        width: calc(100% - 60px);
    }

    article {
        display: none;
    }

    section {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        margin: 0 -2px 0 0;
    }

    .leftSpan {
        display: none;
    }
    .foot {
        float: right;
        width: calc(100% - 60px);
    }
}
.hidden_comment{ display: none; }


.hide {
  display: none !important;
}

.show {
  display: block;
}

.containerRegistr .mainRegistr section .cont > button {
    padding: 13px 48px;
}

@media screen and (max-width: 1250px) {
    .container {
        width: 100%;
    }

    .footer {
        width: 100%;
    }
    .topContainer {
        width: 100%;
    }

    main {
        width: calc(100% - 160px);
    }

    article {
        display: none;
    }

    section {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        margin: 0 -2px 0 0;
    }
    .foot {
        float: right;
        width: calc(100% - 160px);
    }
}

@media screen and (max-width: 960px) {
    .container > nav, .headerLogotype {
        width: 50px;
        padding-left: 6px;
    }

    .searchActive input, .search input {
        width: 260px;
    }

    .headerLogotype {
        margin-right: 2px;
    }
    main {
        width: calc(100% - 60px);
    }

    article {
        display: none;
    }

    section {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        margin: 0 -2px 0 0;
    }

    .leftSpan {
        display: none;
    }
    .foot {
        float: right;
        width: calc(100% - 60px);
    }
}

/* Groups */
.grpFilter
{
	padding: 20px 0 10px 20px;
	border-bottom: 1px solid #d9e0e7;
	background: #f7f7f7;
	&.static {
      background: 0;
      color: #000000;
	}
}

.grpFilter h1
{
	color: #007bb6;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}

.grpFilter span
{
	margin-left: 10px;
}

.grpHeader
{
	padding: 20px 0 0 20px;
	border-bottom: 1px solid #d9e0e7;
}

.grpHeader h1 {
    color: #007bb6;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 10px;
}

.grpBody {
    width: calc(100% - 25px);
    padding: 20px 0 20px 20px;
	border-bottom: 1px solid #d9e0e7;
}


.grpBody p {
    color: #a0acb4;
	font-family: Tahoma, sans-serif;
    font-size: 13px;
}
.grpBody div p
{
    color: #000;
	font-family: Tahoma, sans-serif;
    font-size: 13px;
	padding-top: 10px;
	text-align: justify;
	padding-right: 20px;
	line-height: 20px;
}

.grpBody h1 {
    color: #007bb6;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 10px;
}

.grpBody span {
  color: #9dbfd8;
  font-size: 12px;
  margin-left: 5px;
}
.grpBody span b
{
  font-weight: bold;
  text-decoration: underline;
}

.grpBody label
{
	color: #415a69;
	font-family: Tahoma, sans-serif;
  font-size: 13px;
	width: 130px !important;
	display: block;
	float: left;
	text-align: right;
	padding-right: 10px;
}

.grpBody .postText {
    display: inline-block;
    vertical-align: top;
    /*width: 724px;*/
    width: calc(100% - 160px);

}

.grpImg {
    display: inline-block;
    width: 120px;
    height: 120px;
    vertical-align: top;
    border-radius: 3px;
    margin-right: 20px;
}

.grpText
{
	margin-bottom: 10px;
}

.clearBth
{
	clear: both;
	height: 15px;
}

.FormBody
{
	width: calc(100% - 200px);
	margin: 0 auto;
}
/* Forms */

textarea
{
	padding: 2px 10px;
	color: #a0acb4;
	border: 1px solid #a0acb4;
	font-family: Tahoma, sans-serif;
	font-size: 13px;
	height: 100px;
}

input
{
	padding: 2px 10px;
	color: #a0acb4;
	border: 1px solid #a0acb4;
	font-family: Tahoma, sans-serif;
	font-size: 13px;
}

.grpBody input, .grpBody textarea
{
	width: calc(100% - 250px);
}
.grpBody input[type=checkbox]
{
	width: 100%;
}

select
{
	padding: 1px 10px;
	color: #a0acb4;
	border: 1px solid #a0acb4;
	font-family: Tahoma, sans-serif;
	font-size: 13px;
}

.grpBody select
{
	width: calc(100% - 227px);
}

.grpBody select.special
{
	width: auto;
}

select option
{
	color: #000;
}

button.new
{
	margin-left: 140px;
}

.float-left{
  float: left;
}
.tab-content{
  padding: 10px;
}
select.datetime{
  width: 11.2%;
}
select.mini-input{
  width: 50%;
}
.verticalPadding{
  height: 230px;
}

.grpPhoto
{
	 display: inline-block;
	 padding: 0 20px 20px 0;
	 width: 170px;
}

button.green, a.green {
    padding: 8px;
    border-radius: 3px;
    background: #5bb75b;
    color: #fff;
    font-size: 11px;
    border: none;
    outline: none;
    cursor: pointer;
}
button.green:hover {
    background: #6bd46b;
}
button.green:active {
    background: #5bb75b;
    box-shadow: inset 0 1px 2px #024d72;
}


button.red {
    padding: 8px;
    border-radius: 3px;
    background: #be3730;
    color: #fff;
    font-size: 11px;
    border: none;
    outline: none;
    cursor: pointer;
}
button.red:hover {
    background: #e44138;
}
button.red:active {
    background: #be3730;
    box-shadow: inset 0 1px 2px #024d72;
}

.grpBody table td
{
	color: #415a69;
	font-size: 13px;
	vertical-align: middle;
	padding: 10px;
}

.grpBody table td img
{
	height: 70px;
}

.grpBody .geo
{
  color: #007bb6;
	// padding: 8px;
  // border-radius: 3px;
  // background: #5bb75b;
  // color: #fff;
  // font-size: 11px;
  // border: none;
  // outline: none;
}

.grpBody .info
{
  color: #007bb6;
// padding: 8px;
//   border-radius: 3px;
//   background: #be3730;
//   color: #fff;
//   font-size: 11px;
//   border: none;
//   outline: none;
}

.grpFilter a
{
	// padding: 8px;
	color: #acacac;
  font-size: 13px;
}

.grpFilter a.active
{
	padding: 8px;
  border-radius: 3px;
  background: #007bb6;
  color: #fff;
  font-size: 13px;
  border: none;
  outline: none;
}

.grpFilter li.active a
{
	padding: 8px;
  border-radius: 3px;
  background: #007bb6;
  color: #fff;
  font-size: 13px;
  border: none;
  outline: none;
  float: left;
}
.grpFilter li a
{
  	padding: 8px;
  	color: #acacac;
    font-size: 13px;
    float: left;
    margin-right: 5px;
}
.grpFilter.friends, .grpFilter.editprofile{
  min-height: 50px;
}
label.white{
  color: #fff;
  font-size: 15px;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}
#modal_container {
  position: fixed;
  z-index: 1041;
  top: 0;
  width: 100%;
  overflow: scroll;
  display: none;
}

#modal {
  z-index: 1041;
  position: relative;
  top: 20px;
  width: 670px;
  margin-left: -335px;
  .modal-body {
    max-height: 90%;
  }

}.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  /* IE6-7 */

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
}
.modal.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  transition: opacity .3s linear, top .3s ease-out;
  top: -25%;
}
.modal.fade.in {
  top: 10%;
}
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}
.modal-header .close {
  margin-top: 2px;
}
.modal-header h3 {
  margin: 0;
  line-height: 30px;
}
.modal-body {
  position: relative;
  overflow-y: auto;
  max-height: 400px;
  padding: 15px;
}
.modal-form {
  margin-bottom: 0;
}
.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  *zoom: 1;
}
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.foot
{
  float: left;
  width: 1160px;
}
.photos {
  margin-left: 18%;
	margin-top: 20px;
	color: #007bb6;
	font-weight: bold;
	font-size: 13px;
  position: relative;
}
.photos a{
  font-size: 14px;
  margin-right: 20px;
  color: #007bb6;
}

.grpBody.h5{
  color: #415a69;
  font-size: 14px;
  padding-top: 10px;
  padding-left: 20px;
}
h5{
  color: #415a69;
  font-size: 14px;
}
.group form select{
  width: 170px;
}
.date_event{
  font-size: 13px;
}
p.red{
  color: red;
  font-size: 14px;
}

.span4
{
	width: 400px;
	float: left;
}

.row
{
	padding-top: 20px;
	padding-bottom: 20px;
}

h5
{
    color: #007bb6;
    font-weight: bold;
    font-size: 15px;
	padding-bottom: 20px;
}

h5 a
{
	text-decoration: none;
	 color: #007bb6;
    font-weight: bold;
    font-size: 15px;
}

.img_spots
{
	 width: 120px;
	height: 120px;
	float:left;
	padding-right: 10px;
}

.img_spots img
{
	width: 120px;
	height: 120px;
}

.favorite
{
	margin-top: 10px;
}
.favorite a
{
	color: #007bb6;
	font-weight: bold;
	font-size: 15px;
	text-decoration: underline;
	cursor: pointer;
}

.favorite i
{
	color: #007bb6;
	font-size: 15px;
}

div.greattext p
{
	font-size: 15px;
}
ul.ui-widget-content{
  border: none;
}
ul.ui-widget-header{
  background: none;
}
ul.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
  border: none;
}
div.tab-pane.fade.in.ui-tabs-panel.ui-widget-content.ui-corner-bottom{
  border: none;
}
.ui-widget-content{
  border: none;
}
.alert-danger{
  color: red;
  font-size: 14px;
  text-align: center;
}
.main_with_auth_title
{
	padding: 20px 0 10px 20px;
	width: calc(100% - 18px);
	border-bottom: 1px solid #d9e0e7;
	background: #f7f7f7;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-top: 30px;
	text-align: justify;
	color: #007bb6;
	font-weight: bold;
	font-size: 20px;
}

.main_with_auth h1 {
  color: #007bb6;
  font-weight: bold;
  font-size: 20px;
   padding-top: 10px;
}
.main_with_auth input, .main_with_auth textarea
{
	width: calc(100% - 350px);
	color: #a0acb4;
	font-family: Tahoma, sans-serif;
    font-size: 15px;
}

.main_with_auth input[type="checkbox"]
{
    width: 20px;
}

.main_with_auth  label
{
	color: #000000;
	font-family: Tahoma, sans-serif;
    font-size: 15px;
	width: 240px !important;
	display: block;
	float: left;
	text-align: right;
	padding-right: 10px;
}

.main_with_FormBody
{
	width: calc(100% - 250px);
	margin: 0 auto;
}

.main_with_FormBody button.new
{
	font-size: 15px;
	margin-left: 230px;
}

.main_with_auth {
    position: relative;
    width: calc(100% - 40px);
	border: 1px solid #d9e0e7;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
    left: 0;
    background: #FFFFFF;
    padding: 20px;
	text-align: justify;
	font-family: Tahoma, sans-serif;
	font-size: 15px;
	color: #000;
}
.main_with_auth p
{
  margin: 0;
  padding: 0;
  padding-top: 10px;
  line-height: 20px;
}

.main_with_auth a
{
	font-family: Tahoma, sans-serif;
	font-size: 15px;
	color: #007bb6;
	text-decoration: underline;
}

.main_with_auth a:hover
{
	text-decoration: none;
}
.main_with_auth_title
{
	padding: 20px 0 10px 20px;
	width: calc(100% - 18px);
	border-bottom: 1px solid #d9e0e7;
	background: #f7f7f7;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-top: 30px;
	text-align: justify;
	color: #007bb6;
	font-weight: bold;
	font-size: 20px;
}

.main_with_auth h1 {
  color: #007bb6;
  font-weight: bold;
  font-size: 20px;
   padding-top: 10px;
}

.main_with_auth input, .main_with_auth textarea
{
	width: calc(100% - 350px);
	color: #a0acb4;
	font-family: Tahoma, sans-serif;
    font-size: 15px;
}

.main_with_auth input[type="checkbox"]
{
    width: 20px;
}

.main_with_auth  label
{
	color: #000000;
	font-family: Tahoma, sans-serif;
    font-size: 15px;
	width: 240px !important;
	display: block;
	float: left;
	text-align: right;
	padding-right: 10px;
}

.main_with_FormBody
{
	width: calc(100% - 250px);
	margin: 0 auto;
}

.main_with_FormBody button.new
{
	font-size: 15px;
	margin-left: 230px;
}


.grpImg_dialog
{
	position: relative;
	float: left;
    width: 60px;
    height: 60px;
    vertical-align: top;
    border-radius: 3px;
    margin-right: 20px;
	overflow: hidden;
}

.info_dialog
{
	position: relative;
	float: left;
	width: 150px;
}

.info_dialog h1
{
	font-size: 10px;
	padding: 0;
	margin: 0;
}

div.info_dialog p
{
	font-size: 10px;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

.text_dialog
{
	float: left;
	position: relative;
	width: 350px;
}

.button_dialog
{
	float: left;
	position: relative;
	width: 120px;
	padding-left: 20px;
}

div.text_dialog p
{
	font-size: 12px;
	padding: 0;
	margin: 0;
}
.hoverbtn{
  padding: 8px;
}
.hoverbtn:hover{
  border-radius: 3px;
  background: #007BB6 none repeat scroll 0% 0%;
  padding: 8px;
  color: #fff;
}
span.profile_btn{
  display: block;
  padding: 8px;
  border-radius: 3px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  background: #2194cb;
  width: 135px;
  text-align: center;
  float: right;
}
span.profile_btn a{
  color: #fff;
}
.right{
  float: right;
  &.save{
    margin: 20px;
  }
}
.no_bottom_border{
  border-bottom: none;
}
.comment_date{
  font-size: 12px;
  color: #a0acb4;
}
.grpBody label[for=user_avatar]{
  width: 190px !important;
}

.custom_btn search_btn
{
    margin-right: 10px;
}