.node {
  display: block;
  padding: 5px 0;
  margin-top: -5px;
  position: relative;
  border-radius: 3px;
}


.node_before {
  //background-color: #d00;
  position: absolute;
  top: 0;
}

.node_after {
  //background-color: #0d0;
  position: absolute;
  bottom: 0;

}

.node_before, .node_after {
  height: 5px;
  width: 100%;
  border-radius: 3px;
}

.node_container {
  height: 21px;
  background-color: #ebf6ff;
  padding: 2px 5px;
  line-height: 17px;
  font-size: 14px;
  border-radius: 3px;
  text-shadow: 1px 1px #fff;
  cursor: default;
}

.node_tree {
  margin-left: 20px;
}

.node_children {
  display: none;
  padding-top: 5px;
  margin-left: 20px;
}

.node_expander {
  position: absolute;
  top: 7px;
  left: -15px;
  line-height: 18px;
  font-size: 13px;
  color: #a2ddff;
  .fa-plus-circle, .fa-minus-circle {
    cursor: pointer;
  }
  .fa-spin {
    color: #ccc;
  }

}

.node_helper {
  border: 1px solid #eee;
  background-color: #fafafa;
  padding: 3px 5px;
  font-size: 13px;
  opacity: 0.75;
  .node_operations {
    display: none;
  }
  z-index: 1000;
}

.new_parent > .node_expander {
  color: #21a528;
}

.node_operations a {
  margin: 0 0 0 3px;
}

.node_data_column {
  float: right;
  margin: 0 10px 0 0;
}