<p>Добро пожаловать на PlayTogether!</p>

<p>Для подтверждения регистрации аккаунта, зарегистрированного на адрес электронной почты <%= @email %>, пройдите по ссылке:</p>


<p><%= link_to 'Подтвердить регистрацию на сайте PlayTogether', confirmation_url(@resource, :confirmation_token => @token) %></p>


<p>
  --
  <br>
  С уважением, <br>
  команда PlayTogether</p>