<p>Здравствуйте!</p>

<p>Была запрошена смена пароля для Вашего аккаунта на сайте PlayTogether.</p>

<p><%= link_to 'Изменить пароль на сайте PlayTogether', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Если Вы не отправляли запрос на восстановление пароля, то просто проигнорируйте это письмо.</p>

<p>
  --
  <br>
  С уважением, <br>
  команда PlayTogether</p>