<p>Здравствуйте!</p>

<p>Ваш аккаунт на сайте PlayTogether был заблокирован после многократных попыток входа с неверным паролем. Для разблокировки перейдите по ссылке:</p>

<p><%= link_to 'Разблокировать аккаунт на сайте PlayTogether', unlock_url(@resource, :unlock_token => @token) %></p>

<p>
  --
  <br>
  С уважением, <br>
  команда PlayTogether</p>