h1 Пользователи

table.table.admin-users-table

  - @users.each do |user|
    tr
      td
        div
          strong
            = user.email || user.vk_uid
      td.operations
        = link_to '<i class="fa fa-times"></i>'.html_safe, admin_user_path(user), data: {:confirm => 'Вы уверены?'}, :method => :delete
        = link_to '<i class="fa fa-ban"></i>'.html_safe, user_ban_admin_user_path(user), class: "#{'active' if user.banned}"

