.grpBody
  .FormBody
    = simple_nested_form_for @community do |f|

      ul class="nav nav-pills" style="font-size: 12px"
        - if @community.type == 'Team'
          li
            a href="#player_search" style="padding: 3px 7px" data-toggle="tab" Поиск Игроков

      .tab-content
        = render partial: 'communities/main_data_tab', locals: {f: f}
        - if @community.type == 'Team'
          = render partial: 'communities/player_search_tab', locals: {f: f}
      .verticalPadding
      button.new Сохранить изменения
