main
  section
    - unless params[:controller] == "search"
      .grpFilter
        - unless communities_all.nil?
          = select_tag(:place_id,options_for_select( (Place.ordering.map{|u| [u.name,u.id]} << ["Любой","all"]).reverse), data: {place_id: "all"})
          span
          = select_tag(:sport_type,options_for_select( (SportType.reorder('name desc').map{|u| [u.name,u.id]} << ["Выберите вид спорта...","all"]).reverse), data: {sport_id: "all"})
          span
        - if can? :create, Community
            a href='/search/#{ params[:type]=='Team' ? 'team' : 'infogroup' }s' style='margin-left: 10px;'
              button
                |   Найти
                - if params[:type]=='Team'
                  |  команду
                - else
                  |  группу
            span
            a href='#{new_community_path}#{ params[:type]=='Team' ? '?type=Team' : '?type=Infogroup' }'
              button
                |   Создать
                - if params[:type]=='Team'
                  |  команду
                - else
                  |  группу


      .grpHeader
        h1
          | Найденные&nbsp;
          = params[:type] == 'Team' ? 'команды' : 'группы'
    .all_comands
      - block_name = ''
      - communities.each do |community|
        - membership = community.memberships.where(user_id: current_user.id).first_or_initialize

        - new_block_name = membership.user_status.to_s

        .grpBody
          .grpImg
            a href='#{community_path community}'
              img src="#{community.avatar.small_thumb.url}"
          .postText
            h1
              a href='#{community_path community}'
                = community.name
            .grpText
              p
                - if community.type == 'Team'
                  ' Команда,
                - else
                  ' Группа,
              p
                = community.memberships.where('community_status=1 AND user_status=1').count.to_s + ' ' + Russian.p(community.memberships.where('community_status=1 AND user_status=1').count, 'участник', 'участника', 'участников')
                |,
                = community.memberships.where('community_status<1').count.to_s + ' ' + Russian.p(community.memberships.where('community_status<1').count, 'подписчик', 'подписчика', 'подписчиков')
            - if membership.user_status < 1
              - add = ''
              - exit = 'hide'
            - else
              - add = 'hide'
              - exit = ''
            div id="community_block_#{community.id.to_s}"
              = link_to '/communities/'+community.id.to_s+'/membership_request', {:remote => true, :id=>'membership_request_'+community.id.to_s, class: 'btn btn-mini btn_add '+add} do
                button Вступить
                span
                  | или&nbsp;
                  b Подписаться на обновления
              = link_to '/communities/'+community.id.to_s+'/membership_cancel', {:remote => true, :id=>'membership_request_'+community.id.to_s, class: 'btn btn-mini btn_remove '+exit} do
                button Выйти
              br
              br
                p.info1
      - unless communities_all.nil?
        - communities_all.each do |community|
          - membership = community.memberships.where(user_id: current_user.id).first_or_initialize

          - new_block_name = membership.user_status.to_s

          .grpBody
            .grpImg
              a href='#{community_path community}'
                img src="#{community.avatar.small_thumb.url}"
            .postText
              h1
                a href='#{community_path community}'
                  = community.name
              .grpText
                p
                  - if community.type == 'Team'
                    ' Команда,
                  - else
                    ' Группа,
                p
                  = community.memberships.where('community_status=1 AND user_status=1').count.to_s + ' ' + Russian.p(community.memberships.where('community_status=1 AND user_status=1').count, 'участник', 'участника', 'участников')
                  |,
                  = community.memberships.where('community_status<1').count.to_s + ' ' + Russian.p(community.memberships.where('community_status<1').count, 'подписчик', 'подписчика', 'подписчиков')
              - if membership.user_status < 1
                - add = ''
                - exit = 'hide'
              - else
                - add = 'hide'
                - exit = ''
              div id="community_block_#{community.id.to_s}"
                = link_to '/communities/'+community.id.to_s+'/membership_request', {:remote => true, :id=>'membership_request_'+community.id.to_s, class: 'btn btn-mini btn_add '+add} do
                  button Вступить
                  span
                    | или&nbsp;
                    b Подписаться на обновления
                = link_to '/communities/'+community.id.to_s+'/membership_cancel', {:remote => true, :id=>'membership_request_'+community.id.to_s, class: 'btn btn-mini btn_remove '+exit} do
                  button Выйти
                br
                br
                  p.info1


          div style='margin-left: 85px' id="community_block_#{community.id}"
            h4 style='margin: 0'
              strong

              - if membership.user_status == 1 && membership.community_status == 1
                ' ,
                span.info style='font-size: 100%;'
                  ' Вы участник
              - if membership.user_status == 1 && membership.community_status < 1
                ' ,
                span.info style='font-size: 100%;'
                  ' Вы подписчик
              - if membership.user_status == 0 && membership.community_status == 1
                ' ,
                span.info style='font-size: 100%;'
                  ' Вы приглашены
