main
  section
    - unless params[:controller] == "search"
      .grpFilter
        h1 = params[:type] == 'Team' ? 'Команды' : 'Группы'
      .grpHeader
    .all_comands
      - block_name = ''
      - communities.each do |community|
        - membership = community.memberships.where(user_id: current_user.id).first_or_initialize

        - new_block_name = membership.user_status.to_s

        .grpBody
          .grpImg
            a href='#{community_path community}'
              img src="#{community.avatar.small_thumb.url}"
          .postText
            h1
              a href='#{community_path community}'
                = community.name
            .grpText
              p
                - if community.type == 'Team'
                  ' Команда,
                - else
                  ' Группа,
              p
                = community.memberships.where('community_status=1 AND user_status=1').count.to_s + ' ' + Russian.p(community.memberships.where('community_status=1 AND user_status=1').count, 'участник', 'участника', 'участников')
                |,
                = community.memberships.where('community_status<1').count.to_s + ' ' + Russian.p(community.memberships.where('community_status<1').count, 'подписчик', 'подписчика', 'подписчиков')
            - if membership.user_status < 1
              - add = ''
              - exit = 'hide'
            - else
              - add = 'hide'
              - exit = ''
            div id="community_block_#{community.id.to_s}"
              = link_to '/communities/'+community.id.to_s+'/membership_request', {:remote => true, :id=>'membership_request_'+community.id.to_s, class: 'btn btn-mini btn_add '+add} do
                button Вступить
                span
                  | или&nbsp;
                  b Подписаться на обновления
              = link_to '/communities/'+community.id.to_s+'/membership_cancel', {:remote => true, :id=>'membership_request_'+community.id.to_s, class: 'btn btn-mini btn_remove '+exit} do
                button Выйти
              br
              br
                p.info1
