- block_name = ''
- communities.each do |community|

  - membership = community.memberships.where(user_id: current_user.id).first_or_initialize

  - new_block_name = membership.user_status.to_s
  - if new_block_name != block_name && !(block_name=='' && new_block_name=="1")
    - block_name = new_block_name
    - if new_block_name == '0'
      h5 Приглашения
    - if new_block_name == '1'
      h5 style='margin-top: 20px;' Участие уже подтверждено

  a href='#{community_path community}'
    img src="#{community.avatar.small_thumb.url}" style='float: left;' class='img-rounded'

  div style='margin-left: 85px' id="community_block_#{community.id}"
    h4 style='margin: 0'
      strong
        a href="#{community_path community}"
          = community.name

    p.muted style='font-size: 12px;'
      - if community.type == 'Team'
        ' Команда,
      - else
        ' Группа,

      = community.memberships.where('community_status=1 AND user_status=1').count.to_s + ' ' + Russian.p(community.memberships.where('community_status=1 AND user_status=1').count, 'участник', 'участника', 'участников')
      ' ,
      = community.memberships.where('community_status<1').count.to_s + ' ' + Russian.p(community.memberships.where('community_status<1').count, 'подписчик', 'подписчика', 'подписчиков')


      - if membership.user_status == 1 && membership.community_status == 1
        ' ,
        span.info style='font-size: 100%;'
          ' Вы участник
      - if membership.user_status == 1 && membership.community_status < 1
        ' ,
        span.info style='font-size: 100%;'
          ' Вы подписчик
      - if membership.user_status == 0 && membership.community_status == 1
        ' ,
        span.info style='font-size: 100%;'
          ' Вы приглашены



    div

      - if membership.user_status < 1
        - add = ''
        - exit = 'hide'
      - else
        - add = 'hide'
        - exit = ''

      = link_to 'Вступить в группу', '/communities/'+community.id.to_s+'/membership_request', {:remote => true, :id=>'membership_request_'+community.id.to_s, class: 'btn btn-mini btn_add '+add}
      = link_to 'Выйти из группы', '/communities/'+community.id.to_s+'/membership_cancel', {:remote => true, :id=>'membership_request_'+community.id.to_s, class: 'btn btn-mini btn_remove '+exit}


  div style='clear: both; height: 10px;'
  hr size='1' style='margin: 0 0 5px'

- unless communities.any?
  p
    | Нет ни одного сообщества
-if !communities_all.nil?
  label style="margin-left:10px;"
    ' Место 
  = select_tag(:place_id,options_for_select( (Place.ordering.map{|u| [u.name,u.id]} << ["Любой","all"]).reverse),class: "place_select",data: {place_id: "all"})
  label style="margin-left:10px;"
    ' Вид спорта
  = select_tag(:sport_type,options_for_select( (SportType.all.map{|u| [u.name,u.id]} << ["Любой","all"]).reverse),class: "sport_select",data: {sport_id: "all"})
- block_name = ''
.all_comands
-if !communities_all.nil?
  - communities_all.each do |community|
    - membership = community.memberships.where(user_id: current_user.id).first_or_initialize

    - new_block_name = membership.user_status.to_s
    - if new_block_name != block_name && !(block_name=='' && new_block_name=="1")
      - block_name = new_block_name
      - if new_block_name == '0'
        h5
          = "Остальные #{params[:type] == "Team" ? "команды" : "группы"}" 
      - if new_block_name == '1'
        h5 style='margin-top: 20px;' Участие уже подтверждено

    a href='#{community_path community}'
      img src="#{community.avatar.small_thumb.url}" style='float: left;' class='img-rounded'

    div style='margin-left: 85px' id="community_block_#{community.id}"
      h4 style='margin: 0'
        strong
          a href="#{community_path community}"
            = community.name

      p.muted style='font-size: 12px;'
        - if community.type == 'Team'
          ' Команда,
        - else
          ' Группа,

        = community.memberships.where('community_status=1 AND user_status=1').count.to_s + ' ' + Russian.p(community.memberships.where('community_status=1 AND user_status=1').count, 'участник', 'участника', 'участников')
        ' ,
        = community.memberships.where('community_status<1').count.to_s + ' ' + Russian.p(community.memberships.where('community_status<1').count, 'подписчик', 'подписчика', 'подписчиков')


        - if membership.user_status == 1 && membership.community_status == 1
          ' ,
          span.info style='font-size: 100%;'
            ' Вы участник
        - if membership.user_status == 1 && membership.community_status < 1
          ' ,
          span.info style='font-size: 100%;'
            ' Вы подписчик
        - if membership.user_status == 0 && membership.community_status == 1
          ' ,
          span.info style='font-size: 100%;'
            ' Вы приглашены



      div

        - if membership.user_status < 1
          - add = ''
          - exit = 'hide'
        - else
          - add = 'hide'
          - exit = ''

        = link_to 'Вступить в группу', '/communities/'+community.id.to_s+'/membership_request', {:remote => true, :id=>'membership_request_'+community.id.to_s, class: 'btn btn-mini btn_add '+add}
        = link_to 'Выйти из группы', '/communities/'+community.id.to_s+'/membership_cancel', {:remote => true, :id=>'membership_request_'+community.id.to_s, class: 'btn btn-mini btn_remove '+exit}


    div style='clear: both; height: 10px;'
    hr size='1' style='margin: 0 0 5px'

