= f.input :name
.clearBth
= f.input :type, as: :select, collection: Community::COMMUNITY_TYPES
.clearBth
= f.input :about, input_html: {:class => 'input-block-level'}
.clearBth
= f.input :place_id, as: :select, collection: Place.ordering, :include_blank => true
.clearBth
= f.input :sport_type_id, as: :select, collection: SportType.where(parent_id: nil).collect { |a| [a.name, a.id] } , input_html: {:class => 'js-sport-level-1'}, label: 'Тип спорта'
br
= f.input :sport_type_id, as: :select, input_html: {:class => 'js-sport-level-2'}
br

label for='community_avatar'
  h1 Изображение
  br
  img alt="" src="#{@community.avatar.url}" style='margin-top: 4px' class='img-polaroid'
  br
  span style="color: #709FD3; font-size: 11px;"
    | изменить изображение

div#community_avatar_alert style='font-size: 12px;'
div.hide
  = f.input :avatar
