#player_search.tab-pane.fade.in
  h4 Заявки на поиск игроков
  = f.simple_fields_for :team_player_searches do |f|
    .row
      .span4
        - if @community.sport_type.nil?
          - sport_types = SportType.with_depth_below(3).collect { |a| ["#{'- ' * a.level}" + a.name,a.id] }
        - else
          - sport_types = SportType.where('lft >= ? AND rgt <= ?', @community.sport_type.lft, @community.sport_type.rgt).collect { |a| ["#{'- ' * (a.level-1)}" + a.name,a.id] }
        = f.input :sport_type_id, as: :select, collection: sport_types, input_html: {:class => 'input-block-level'}, label: false
      .span3
        = f.input :level, as: :select, collection: UsersSportType::LEVELS, input_html: {:class => 'input-block-level'}, label: false
      .span1
        = f.link_to_remove '<i class="icon icon-trash"></i>'.html_safe, class: 'btn btn-block'

  .vertical_padding
    = f.link_to_add 'Добавить заявку на поиск игрока', :team_player_searches, class: 'btn btn-mini btn-success'
