main
  section
    .grpFilter
      h1
        | Пригласите друзей в

        - if @community.type=='Team'
          |  команду
        - else
          |  группу
        |
        = ' '+@community.name

    .grpBody
      - memberships = Membership.where(community_id: @community.id).pluck(:user_id)

      - @friends.each do |user|

        a href='#{user_path user}'
          img src="#{user.avatar.small_thumb.url}" style='float: left;' class='img-rounded'

        div style='margin-left: 85px' id="user_block_#{user.id}"
          p
            strong
              a href="#{user_path user}"
                = user.fname
                '
                = user.lname
                - if user.lname.blank? && user.fname.blank?
                  span.muted
                    ' Неизвестный
          - if memberships.include? user.id
            p.muted style="margin-top: 20px" id='membership_invite_#{user.id.to_s}'
              - if user.memberships.where(community_id: @community.id).first.user_status == 1
                | Пользователь уже вступил в группу
              - else
                | Пользователь уже приглашён в группу
          - else
            p.muted style="margin-top: 20px" id='membership_invite_#{user.id.to_s}'
              = link_to '/communities/'+@community.id.to_s+'/membership_invite/'+user.id.to_s, {:remote => true, class: 'btn btn_add '} do
                button Пригласить
        hr



        div style='clear: both; height: 10px;'
