$('#community_block_<%= @community.id %> .btn_remove').addClass('hide');
$('#community_block_<%= @community.id %> .btn_add').removeClass('hide');
$('#community_block_<%= @community.id %> .info1').html('Вы вышли из группы');
