- breadcrumb :community_members, @community

h1
  = @member.name
  '
  span.muted
    = @member.nickname


- user = @member

.row
  .span2
    a href='#{user_path user}'
      img src="#{user.avatar.url}" class='img-rounded'


    p style="margin-top: 6px"
      - unless user.id == current_user.id
        a.btn.btn-mini.btn-block.btn-primary href='/users/#{user.id.to_s}/messages' Написать сообщение
  .span6
    h5 style='margin-top: 0;' Роли:
    p
      - roles = []
      - unless @community.get_user_roles(user.id).any?
        - if @community.type == 'Team'
          - roles = ['Болельщик']
        - else
          - roles = ['Участник']
      - @community.get_user_roles(user.id).each do |role|
        - if role.role == 'admin'
          - roles << 'Администратор группы'
        - if role.role == 'member'
          - member = ['В составе команды']
          - unless role.number.nil?
            - member << '№' + role.number.to_s
          - if !role.role_description.nil? && !role.role_description.empty?
            - member << role.role_description
          - else
            - member << 'игрок'
          - if !role.status.nil? && !role.status.empty?
            - member << role.status
          - roles << member.join(', ').mb_chars.downcase.capitalize.to_s



      = roles.join('. ')
      | .
    - if @community.is_admin?(current_user.id)
      h5 Изменить роли участника:

      = simple_nested_form_for @community, url: '/communities/'+@community.id.to_s+'/member/'+@member.id.to_s do |f|

        = f.simple_fields_for :community_roles, @community.get_user_roles(user.id) do |nested_f|
          .row
            .span5
              = nested_f.input :role, as: :select, collection: CommunityRole::TEAM_ROLES, input_html: {:class => 'input-block-level', placeholder: 'Роль игрока'}, label: false
              = nested_f.input :user_id, as: :hidden, input_html: { value: @member.id.to_s }

            .span1
              = nested_f.link_to_remove '<i class="icon icon-trash"></i>'.html_safe, class: 'btn pull-right'
            - if nested_f.object.role == 'member'
              .span4
                = nested_f.input :role_description, input_html: {:class => 'input-block-level', placeholder: 'Роль игрока'}, label: 'Роль в команде'
              .span1
                = nested_f.input :number, input_html: {:class => 'input-block-level', placeholder: ''}, label: 'Номер'
              .span5
                = nested_f.input :status, input_html: {:class => 'input-block-level', placeholder: 'Текущий статус'}, label: 'Статус игрока'

          hr style='margin: 0 0 10px'
        = f.link_to_add "Добавить роль в команде", :community_roles, class: 'btn btn-mini btn-success'
        div style='clear: both; height: 10px;'
        = f.submit 'Сохранить изменения', :class => 'btn btn-primary', style: 'margin-top: 3px'







