- breadcrumb :community_members, @community

h1 = @h1

div
  ul class="nav nav-pills" style="font-size: 12px"
    - if @community.type == 'Team'
      - models = {''=>'Все участники', 'team'=>'Состав команды','admins'=>'Администрация'}
    - else
      - models = {''=>'Все участники','admins'=>'Администрация'}
    - models.each do |m,mn|
      li class="#{'active' if m==params[:type].to_s}"
        a href="#{community_path}/members/?type=#{m}" style="padding: 3px 7px" #{mn}


- @members.each do |user|

  hr size='1' style='margin: 0 0 5px'
  a href='#{user_path user}'
    img src="#{user.avatar.small_thumb.url}" style='float: left;' class='img-rounded'

  div style='margin-left: 85px' id="user_block_#{user.id}"
    p style='margin-bottom: 7px;'
      strong
        a href="#{user_path user}"
          = user.fname
          '
          = user.lname
          - if user.lname.blank? && user.fname.blank?
            span.muted
              ' Неизвестный


      - roles = []
      - unless @community.get_user_roles(user.id).any?
        - if @community.type == 'Team'
          - roles = ['Болельщик']
        - else
          - roles = ['Участник']
      - @community.get_user_roles(user.id).each do |role|
        - if role.role == 'admin'
          - roles << 'Администратор группы'
        - if role.role == 'member'
          - member = ['В составе команды']
          - unless role.number.nil?
            - member << '№' + role.number.to_s
          - if !role.role_description.nil? && !role.role_description.empty?
            - member << role.role_description
          - else
            - member << 'игрок'
          - if !role.status.nil? && !role.status.empty?
            - member << role.status
          - roles << member.join(', ').mb_chars.downcase.capitalize.to_s

      br
        i style='font-size: 90%'
          = roles.join('. ')
          | .



    p style="margin-top: 0px"
      - unless user.id == current_user.id
        a.btn.btn-mini href='/users/#{user.id.to_s}/messages' Написать сообщение
      - if @community.is_admin?(current_user.id)
        '
        a.btn.btn-mini href='#{community_path}/member/#{user.id.to_s}' Изменить роль








  div style='clear: both; height: 10px;'

- unless @members.any?
  p
    | Нет ни одного пользователя
