$('#community_block_<%= @community.id %> .btn_remove').removeClass('hide');
$('#community_block_<%= @community.id %> .btn_add').addClass('hide');
$('#community_block_<%= @community.id %> .info1').html('Вы добавились в группу');
