main
  section
    .grpFilter
      div style='position: relative;' id="community_block_#{@community.id}"
        a href="#{@community.avatar.url}" rel="prettyPhoto" style='float: left;'
          img alt="" src="#{@community.avatar.big_thumb.url}" class="img-rounded"


        - membership = @community.memberships.where(user_id: current_user.id).first_or_initialize
        div style='margin-left: 180px'
          h1
            = @community.name

          div style='margin-bottom: 40px;'
            - if @community.type == 'Team'
              ' Команда,
            - else
              ' Группа,

            = @community.memberships.where('community_status=1 AND user_status=1').count.to_s + ' ' + Russian.p(@community.memberships.where('community_status=1').count, 'участник', 'участника', 'участников')
            ' ,
            = @community.memberships.where('community_status<1').count.to_s + ' ' + Russian.p(@community.memberships.where('community_status<1').count, 'подписчик', 'подписчика', 'подписчиков')


            - if membership.user_status == 1 && membership.community_status == 1
              ' ,
              span.info style='font-size: 100%; color: #333;'
                ' Вы участник
            - elsif membership.user_status == 1 && membership.community_status < 1
              ' ,
              span.info style='font-size: 100%; color: #333;'
                ' Вы подписчик
            - else
              span.info style='font-size: 100%; color: #333; margin-left: 20px;'
            br
            br
            - unless @community.about.blank?

              .row#main_info style="font-size: 13px"
                - if @community.sport_type
                  p
                    | Вид спорта:
                    =  @community.sport_type.name
                - if @community.place
                  p
                    ' Местонахождение:
                    =  @community.place.fullname
                =  simple_format @community.about
          - if membership.user_status < 1
            - add = ''
            - exit = 'hide'
          - else
            - add = 'hide'
            - exit = ''

          - if @community.type == "Team"  
            = link_to 'Вступить в команду', '/communities/'+@community.id.to_s+'/membership_request', {:remote => true, :id=>'membership_request_'+@community.id.to_s, class: 'btn btn-primary btn_add '+add}
            = link_to 'Выйти из команды', '/communities/'+@community.id.to_s+'/membership_cancel', {:remote => true, :id=>'membership_request_'+@community.id.to_s, class: 'btn btn-primary btn_remove '+exit}
          - else
            = link_to 'Вступить в группу', '/communities/'+@community.id.to_s+'/membership_request', {:remote => true, :id=>'membership_request_'+@community.id.to_s, class: 'btn btn-primary btn_add '+add}
            = link_to 'Выйти из группы', '/communities/'+@community.id.to_s+'/membership_cancel', {:remote => true, :id=>'membership_request_'+@community.id.to_s, class: 'btn btn-primary btn_remove '+exit}
          = link_to 'Пригласить друзей', '/communities/'+@community.id.to_s+'/invite', { class: 'btn btn-primary', style: 'margin-left: 10px;' }
          - if can? :update, @community
            = link_to 'Оповещения', notify_new_path(@community.id), { class: 'btn btn-primary', style: 'margin-left: 10px;' }
          - else
            - unless MembersRequest.exists? user_id:current_user.id, community_id:@community.id
              - if @community.type == 'Team' && !CommunityRole.exists?(:role => 'member', :user_id => current_user.id, :community_id => @community.id)
                = link_to 'Заявка', create_member_request_path(@community.id), { class: 'btn btn-primary', style: 'margin-left: 10px;' }
          - if can? :update, @community
            br
            br
            a href="#{edit_community_path(@community)}" title=""
              | Редактировать
            - if @community.type == 'Team'
              = link_to 'Выбрать противника', new_event_path(:invite_team1_id => @community.id, :kind => 2 )
              = link_to "Заявки: #{@community.members_requests.size}", index_member_request_path(@community.id )



        / h5 style='border-bottom: 1px dotted #709fd2;padding-bottom: 5px;'
        /   a.ajax_link onclick="$('#main_info').toggle(); $(this).find('span').toggle(); return false;"  href="#"
        /     ' Основная информация
        /     span.muted.hide style='font-weight: normal'
        /       ' (развернуть)
        /     span.muted style='font-weight: normal'
        /       ' (cвернуть)


      - if @community.type == 'Team'
        - finished_games = @community.finished_events.where(kind: 2)
        - if finished_games.any?
          .bottom_line
            .row.team_page
              .span4
                h2 Статистика игр:
              .span4
                h2 Площадки:

          .row
            .span8.findings
              - n = 0
              - finished_games.each do |finished_event|
                - n += 1
                .row.game_findings style='#{n > 3 ? 'display: none;' : ''}' class="#{n > 3 ? 'additional' : ''}"
                  .span4
                    span
                      = finished_event.date.strftime("%d.%m.%Y")
                      '
                      = link_to finished_event.name, finished_event
                    - if finished_event.result && finished_event.result != ''
                      div
                        = finished_event.result

                  .span4
                    - unless finished_event.place.nil?
                      span
                        = finished_event.place.name


          - if n > 3
            .span8.show_all.games_spots style="cursor:pointer;" onclick="$('.game_findings.additional').show(); $(this).hide(); $('.games_spots.hide_all').show();"
              a Показать все
            .span8.hide_all.games_spots style="cursor:pointer;display:none;" onclick="$('.game_findings.additional').hide(); $(this).hide(); $('.games_spots.show_all').show();"
              a Скрыть все
    .grpBody
      .row
        h1
          a href='/communities/#{@community.id.to_s}/photoalbums/'
            ' Фотографии
        div style='clear: both'
        - if @community.photoalbums.any?



          - i = 5
          - @community.photoalbums.each do |photoalbum|
            - if i > 0
              - photoalbum.photos.limit(i).each do |photo|
                div style='width: #{i==5 ? 49 : 24}%; margin: 0 1% 1% 0; float: left;'
                  a  href="/communities/#{@community.id}/photoalbums/#{photo.photoalbum_id}/photos/#{photo.id}" class='modal_link'
                    img class="img-rounded" src="#{photo.photo.thumb.url}"
                - i=i-1
          div style='clear: both'
        - else
          p.muted Фотографий пока нет

        br
        h1
          a href='/communities/#{@community.id.to_s}/videoalbums/'
            ' Видео
        div style='clear: both'
        - if @community.videoalbums.any?
          - i = 2
          - @community.videoalbums.each do |videoalbum|
            - if i > 0
              - videoalbum.videos.limit(i).each do |video|
                div style='width: 49%; margin: 0 1% 10px 0; float: left;'
                  a href="/communities/#{@community.id}/videoalbums/#{video.videoalbum_id}/videos/#{video.id}" class='modal_link'
                    img class="img-rounded" src="#{video.thumb}"
                - i=i-1

        - if !@community.videoalbums.any? || i==2
          p.muted Видео пока нет

      - if @community.type == 'Team'
        - waiting_events = @community.waiting_events
        - finished_events = @community.finished_events
        - if @community.type == 'Team' && (waiting_events.any? || finished_events.any?)
          .span8.bottom_line
            .row.team_page
              .span8
                h3 Мероприятия
              .span4
                b Будущие
              .span4
                b Прошедшие
          .span8.findings style="padding-bottom:20px;"

            .row.team_meropriyatia
              .span4
                - n = 0
                ul
                  - unless waiting_events.any?
                    li
                      span
                        ' Нет ни одного мероприятия
                  - waiting_events.each do |waiting_event|
                     - n += 1
                     - if n <= 3
                       li
                         span
                           = waiting_event.date.strftime("%d.%m.%Y")
                         = link_to waiting_event.name, waiting_event
                     - elsif n < 30
                       li.additional style="display:none;"
                         span
                           = waiting_event.date.strftime("%d.%m.%Y")
                         = link_to waiting_event.name, waiting_event
              .span4
                - m = 0

                ul
                  - unless finished_events.any?
                    li
                      span
                        ' Нет ни одного мероприятия
                  - finished_events.each do |finished_event|
                     - m += 1
                     - if m <= 3
                       li
                         span
                           = finished_event.date.strftime("%d.%m.%Y")
                         = link_to finished_event.name, finished_event
                     - elsif m < 30
                       li.additional style="display:none;"
                         span
                           = finished_event.date.strftime("%d.%m.%Y")
                         = link_to finished_event.name, finished_event
            - if n > 3 || m > 3
              .span8.show_all.events style="cursor:pointer;" onclick="$('.team_meropriyatia li.additional').show(); $(this).hide(); $('.events.hide_all').show();"
                a Показать все
              .span8.hide_all.events style="cursor:pointer;display:none;" onclick="$('.team_meropriyatia li.additional').hide(); $(this).hide(); $('.events.show_all').show();"
                a Скрыть все



      - if @community.type == 'Team'
        br
        h1
          a href='#{community_path}/members?type=team' Состав команды

        .row
          - @community.community_roles.where('community_roles.role = "member"').each do |role|
            - admin = role.user
            .span2 style='padding-bottom: 10px;'
              a href='#{user_path admin}'
                img src="#{admin.avatar.mini_thumb.url}" style='float: left;' class='img-rounded'

                div style='margin: 0 0 0 50px; line-height: 1.2; font-size: 12px'
                  strong
                    = admin.name
                div style='margin: 2px 0 0 50px; font-size: 11px; line-height: 1.2; color: #555;'
                  i
                    = role.role_description
                    - if role.role_description.nil? || role.role_description.empty?
                      p Игрок команды
                    - unless role.number.nil?
                      | , №
                      = role.number
                    - if !role.status.nil? && !role.status.empty?
                      ' ,
                      = role.status
        p.muted
          - unless @community.users_with_roles.where('community_roles.role = "member"').any?
            ' Пока нет ни одного участника команды.
        - if @community.is_admin?(current_user.id)
          p
            a.btn.btn-mini.btn-primary href="#{community_path(@community)}/members"  style='font-size: 12px;' Добавить участников в состав команды

        p.muted
          - if @community.is_member?(current_user.id)
            '  Вы входите в состав команды.

        - if @community.team_player_searches.any?
          h5 Требуются игроки:
          - @community.team_player_searches.each do |sp|
            p
              - if sp.sport_type
                - if sp.sport_type.depth > 1
                  = sp.sport_type.parent.name + ', '
                = sp.sport_type.name
                '
                span.muted
                  = UsersSportType::LEVELS.key(sp.level)
                  | &nbsp
                = link_to 'Найти игрока', search_users_path({search_player:1, sport_type_id:sp.sport_type_id, level:sp.level})


      br
      h1
        a href='#{community_path}/members?type=admins' Администрация

      .row
        - @community.users_with_roles.where('community_roles.role = "admin"').each do |admin|
          div.subscribes style='float: left; width: 100px; margin=left: 20px; '
            a href='#{user_path admin}'
              img src="#{admin.avatar.mini_thumb.url}" style='float: left;' class='img-rounded'
              div.subscribes style='float: left; width: 100px; margin=left: 20px; '
                  br
                  = admin.fname
                  br
                  = admin.lname

      p 
        - if @community.is_admin?(current_user.id)
          ' Вы входите в число администраторов.
      div style="height: 80px;"
      h1
        a href='#{community_path}/members'
          - if @community.type='Team'
            = RuPropisju.propisju_shtuk(@community.users.count, 1, ['болельшик','болельщика','болельщиков']).mb_chars.capitalize.to_s
          - else
            = RuPropisju.propisju_shtuk(@community.users.count, 1, ['участник','участника','участников']).mb_chars.capitalize.to_s

      - @community.users.limit(30).each do |user|
        div.subscribes style='float: left; width: 100px; margin=left: 20px; '
          a href='#{user_path user}'
            img src="#{user.avatar.small_thumb.url}" class='img-rounded has-tooltip' title="#{user.name}" data-toggle="tooltip" data-placement='bottom'
      div style='clear:both; height: 6px;'
      - if @community.users.count > 30
        p
          a href='#{community_path}/members' style='font-size: 12px;' Посмотреть всех


    = render partial: 'comments/form', locals: { model: @community, limit: 30, reverse: true}
