- if @user || @community || @event || @spot || @sport_event || @ad
  - entity = @community if @community
  - entity = @user if @user
  - entity = @event if @event
  - entity = @spot if @spot
  - entity = @sport_event if @sport_event
  - entity = @ad if @ad
  = simple_nested_form_for [entity, @photoalbum] do |f|

    = f.input :name, input_html: {:class => 'input-block-level'}

    = f.submit 'Сохранить изменения', :class => 'btn btn-primary', style: 'margin-top: 3px'







