h1
  ' Фон

div style="margin: 0 0 20px;"
  - obj_name = @photoalbum_sys.photoalbumable.class.to_s.underscore


.row
  - @photos_sys.each do |photo|
    .span2 style='margin-bottom: 15px;'
      =image_tag photo.photo
      p style='font-size: 11px; line-height: 1.33;  margin-left: 5px; margin-right: 5px;'
        = link_to 'Удалить'.html_safe, "#{admin_photos_path}/#{photo.id}", :confirm => 'Вы уверены?', :method => :delete

div style="margin: 0 0 20px;"
  - obj_name = @photoalbum_sys.photoalbumable.class.to_s.underscore
  - obj_name = 'community' if obj_name == 'team'
  =link_to "photoalbums/#{@photoalbum_sys.id}/upload"
    | Загрузить фото

h1
  ' Альбом для слайдеров

div style="margin: 0 0 20px;"
  - obj_name = @photoalbum_sli.photoalbumable.class.to_s.underscore


.row
  - @photos_sli.each do |photo|
    .span2 style='margin-bottom: 15px;'
      =image_tag photo.photo
      p style='font-size: 11px; line-height: 1.33;  margin-left: 5px; margin-right: 5px;'
        = link_to 'Удалить'.html_safe, "#{admin_photos_path}/#{photo.id}", :confirm => 'Вы уверены?', :method => :delete

div style="margin: 0 0 20px;"
  - obj_name = @photoalbum_sli.photoalbumable.class.to_s.underscore
  - obj_name = 'community' if obj_name == 'team'
  =link_to "photoalbums/#{@photoalbum_sli.id}/upload"
    | Загрузить фото
