
h1
  ' Фотоальбом
  = @photoalbum.name

div style="margin: 0 0 20px;"
  - obj_name = @photoalbum.photoalbumable.class.to_s.underscore
  - obj_name = 'community' if obj_name == 'team'
  =link_to "#{@photoalbum.id}/upload"
    | Загрузить фото


.row
