

- if @user
  - breadcrumb :user_photoalbum, @photoalbum, @user
- if @community
  - breadcrumb :community_photoalbum, @photoalbum, @community
- if @ad
  - breadcrumb :ad_photoalbum, @photoalbum, @ad

h1
  ' Фотоальбом
  = @photoalbum.name

= render 'upload'

=link_to 'Вернуться к системным альбомам'
