h1 Отправка обновлений
#posting_updates_id
=form_tag "/admin/posting_updates",:class=>"posting_updates_form"
  =text_area "posting_updates_field","",:placeholder => "Обновления которые прошли на сайте",:style=>"width: 650px; height: 400px"
  br
  =submit_tag "Отправить обновления пользователям", :class=>"btn btn-primary submit_to_invite"
