<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="google-site-verification" content="Po0j37dEyhlxnIN-qDmdd-wS9eLsgcQIW218p2eUSUU">
  <title><%= content_for?(:title) ? yield(:title) : "PlayTogether" %></title>
  <%= csrf_meta_tags %>
  <meta name="bitus" content="a0b64ffd68c0d6a1d94709a31e6a341a"/>
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :media => "all" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag "application" %>
  <script src="/javascripts/jquery.slides.js"></script>
</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar" class="<%= 'unauthored-main-body' unless current_user%>">

<div id="modal_container">
  <div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <a href="#"  class="modal_closer" data-dismiss="modal" aria-hidden="true" style="position: absolute; top: 15px; right: 15px; font-size: 36px; text-decoration: none; color: #777; z-index: 10000;">&times;</a>
    <div class="modal-body">
      <p>Загрузка...</p>
    </div>
    <div class="modal-footer">

      <button class="btn modal_closer" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    </div>
  </div>
</div>


<!-- Header -->
<header>
  <div class="container">
    <div class="row header">
      <div class="span4"><a href="/" title="" id="logo"><img src="/img/logo.png" alt=""/></a></div>
      <div class="span8">

        <div class="row padding_top" style="min-height: 23px">

          <%

             path = request.fullpath.split('/')

          %>


          <% unless current_user.nil? %>
              <div class="span3">

                <form class="navbar-search pull-left" action="/search/users">
                  <input name="q" type="text" class="search-query" placeholder="Поиск">
                  <button type="submit" class="search-sport">
                    <% if is_english %>
                        Search
                    <% else %>
                        Поиск
                    <% end %>
                  </button>
                </form>

              </div>
          <% end %>
          <div class="span2 language">
            <%= link_to 'рус', params.merge(language: 'rus'), class: "#{'language_active' if params['language'] == 'rus' || (!current_user && !params['language']) || (current_user && current_user.language != 'eng')}" %>
            /
            <%= link_to 'eng', params.merge(language: 'eng'), class: "#{'language_active' if params['language'] == 'eng' || (current_user && current_user.language == 'eng')}" %>
          </div>

          <% unless current_user.nil? %>
              <div class="span3 user_exit" style="text-align: right; font-size: 12px; margin-top: 3px">
                <span style="color:  #666; font-weight: bold">
              <%= current_user.fname %>
              <%= current_user.lname %>
              </span>
                <%= link_to is_english ? 'Exit' : 'Выйти' , destroy_user_session_path, :method => :delete %>
              </div>
          <% end %>
        </div>

        <% if current_user.nil? %>



            <ul class="top_menu">
              <li>
                <a href="/about" title="" class="btn btn-primary  <%= if path[1]=='about' then
                                                                          'active'.html_safe
                                                                        end; %>">
                  <% if is_english %>
                     Service
                  <% else %>
                     О сервисе
                  <% end %>

                  </a>
              </li>
              <li><a href="/features" title="" class="btn btn-primary <%= if path[1]=='features' then
                                                                            'active'.html_safe
                                                                          end; %>">
                <% if is_english %>
                    Ability
                <% else %>
                    Возможности
                <% end %></a></li>
              <li>
                <a href="/registration" title="" class="btn btn-primary modal_link" onclick="yaCounter28061058.reachGoal('Register'); return true;">
                  <% if is_english %>
                      Registration
                  <% else %>
                      Зарегистрироваться
                  <% end %></a>
              </li>
              <li><a href="/login" title="" class="btn btn-primary modal_link">
                <% if is_english %>
                    Enter
                <% else %>
                    Войти
                <% end %></a>
              </li>
            </ul>
        <% else %>


            <ul class="top_menu">
              <li><a href="/about" title="" class="btn btn-primary  <%= if path[1]=='about' then
                                                                          'active'.html_safe
                                                                        end; %>">
                <% if is_english %>
                    Service
                <% else %>
                    О сервисе
                <% end %> </a></li>
              <li><a href="/sport_events" title="" class="btn btn-primary  <%= if path[1]=='sport_events' then
                                                                                 'active'.html_safe
                                                                               end; %>">
                <% if is_english %>
                    News
                <% else %>
                    Новости спорта
                <% end %></a></li>
              <li><a href="/spots" title="" class="btn btn-primary  <%= if path[1]=='spots' then
                                                                             'active'.html_safe
                                                                           end; %>">
                <% if is_english %>
                    Spots
                <% else %>
                    Площадки
                <% end %></a></li>
              <li><a href="/ads" title="" class="btn btn-primary  <%= if path[1]=='ads' then
                                                                              'active'.html_safe
                                                                            end; %>">
                <% if is_english %>
                    Market
                <% else %>
                    Барахолка
                <% end %></a></li>
            </ul>

        <% end %>

      </div>

    </div>
  </div>
</header>
<!-- end Header -->


<!-- Video -->
<div class="container" id='main'>
  <div class="row">

    <% unless current_user.nil? %>

        <div class="span2 side_menu">
          <ul>
            <li <%= if path[1]=='users' && path[2].to_i==current_user.id && path[3].to_s=='' then
                      'class="active"'.html_safe
                    end; %>>
              <a href="/users/<%= current_user.id %>" title="">
                <% if is_english %>
                    My account
                <% else %>
                    Моя страница
                <% end %></a>
            </li>
            <li <%= if path[1]=='messages' then
                      'class="active"'.html_safe
                    end; %>>
              <a href="/messages" title="">
                <% if is_english %>
                    Messages
                <% else %>
                    Сообщения
                <% end %>
                <%
                   count = Message.where(receiver_status: 0, receiver_id: current_user.id).count

                   if count > 0 %><sup class="badge-count"><%= count %></sup>
                <% end %></a>

            </li>
            <li <%= if path[1]=='users' && path[2].to_i==current_user.id && path[3].to_s=='friends' then
                      'class="active"'.html_safe
                    end; %>>
              <a href="/users/<%= current_user.id %>/friends" title="">
                <% if is_english %>
                    Friends
                <% else %>
                    Друзья
                <% end %>
                <%
                   count = Friend.where(status: 0, user_id: current_user.id).count

                   if count > 0 %><sup class="badge-count"><%= count %></sup>
                <% end %></a>

            </li>
            <li <%= if path[1]=='communities?type=Team' then
                      'class="active"'.html_safe
                    end; %>><a href="/communities?type=Team" title="">
              <% if is_english %>
                  Teams
              <% else %>
                  Команды
              <% end %>
              <%
                 communities = Membership.where(user_status: 0, user_id: current_user.id)
                 teams_count = 0
                 infogroups_count = 0
                 communities.each do |c|
                   teams_count += 1 if c.community.type == 'Team'
                   infogroups_count += 1 if c.community.type == 'Infogroup'
                   end

                 if teams_count > 0 %><sup class="badge-count"><%= teams_count %></sup>
              <% end %></a></li>
            <li <%= if path[1]=='communities?type=Infogroup' then
                      'class="active"'.html_safe
                    end; %>><a href="/communities?type=Infogroup" title="">
              <% if is_english %>
                  Groups
              <% else %>
                  Группы
              <% end %>
              <%


                 if infogroups_count > 0 %><sup class="badge-count"><%= infogroups_count %></sup>
              <% end %></a></li>
            <li <%= if path[1]=='events' then
                         'class="active"'.html_safe
                       end; %>><a href="/events" title="">
              <% if is_english %>
                  Arranged activities
              <% else %>
                  Мероприятия
              <% end %></a></li>
            <li <%= if path[1]=='users' && path[2].to_i==current_user.id && path[3].to_s=='photoalbums' then
                      'class="active"'.html_safe
                    end; %>>
              <a href="/users/<%= current_user.id %>/photoalbums" title="">
                <% if is_english %>
                    Photos
                <% else %>
                    Фотографии
                <% end %></a>
            </li>
            <li <%= if path[1]=='users' && path[2].to_i==current_user.id && path[3].to_s=='videoalbums' then
                         'class="active"'.html_safe
                       end; %>><a href="/users/<%= current_user.id %>/videoalbums" title="">
              <% if is_english %>
                  Videos
              <% else %>
                  Видеоролики
              <% end %></a></li>
            <li <%= if path[1]=='favorites' then
                         'class="active"'.html_safe
                       end; %>><a href="/favorites" title="">
              <% if is_english %>
                  Preferred
              <% else %>
                  Избранное
              <% end %></a></li>
            <% if current_user && Invite.where(:admin_id => current_user.id).size > 0 %>
                <li <%= if path[1]=='invites' then
                          'class="active"'.html_safe
                        end; %>><a href="/invites" title="">
                  <% if is_english %>
                      Invitations
                  <% else %>
                      Приглашения
                  <% end %><sup class="badge-count"><%= Invite.includes(:community).where(:admin_id => current_user.id).size %></sup></a></li>
            <% end %>
            <% if can? :create, Advert%>
                <li><a href="/adverts" title="">Реклама</a></li>
            <% end %>
            <% if can? :create, KeyValue%>
                <li><a href="/key_values" title="">Система</a></li>
            <% end %>

          </ul>

          <div class="adverts">
             <%= raw Advert.first.html if Advert.first %>
          </div>

          <!--
          <img src="/img/banner.jpg" alt="" class="hidden-phone"/><br/>
          <br/><img src="/img/banner.jpg" alt="" class="hidden-phone"/>
          -->
        </div>

    <% end %>
    <div class="span<%= current_user.nil? ? '12' : '8' %> content">


      <%= bootstrap_flash %>
      <nav class="breadrumbs">

          <%= breadcrumbs separator: " » ", current_class: 'hide' %>

      </nav>
      <%= yield %>

    </div>

    <% unless current_user.nil? %>
        <div class="span2">

          <%= yield :right_sidebar %>

          <h5 style="margin-top: 4px">Возможно, Вы их знаете:</h5>
          <%
             users = User.limit(5).order("RAND()")
             users.each do |user|
               unless user.id == current_user.id || current_user.friends.pluck(:friend_id).include?(user.id)
          %>

                  <div style="line-height: 1">
                    <a href='<%= user_path user %>' style="font-size: 12px; display: block;">
                      <img src="<%= user.avatar.mini_thumb.url %>" style='float: left; margin-right: 7px;' class='img-rounded'>
                      <strong><%= user.fname %>

                        <%= user.lname %></strong>
                    </a>
                  </div>
                  <div style="clear: both; height: 7px;"></div>
              <%
                 end
                 end
              %>

          <h5 style="margin-top: 20px">Вам будет интересно:</h5>
          <%
             users = Community.limit(5).order("RAND()")
             users.each do |user|
               unless user.id == current_user.id || current_user.communities.pluck(:id).include?(user.id)
          %>
              <div style="line-height: 1">
                <a href='<%= community_path user %>' style="font-size: 12px;">
                  <img src="<%= user.avatar.mini_thumb.url %>" style='float: left; margin-right: 7px;' class='img-rounded'>
                  <strong><%= user.name %></strong>
                  <br>
                      <span style="font-size: 11px">
                      <% if user.type == 'Team' %>
                        Команда,

                       <% else %>
                      Группа,
                      <% end %>

                        <%= user.memberships.count.to_s + ' ' + Russian.p(user.memberships.count, 'участник', 'участника', 'участников') %>
                        </span>
                </a>

              </div>
              <div style="clear: both; height: 7px;"></div>
          <%
             end
             end
          %>

          <br>
          <br>

          <!--
          <img src="/img/banner.jpg" alt="" class="hidden-phone"/><br/>
          -->
        </div>

    <% end %>

  </div>
</div>

<% if current_user.nil? %>

    <!-- Home_info -->
    <div class="container">
      <div class="row">
        <div class="span5 home_info">
          <% if is_english %>
              Organization of team games and sport activities
          <% else %>
              Сервис для организации командных игр и спортивных мероприятий
          <% end %></div>
        <div class="span4 user_counter">
          <span><%= "%04d" % User.count %></span>
          <% if is_english %>
              <%= Russian.p(User.count, 'participant', 'participants', 'participants') %>
          <% else %>
              <%= Russian.p(User.count, 'участник', 'участника', 'участников') %>
              <% end %>

        </div>
        <div class="span3 join">
          <a href="/registration" class="modal_link" style="min-width: 200px;" onclick="yaCounter28061058.reachGoal('Register'); return true;">
            <% if is_english %>
                Enter
            <% else %>
                Присоединиться
            <% end %>
            </a></div>
      </div>
    </div>
    <!-- end Home_info -->

    <!-- Home_news -->
    <div class="container home_news">
      <div class="row">

        <div class="span12"><h2>
          <% if is_english %>
              News
          <% else %>
              Новости
          <% end %></h2></div>


        <% SportEvent.order('date DESC').limit(3).each do |n| %>
            <div class="span4">
              <div class="row">
                <div class="span1"><img src="<%= n.image.small_thumb.url %>" alt="" class="img-rounded img-rounded-border"/>
                </div>
                <div class="span3">
                  <span class="muted" style="font-size: 11px"><%= Russian::strftime(n.date, '%d %B %Y в %H:%M') %></span>
                  <h5 style="color: #3d6ca0; margin: 0 0 5px; line-height: 1.2"><%= n.header %></h5>

                  <p><%= n.announce %></p>
                </div>
              </div>
            </div>
        <% end %>


      </div>
    </div>
    <!-- end Home_news -->
<% end %>



<!-- Footer -->
<footer>
<div class="container footer" style="padding-top: 5px;">
  <div class="row">
    <div class="span5">2013&mdash;2015 © PlayTogether: Ассоциация любительского спорта</div>
    <div class="span3">
      <script type="text/javascript" src="//yandex.st/share/share.js"
      charset="utf-8"></script>
      <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none"
           data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir,gplus,yaru"></div>

    </div>
    <div class="span2 binding">
      <img src="/img/mail.png" alt="" style="margin-top: -2px"/>
      <a href="#supportModal" role="button" style="text-decoration:none;" data-toggle="modal">info@playtoget.com</a></div>
    <div class="span2 creator">
      <a href="/advert" title="" style="text-decoration: none;">Реклама на сайте</a></div>
  </div>
</div>

  <div id="supportModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Обратная связь</h3>
    </div>
    <div class="modal-body">
        <%= text_field_tag 'support_email', '', style:'width:515px;', placeholder: 'Ваш Email' %>

        <%= text_area_tag 'support_body', '', style: 'width:515px;', placeholder: 'Текст' %>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary send-btn">Отправить</button>
    </div>
  </div>

</footer>
<!-- end Footer -->

<a id="toplink" href="#top" style="display: none;">&uarr; <span>Наверх</span></a>

<!-- Yandex.Metrika counter --><script type="text/javascript">var yaParams = {/*Здесь параметры визита*/};</script><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter28061058 = new Ya.Metrika({id:28061058, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true,params:window.yaParams||{ }}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><!-- /Yandex.Metrika counter -->

<script>
    window.onscroll = function toplink() {
        document.getElementById('toplink').style.display = (window.pageYOffset > '300' ? 'block' : 'none');
    }
</script>

</body>
</html>
