<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="Po0j37dEyhlxnIN-qDmdd-wS9eLsgcQIW218p2eUSUU" />
  <title><%= content_for?(:title) ? yield(:title) : "PlayTogether" %></title>
  <%= csrf_meta_tags %>

  <% unless params[:modal].present? %>

      <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
      <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

        <%= stylesheet_link_tag "reset", :media => "all" %>
        <%= stylesheet_link_tag "project", :media => "all" %>
        <%= stylesheet_link_tag "logoL", :media => "all" %>
        <%= stylesheet_link_tag "style", :media => "all" %>
        <%= stylesheet_link_tag "2", :media => "all" %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= javascript_include_tag "application" %>

  <% end %>
</head>


<body class="reg">
  <%= yield %>
</body>	
</html>