<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <title><%= content_for?(:title) ? yield(:title) : "PlayTogether" %></title>
  <%= csrf_meta_tags %>
  <meta name="bitus" content="a0b64ffd68c0d6a1d94709a31e6a341a"/>
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag "reset", :media => "all" %>
  <%= stylesheet_link_tag "project", :media => "all" %>
  <%= stylesheet_link_tag "logoL", :media => "all" %>
  <%= stylesheet_link_tag "style", :media => "all" %>
  <%= stylesheet_link_tag "2", :media => "all" %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag "application" %>
</head>


<body>
  <div id="modal_container">
    <br><br><br><div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
      <a href="#"  class="modal_closer" data-dismiss="modal" aria-hidden="true" style="position: absolute; top: 15px; right: 15px; font-size: 36px; text-decoration: none; color: #777; z-index: 10000;">&times;</a>
      <br><br>
      <div class="modal-body">
        <p>Загрузка...</p>
      </div>
      <div class="modal-footer">

        <button data-dismiss="modal" aria-hidden="true">Закрыть</button>
      </div>
    </div>
  </div>
<header class="topContainer">
    <div class="headerLeft">
        <div class="headerLogotype">
            <h1><a href="/"><div class="logoIco"><i class="logoL">L</i></div><span class="leftSpan">Playtogether</span></a></h1>
        </div>
        <div class="search">
          <form action="/search/users">
            <input name="q" type="search" placeholder="Поиск">
            <button class="searchButton">a</button>
          </form>
        </div>
    </div>
    <div class="header-right">
        <img src=<%= current_user.avatar.mini_thumb %> alt="">
        <ul>
            <li><a href="/messages/" data-aside class="<%= Message.where('receiver_id = ?', current_user.id).where('receiver_status = 0').count > 0 ? 'activ' : '' %>"><i class="ico">j</i><span>  <%= Message.where('receiver_id = ?', current_user.id).where('receiver_status = 0').count %></span></a></li>
            <li><a href="/users/<%= current_user.id %>/friends/" class="<%= current_user.friends_users.where('friends.status = 0').count > 0 ? 'activ' : '' %>"  data-aside><i class="ico icon-people1"></i><span><%= current_user.friends_users.where('friends.status = 0').count %></span></a></li>
            <li><a href="/users/<%= @current_user.id %>/edit"><i class="ico icon-flywheel1"></i></a></li>
            <li>
              <div class="language">
                <%= link_to 'Рус', params.merge(language: 'rus') %>
                /
                <%= link_to 'Eng', params.merge(language: 'eng') %>
              </div>
            </li>
            <li><%= link_to "Выйти", destroy_user_session_path, method: :delete %></li>
        </ul>
    </div>
</header>

<div class="container">

	<%= render partial: "/partials/left_menu" %>
  <%= yield %>
  <%= render "partials/interests" %>
    <footer class="foot">

        <p>© 2013−<%= Time.now.year %> © PlayTogether: Спорт внутри</p>
        <ul>
        <li>
            <a href="/about">
              <% if is_english %>
                  About
                <% else %>
                  О сервисе
                <% end %></a></li>
            <li>
              <a href="/features">
                <% if is_english %>
                    Features
                <% else %>
                    Возможности
                <% end %>
              </a>
            </li>
            <li><a href="/advert">
              <% if is_english %>
                Advertising
              <% else %>
                Реклама на сайте
              <% end %>
            </a></li>
             <li><a href="/offerta">
              <% if is_english %>
                User agreement
              <% else %>
               Пользовательское соглашение
              <% end %>
            </a></li>
            
            <li><a href="/rules">
              <% if is_english %>
                User's rules
              <% else %>
               Правила пользования сайтом
              <% end %>
            </a></li>
            
            
        </ul>
            <div class="span3">
              <script type="text/javascript" src="//yandex.st/share/share.js"
              charset="utf-8"></script>
              <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none"
                   data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir,gplus,yaru"></div>
            </div>

    </footer>
</div>
</body>
</html>
