<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="Po0j37dEyhlxnIN-qDmdd-wS9eLsgcQIW218p2eUSUU" />
  <title><%= content_for?(:title) ? yield(:title) : "PlayTogether" %></title>
  <%= csrf_meta_tags %>

  <% unless params[:modal].present? %>

      <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
      <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

        <%= stylesheet_link_tag "reset", :media => "all" %>
        <%= stylesheet_link_tag "project", :media => "all" %>
        <%= stylesheet_link_tag "logoL", :media => "all" %>
        <%= stylesheet_link_tag "style", :media => "all" %>
        <%= stylesheet_link_tag "2", :media => "all" %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= javascript_include_tag "application" %>

  <% end %>
</head>


<body class="reg">
  <style>
    .containerRegistr > footer {
        position: relative;
        bottom: 0px;
    }
  </style>
  <nav></nav>
  <div class="containerRegistr">
      <ul>
          <li>
            <a href="/features">
              <% if is_english %>
                  Features
              <% else %>
                  Возможности
              <% end %>
            </a>
          </li>
          <li><a href="/about">
            <% if is_english %>
                About
              <% else %>
                О сервисе
              <% end %></a></li>
          <li><a href="/advert">
            <% if is_english %>
              Advertising
            <% else %>
              Реклама на сайте
            <% end %>
          </a></li>
      </ul>

      <div class="logoInCenter">
          <a href="/">
              <div class="logoIco"><i>L</i></div>
              <p>Playtogheter</p>
          </a>

      </div>
      <br>
      <br>
        <%= yield %>

      <footer>

          <p>© 2013−2015 © PlayTogether: Спорт внутри!</p>
          <ul class="footerMenu">
          <li><a href="/about">
            <% if is_english %>
                About
              <% else %>
                О сервисе
              <% end %></a></li>
          <li>
            <a href="/features">
              <% if is_english %>
                  Features
              <% else %>
                  Возможности
              <% end %>
            </a>
          </li>
          <li><a href="/advert">
            <% if is_english %>
              Advertising
            <% else %>
              Реклама на сайте
            <% end %>
          </a></li>
           <li><a href="/offerta">
              <% if is_english %>
                User agreement
              <% else %>
               Пользовательское соглашение
              <% end %>
            </a></li>
            
            <li><a href="/rules">
              <% if is_english %>
                User's rules
              <% else %>
               Правила пользования сайтом
              <% end %>
            </a></li>
          </ul>

        <ul class="nomargin">
              <li><a href="#" id="vk"></a></li>
              <li><a href="#" id="youtube"></a></li>
              <li><a href="#" id="twitter"></a></li>
              <li><a href="#" id="facebook"></a></li>
          </ul>

      </footer>
  </div>
</body>
</html>
